{% extends "base.html" %}

{% load static %}
{% load urls biens_extras static %}
{% load urls actualite_extras static %}
{% block style %}
<style>

@media screen and (min-width: 767px){
  .titre{
    height:40px;
  }
}
@media screen and (min-width: 1200px){
  .height_custom{
    height: 400px;
  }
  .margin_bs{
    margin-left:16px!important;
  }
}

.mg-bottom-sm{
  margin-bottom:75px;
}
@media screen and (min-width: 767px)  and (max-width: 991px){
  .height_custom{
    height: 290px;
  }
  .margin_bs{
    margin-left:16px!important;
  }
}
@media screen and (min-width: 992px)  and (max-width: 1199px){
  .height_custom{
    height: 350px;
  }
  .margin_bs{
    margin-left:16px!important;
  }

}

</style>
  {% endblock style %}



{% block container %}
{%block actu %}
<div class="container mg-bottom-sm"  >
  <div class="row" >
      <div class="home-nav-text col-xs-offset-0 col-md-offset-2 " style="font-size: 22.5px;text-transform: uppercase; font-weight:normal !important">Actualités</div>
  <hr>

          {%endblock actu %}
              <div class="row ">

            {% for actu in view.actualites %}
            {%if forloop.counter0|divide:2 == 0 %}
            <div class="panel   height_custom  col-lg-offset-2 col-lg-4 col-md-offset-2 col-md-4 col-sm-4 col-xs-10 col-xs-offset-1"
              style="border-radius: 0px;border-width: thin;border-color:#aeb3ba; {% if forloop.counter > 2 %}{%else%}margin-top:12px!important;{% endif%}">
              <a href="/actualite/actualite/{{actu.id}}" >
                  <div class="img-responsive img ratio-4-3 " style="margin-top:16px!important;background-image:url('{{ actu.img_actu.url }}')"></div>
              </a>
              <h3 class="titre" style="font-size: 19px ;font-weight: bold">
                    {{ actu.titre }}
              </h3>
              <span style="z-index:10 ; align:bottom; color:#4abac0"><b>Publié le {{actu.date|date:"d F Y"|lower}}</b></span>
            </div>
              {%else%}

              <div class="panel  margin_bs  height_custom col-lg-offset-2 col-lg-4  col-md-offset-0 col-md-4 col-sm-4 col-xs-10 col-xs-offset-1 "
                style=";border-radius: 0px;border-spacing:10px;border-width: thin;border-color:#aeb3ba;
                {% if forloop.counter > 2 %}{%else%}margin-top:12px!important;{% endif%}">
                <a href="/actualite/actualite/{{actu.id}}" >
                    <div class="img-responsive img ratio-4-3 " style="margin-top:16px!important;background-image:url('{{ actu.img_actu.url }}')"></div>
                </a>
                <h3 class="titre" style="font-size: 19px ;font-weight: bold">
                      {{ actu.titre }}
                </h3>
                <span style="align:bottom; color:#4abac0"><b>Publié le {{actu.date|date:"d F Y"|lower}}</b></span>
              </div>
              {%endif%}



            {% endfor %}
          </div>

<!--
        <div class="col-md-2 col-xs-6 col-md-offset-0  chercher_bien" >
          {% block chercher_bien%}

            <div class="row">
                <div class="col-md-4 col-md-offset-0 col-xs-offset-10" style="padding-top: 70px">
                    <div class="button-sh">
                        <form method="get" action="{% url 'annonce-list' %}">
                            <button type="submit" class="sh_b_blue_sm "> <span style="font-size: 15.5px">chercher un bien</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12  col-xs-offset-6 col-md-offset-0  form-sh cell">
                    <form method="get" action="{% url 'annonce-list' %}">
                        <div class="row">
                            <div class="col-md-12">
                                <input class="styleinput fix-tall" type="text" id="id_loc" name="localisation"  placeholder="Saisissez une ville, un quartier, un code postal">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 input_type_bien">
                                <select class="styleinput" id="id_type" name="type">
                                  {% for value in view.getTypeBien  %}

                                <option value="{{ TYPES_BIENS|hash_value:value }}">{{ TYPES_BIENS|hash:value }}</option>
                                {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3 col-xs-12 input_budget_max">
                                <input  class="styleinput disable_d" disabled=true name="max_prix" min="0" id="id_prix" placeholder="Budget max €">
                            </div>
                            <div class="col-md-4 col-xs-12 input_surface_min">
                                <input class ="styleinput disable_d" disabled=true name="min_surface" min="0" id="id_surface" placeholder="Surface min m²"   type="number" >
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <a href="{% url 'recherche-plus-annonce' %}">
                                    <button type="button" class="btn" style="text-transform:none;padding-left: 0px;">
                                        <span class="glyphicon glyphicon-plus" style="color:#4abac0;font-size: 140%;"></span>
                                        <span style="color:#333333;font-size: 14px;"> Plus de  critères
                                        </span>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-4 col-md-4">
                                 <button class=" sh_b_blue_sm"  type="submit" style="font-size: 15.5px;margin-top:35px;margin-bottom: 5px" > RECHERCHEZ &nbsp<span class="glyphicon glyphicon-search" aria-hidden="true"></span> </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% endblock chercher_bien%}

        </div>
-->
<div style=padding-bottom:50px">

            {% include "includes/pagination.html" %}
          </div>
      </div>
  </div>
</div>
{% endblock container %}
{% block script %}
<script type="text/javascript">



</script>
{% endblock script %}
