{% extends "actualite/actualite_list.html" %}

{% load static actualite_extras %}

{% block title %}
Speedhousing - {{ object }}
{% endblock title %}


{% block style %}
<style>
  .shareText{
    text-align:center !important;
  }

.cell{
  width:400px !important;

}

@media screen and (max-width: 359px){
   .shareText{
     font-size:12px !important;;
   }
}

.share.sharrre .share{
color: red !important;
display: block !important;
height: 200px !important;

}

    body {
        background: #f6f6f6;
        padding-bottom: 100px;
    }
    input[type=number] {
        -moz-appearance: textfield;
        height: 29px;
        width: 110px;

    }
    .form-control{
        background-color: #f6f6f6;
        :placeholder{
            color: #333333;
        }
    }
    div.panel-heading{
        padding: 10px 5px 5px 12px;

    }

    div.panel-primary{
        margin-bottom: 5px;
    }
    div.panel-body{
        padding: 5px 5px 5px 5px;
    }
    div.panel-footer{
        padding: 5px 5px 5px 5px;
    }

    .actualite_post{
      font-size: 19px;
      text-align: justify;
    }


    /* Shared */
    .loginBtn {
      box-sizing: border-box;
      position: relative;
      /* width: 13em;  - apply for fixed size */
      margin: 0.6em;
      padding: 0 5px 0 40px;
      border: none;
      text-align: center;
      line-height: 38px;
      white-space: nowrap;
      border-radius: 0.2em;
      font-size: 16px;
      color: #FFF;
    }
    .loginBtn:before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 100%;
    }
    .loginBtn:focus {
      outline: none;
    }
    .loginBtn:active {
      box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
    }
    img{
      max-width : 500px;
    }


    /* Facebook */
    .loginBtn--facebook {
      background-color: #4C69BA;
      background-image: linear-gradient(#4C69BA, #3B55A0);
      /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
      text-shadow: 0 -1px 0 #354C8C;
    }
    .loginBtn--facebook:before {
      border-right: #364e92 1px solid;
      background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
    }
    .loginBtn--facebook:hover,
    .loginBtn--facebook:focus {
      background-color: #5B7BD5;
      background-image: linear-gradient(#5B7BD5, #4864B1);
    }


    .loginBtn--linkdin {
      background-color: #005887;
      background-image: linear-gradient(#007bb6, #007bb6);
      /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
      text-shadow: 0 -1px 0 #005887;
    }
    .loginBtn--linkdin:before {
      border-right: #007bb6 1px solid;

      background: url("{% static 'img/logo-linkedin.png' %}") 2px 2px no-repeat;


    }
    .loginBtn--linkdin:hover,
    .loginBtn--linkdin:focus {
      background-color: #007bb6;
      background-image: linear-gradient(#007bb6, #007bb6);
    }

@media screen and (min-width: 640px){

  .ml-md{
    margin-left:-12px;

  }
}



</style>
{% endblock %}



{% block container %}
<div class="container" style="padding-bottom:70px; max-width:100%">

    <div class="row">
      <div class="home-nav-text col-md-offset-2 col-sm-offset-0 col-xs-offset-0  col-xs-12" style="font-size: 22.5px;text-transform: uppercase; font-weight:normal !important;" >
        <p class=" ml-md">Actualités</p>
      </div>
    </div>
      <div class="row" style="margin-top:-20px">
        <hr>
        <div class="col-md-8 col-md-offset-2 col-sm-offset-0 col-xs-offset-0 " >
                <div  style="font-size: 36px !important;text-align: left;  ">{{ actualite.titre }}</div>
                <div>
                  <span class="text-muted " style="font-size: 18px;text-align: left ;">Par  {{actualite.nom }} {{ actualite.prenom  }}
                  | le {{actualite.date|date:"d F Y"|lower}}</span> </div>
<br>
</div>
<div class="col-md-8 col-md-offset-2 col-sm-offset-0 col-xs-offset-0 col-xs-12"  >

              <div class="img-responsive img ratio-4-3" style="background-image:url('{{ actualite.img_actu.url }}');max-height:450px;"></div>
              <div class="row" style="margin-top:12px;">


                  <div id="fb-root"></div>
                  <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;

                js = d.createElement(s); js.id = id;

                js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.1';

                fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));
                  </script>

                </div>
                <div class="col-lg-4 col-lg-offset-2 col-md-5 col-sm-4 col-md-offset-1 col-sm-offset-2 col-xs-5 col-xs-offset-1 "data-href="http://www.speedhousing.fr/actualite/actualite/{{actualite.id}}" data-layout="button" data-size="large" data-mobile-iframe="true">
                  <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A8000%2Factualite%2Factualite%2F1&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">

              <button class="loginBtn loginBtn--facebook" style="width:100%" data-href="http://www.speedhousing.fr/actualite/actualite/{{actualite.id}}" data-layout="button">
                <span class="shareText">
                Partager sur Facebook
                </span>
            </button>
          </a>
          </div>
          <div class="col-lg-4 col-md-5 col-sm-4 col-md-offset-0 col-sm-offset-0  col-xs-5  col-xs-offset-0 " data-href="http://www.speedhousing.fr/actualite/actualite/{{actualite.id}}" data-layout="button" data-size="large" data-mobile-iframe="true">
            <a target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&url=http://www.speedhousing.fr/actualite/actualite/{{actualite.id}}&title={{actualite.titre}}&source=speedhousing" class="fb-xfbml-parse-ignore">

        <button  class="loginBtn loginBtn--linkdin " style="width:100%" data-href="http://www.speedhousing.fr/actualite/actualite/{{actualite.id}}" data-layout="button">
          <span class="shareText">
          Partager sur Linkedin
          </span>

      </button>
    </a>
    </div>


    <br/>
    <br/>

            <div class="actualite_post top_space-30">

            </div>


    </div>

      </div>
    </div>
  </div>
{% endblock container %}


{% block script %}
<script type="text/javascript">
$(document).ready(function(){

	var type = "{{actualite.post|linebreaks}}";
  var t = $('.actualite_post').html(type).text();
  $('.actualite_post').html(t);
  // t=type.replace(new RegExp('&lt;', 'g'), '<');
  // t=t.replace(new RegExp('&gt;', 'g'),'>');
  // console.log(t);
  //
  // t=t.replace(new RegExp('&amp;nbsp;','g'),' : ');
  // t=t.replace(new RegExp('&quot;','g'),'"');


});
if (window.matchMedia("(max-width: 580px)").matches) {
  $('.shareText').text("Partager");

}

</script>
{% endblock script %}
