<div class="alert alert-warning alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	S'il s'agit de votre compte, nous vous invitons à <a href="{% url 'password_reset' %}">réinitialiser votre mot de passe</a> ou a <a href="{% url 'login' %}">vous connecter</a> en utilisant cette adresse email.
</div>