<div class="alert alert-info alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	
	Si vous etes simplement curieux et souhaiteriez decouvrir nos produits. 
	Nous serons heureux de pouvoir vous les presenter. contactez nous. à travers le formulaire de contact.... blablabla

</div>