
{% if rdv.deleted %}
<span class="color_red " style="font-weight: bold;font-size: 15px">
    Annulé
</span>
{% elif rdv.visite %}
<span class="color_blue " style="font-weight: bold;font-size: 15px">
    Visité 
</span>
{% elif rdv.in_past %}
<span class="color_blue " style="font-weight: bold;font-size: 15px">
    Confirmé
</span>
{% else %}
<span class="color_or " style="font-weight: bold;font-size: 15px">
    Attente visite
</span>
{% endif %}

