{% extends "utilisateurs/clients/espace.html" %}
{% load static humanize biens_extras %}

{% block content %}
<div class="col-md-9">
    <div class="title_p1" style="font-size: 22.5px;text-transform: uppercase">Mes favoris</div>
    {% if object_list %}
    {% for bien in object_list %}
    <div class="panel panel-default tab_10">
        <div class="panel-body" style="padding-bottom: 10px">
            <div class="row">
                <div class="col-md-4">
                    <div class="img-responsive img-thumbnail ratio-4-3" style="background-image:url('{{ bien.get_photo_url }}')"></div>
                    </div>
                    <div class="col-md-8">
                        <form method="POST" action="{% url 'utilisateurs:mes-favoris' %}">
                            {% csrf_token %}

                            <input type="hidden" name="favori" value="{{ bien.nb_mandat }}">

                            <button class="sh_b_del_sm btn-xs pull-right ac_b" type="submit" class="close" >
                                <span style="font-size: 15px">&times;</span>
                            </button>
                        </form>
                        <div class="row top_space-30" style="margin-left: -25px">
                            <div class="col-md-9" style="margin-top: -5px">
                                <h4 style="font-size: 18px" >
                                    {{ bien.get_type }} {{ bien.surface }} m² - <span class="text-muted"> {{ bien.ville |title }} {{ bien.code_postal  }} </span>
                                </h4>
                                
                                <p style="padding-top: 5px">
                                    <span class="label  label-success" style="font-size: 13px">{{ bien.surface }} m²</span> &nbsp;
                                    <span class="label  label-success" style="font-size: 13px">{{ bien.pieces }} pièces</span> &nbsp;
                                    <span class="label  label-success" style="font-size: 13px">{{ bien.chambres }} chambres </span> 
                                </p>
                            </div>
                            
                            <div class="col-md-3">
                                <p class=" pull-right " style="margin-right: -9px"> <span style="font-size: 19px">{{ bien.prix|price_format  }}&nbsp;€</span></p>
                            </div>
                        </div>
                        
                        <div class="btn-group pull-right" style="margin-right: -9px">
                            <form method="post" action="{% url 'utilisateurs:mes-favoris' %}" style="float: left">
                                {% csrf_token %}
                                <input type="hidden" name="favori" value="{{ bien.nb_mandat }}">
                                <button type="submit" class="btn btn-xs but_bot" style="margin-top: 37px">
                                    {% if bien in request.user.client.favoris.all %}
                                    <img src="{% static "img/heart2.png" %}" title="Supprimer de mes favoris" style="margin-top: 18px">
                                    {% else %}
                                    <img src="{% static "img/vide.png" %}" title="Ajouter dans mes favoris">
                                    {% endif %}
                                </button>
                            </form>
                            <a href="{% url 'annonce' bien.nb_mandat %}" class="btn btn-default pull-left btn-sm but_bottom" style="border-radius: 5px">
                                <img  src="{% static "img/add.png" %}" style="margin-top: -5px"> 
                                <span style="font-size: 16px;text-transform: none">  &nbsp;de détails </span>
                            </a>
                        </div>							
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% include "includes/pagination.html" %}
        {% else %}
        <div class="alert alert-warning" role="alert">
            
            <button type="button" class="close" data-dismiss="alert" aria-label="Fermer">
                <span aria-hidden="true">&times;</span>
            </button>
            
            <strong>
                Vous n'avez aucune annonce dans vos favoris. 
            </strong> 
            <br>
            
            Parcourez <a href="{% url 'annonce-list' %}"> les annonces </a> et ajoutez des biens dans vos favoris en cliquant sur l'icon <span class="glyphicon glyphicon-heart"></span>
           
        </div>
        {% endif %}
    </div>
    {% endblock content %}
    
