{% extends "utilisateurs/clients/espace.html" %}

{% load humanize static biens_extras %}
{% block content %}
<div class="col-md-9">
    <div class="title_p1"><span style="font-size: 22.5px;text-transform: uppercase">Mes visites</span></div>
    {% if object_list %}
    {% for rdv in object_list %}
    <div class="panel panel-default tab_10">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="img-responsive img-thumbnail ratio-4-3" style="background-image:url('{{ rdv.bien.get_photo_url }}')"></div>
                </div>

                <div class="col-md-8"> 
                       <form method="POST" action="{% url 'utilisateurs:mes-favoris' %}">
                        {% csrf_token %}
                        <input type="hidden" name="favori" value="{{ rdv.bien.nb_mandat }}">
                        
                        
                    </form>
                    <div class="row top_space" >
                        <div class="col-md-9 " >
                            <div style="font-size: 18px;padding-bottom: 5px;margin-top: -10px" >
                                {{ rdv.bien.get_type }} {{ rdv.bien.surface }} m² - <span class="text-muted"> {{ rdv.bien.ville |title }} {{ rdv.bien.code_postal  }} </span>
                            </div>

                            <p style="padding-bottom: 13px">
                                <span class="label  label-success" style="font-size: 13px">{{ rdv.bien.surface }} m²</span> &nbsp;
                                <span class="label  label-success" style="font-size: 13px">{{ rdv.bien.pieces }} pieces</span> &nbsp;
                                <span class="label  label-success" style="font-size: 13px">{{ rdv.bien.chambres }} chambres </span> 
                            </p>
                        </div>

                        <div class="col-md-3" style="margin-top: -10px">                         
                            <p class=" pull-right " ><span style="font-size: 19px;">{{ rdv.bien.prix|price_format  }}&nbsp;€</span></p></div>
                    </div>
                    <p class="sh-vendu" style="font-size: 18px;padding-bottom: 25px">  <img  src="{% static "img/ok3.png" %}" style="width: 27px"> 
                        VISITE PRÉVUE LE {{ rdv.crenau|date:'d/m/o À H:i' }}
                    </p>

                    <p style="margin-top: 10px;font-size: 15px">
                        Statut : {% include "utilisateurs/includes/rdv_statut.html" with rdv=rdv %}

                    </p>

                    <div class="btn-group pull-right tab_10 fix-vi" style="padding-right: 0px">
                     {% if not rdv.visite and not rdv.is_deleted %}
                            {% if not rdv.in_past or request.user.client == rdv.vendeur %}
						<form method="post" action="{% url 'annuler-rdv' rdv.pk %}?next={{ request.path }}">

							{% csrf_token %}
							<button type="submit" class="btn sh_poubell" >
								<span class="glyphicon glyphicon-trash" style="width: 25px; margin-left: -270px;margin-top: 3px"></span>
							</button>
                            <a href="{% url 'annonce' rdv.bien.nb_mandat %}" class="btn btn-default pull-left btn-sm">
							+ de détails
						</a>
						</form>
                    {% endif %}
					{% endif %}
						
		            </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% include "includes/pagination.html" %}
    {% else %}
    <div class="alert alert-warning" role="alert">

        <button type="button" class="close" data-dismiss="alert" aria-label="Fermer">
            <span aria-hidden="true">&times;</span>
        </button>

        <strong>
            Vous n'avez aucune visite de prévue. 
        </strong> 
        <br>

        <a href="{% url 'annonce-list' %}"> Prennez rendez-vous sur en parcourant les annonces </a>
        
    </div>
    {% endif %}
</div>
{% endblock content %}
