{% extends "utilisateurs/espace.html" %}

{% load humanize utilisateurs_extras biens_extras %}

{% block style %}
<style>
    body {
        background: #f6f6f6;
        padding-bottom: 200px;
    }
    form.supprimer:hover {
        text-decoration: none;
        color: #262626;
        background-color: #f5f5f5;
    }

    .cs-font-size{
      font-size: 16px;
      }
    @media screen and (max-width: 359px){
      .cs-font-size{
        font-size: 14px;
        }
    }
</style>
{% endblock %}
{% block content %}

<div class="col-md-9">
    <div class="title_p1"> <span style="font-size: 22.5px;text-transform: uppercase">Mes annonces</span></div>
    {% if object_list %}
    {% for bien in object_list %}
    <div class="panel panel-default tab_10">
        <div class="panel-body">
            <div class="row" >
                <div class="col-md-4 ">
                    <div class="img-responsive img-thumbnail ratio-4-3" style="background-image:url('{{ bien.get_photo_url }}')"></div>
                </div>
                <div class="col-md-8">
                    <div style="font-size: 18px;padding-bottom: 10px">
                        {{ bien.get_type }} {{ bien.surface }} m² - <span class="text-muted">{{ bien.ville |title }} {{ bien.code_postal  }} </span>
                    </div>


                    <p style="padding-bottom: 15px; margin-top: -10px;font-size: 15px">
                        {{ bien.surface }}  m²
                        {% if bien.type == "t" or bien.type == "i" or bien.type == "b" or bien.type == "p" %}
                        {% else %}
                         <span class="color_blue">|</span>
                       {% if  bien.pieces == 0  %}
			             {{ bien.pieces }} pièce
                        {% elif  bien.pieces == 1 %}
                            {{ bien.pieces }} pièce
                        {% else %}
                            {{ bien.pieces }} pièces
                        {% endif %}
                        <span class="color_blue">|</span>
                       {% if  bien.chambres == 0  %}
			              {{ bien.chambres }} chambre
                       {% elif   bien.chambres ==  1 %}
                          {{ bien.chambres }} chambre
                       {% else %}
                          {{ bien.chambres }} chambres
                       {% endif %}

                    </p>
                    {% endif %}

                    <div class="row row_no_margin" >
                        <div class="col-xs-12 fix-ann" >
                    <p style="margin-bottom: -2px;font-size: 15px;padding-bottom: 5px;">
                        Statut :
                        {% if bien.get_vendu %}
                        <span class="  color_b1" style="font-size: 15px">Vendu</span>Validée {{ bien.valide|naturaltime }}
                        {% elif bien.valide %}
                        {% if bien.deleted is None%}
                        <span class="  color_b1" style="font-size: 15px">En ligne</span>Validée {{ bien.valide|naturaltime }}
                        {% else %}
                        <span class="  color_b1" style="font-size: 15px">En ligne - Suppression dans quelques jours</span>Validée {{ bien.valid|naturaltime }}
                        {% endif %}

                        {% else %}
                        <span class="  color_or" style="font-size: 15px">En attente de validation</span>
                        Deposée {{ bien.creation|naturaltime }}
                        {% endif %}
                    </p>
                        </div>
                    </div>
                    <div class="row row_no_margin">
                        <div class="col-xs-12 fix-ann" >
                    <p style="margin-bottom: -2px;font-size: 15px;padding-bottom: 5px">
                            {% if bien|is_bienavalider %}
                            <span style="padding: 10px 0px;display:block">Pas encore publié</span>
                            {% else %}
                            Publié le : {{ bien.creation }}
                        {% endif %}
                    </p>
                        </div>
                    </div>
                    <div class="row row_no_margin" >
                        <div class="col-xs-12 fix-ann" >
                    <p style="font-size: 15px">
                        Prix : {{ bien.prix|price_format }} €
                    </p>
                        </div>
                    </div>
                    <div class="btn-group pull-right" style="margin-top: 20px">
                    	{% if bien.valide %}
                        <a href="{% url 'utilisateurs:mes-annonces-documents' bien.nb_mandat %}" class="btn btn-default btn-sm cs-font-size" >
                            Paramètres
                        </a>
                        {% else %}
                        {% if not bien.signature %}
                        <a href="{% url 'signature_delay' bien.nb_mandat %}" class="btn btn-default btn-sm cs-font-size" style="margin-right:7px;">
                            Signature
                        </a>
                        {%endif%}
                        <a class="btn btn-default btn-sm cs-font-size" >
                            Paramètres
                        </a>
                        {% endif %}
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle cs-font-size" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            <span class="caret"></span>
                            <span class="sr-only"> + </span>
                        </button>
                        <ul class="dropdown-menu">
                            {% if bien.valide %}
                            <li>
                                <a href="{% url 'annonce' bien.nb_mandat %}"><span class="glyphicon glyphicon glyphicon-search" aria-hidden="true" style="padding-right: 5px"></span>
                                    Voir l'Annonce
                                </a>
                            </li>
                            <li role="separator" class="divider">
                            </li>
                            <li>
                                <a href="{% url 'utilisateurs:mes-annonces-documents' bien.nb_mandat %}"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="padding-right: 5px"></span>
                                    Documents
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'utilisateurs:mes-annonces-visites' bien.nb_mandat %}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true" style="padding-right: 5px"></span>Visites
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'utilisateurs:mes-annonces-offres' bien.nb_mandat %}"><span class="glyphicon glyphicon-plus" aria-hidden="true" style="padding-right: 5px"></span>
                                    Offres
                                </a>
                            </li>
                            <li role="separator" class="divider">
                            </li>
                            <li>
                                <a href="{% url 'utilisateurs:mes-annonces-jours-off' bien.nb_mandat %}"><span class="glyphicon glyphicon-equalizer" aria-hidden="true" style="padding-right: 5px"></span>
                                    Indisponibilités
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'utilisateurs:mes-annonces-dispos-modifier' bien.nb_mandat %}"><span class="glyphicon glyphicon-equalizer" aria-hidden="true" style="padding-right: 5px"></span>
                                    Mes disponibités
                                </a>
                            </li>
                            <li role="separator" class="divider">
                            </li>
                            {% endif %}

                            {% if not bien.valide or not bien.get_vendu %}
                            {% if not bien.valide %}
                            {% elif not bien.get_vendu %}
                            <li>


                                <a href="{% url 'utilisateurs:mes-annonces-modifier' bien.nb_mandat %}">
                                	<span class="glyphicon glyphicon-plus" aria-hidden="true" style="padding-right: 5px"></span>
                                    Modifier
                                </a>
                            </li>
                            {% endif %}

                            {% endif %}
                            <li role="separator" class="divider">
                            </li>
                            <li>
                            	{% if bien.modification_a_valider %}
                                <form method="GET" action="{% url 'utilisateurs:mes-annonces-a-valider-supprimer' bien.nb_mandat %}" class="supprimer">
                                    {% csrf_token %}
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true" style="padding: 0px 20px 3px 20px;line-height: 25px;">
                                        <input type="submit" value="Supprimer" style="border: none;background: none;padding: 0;line-height: 25px;display: inline;vertical-align: top;font-family: 'Roboto', sans-serif;">
                                    </span>
                                </form>
                                {% else %}
                                <form method="GET" action="{% url 'utilisateurs:mes-annonces-supprimer' bien.nb_mandat %}" class="supprimer">
                                    {% csrf_token %}
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true" style="padding: 0px 20px 3px 20px;line-height: 25px;">
                                        <input type="submit" value="Supprimer" style="border: none;background: none;padding: 0;line-height: 25px;display: inline;vertical-align: top;font-family: 'Roboto', sans-serif;">
                                    </span>
                                </form>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="pagination" style="maring-top:50px">

</div>
	{% include "includes/pagination.html" %}
    {% else %}
     <div class="alert alert-warning" role="alert">

            <button type="button" class="close" data-dismiss="alert" aria-label="Fermer">
                <span aria-hidden="true">&times;</span>
            </button>

            <strong>
                Vous n'avez aucune annonce a la vente.
            </strong>
            <br>

            <a href="{% url 'new' %}">Publiez une annonce gratuitement </a>

        </div>

    {% endif %}
</div>
{% endblock content %}
