{% extends "utilisateurs/clients/annonce_documents.html" %}

{% load humanize %}
<div class="title_p" >{% block title %}
    <span style="font-size: 22.5px">MES OFFRES</span>
    {% endblock title %}</div>
    {% block parametres %}
    <h3>Offres en attente</h3>
    {% if offres %}
    <div class="row">
        {% for offre in offres %}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {% if offre.offre %}
                            {% if not offre.contre_offre_acceptee %}
                              Contre-offre
                            {% else %}
                              Contre-offre acceptée

                            {% endif %}

                            {% else %}
                        Nouvelle offre
                        {% endif %}
                        <small class="pull-right">
                            {{ offre.created|naturaltime }}
                        </small>
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        Agent :
                        <span class="pull-right">
                            {{ offre.agent }}
                        </span>
                    </li>
                    <li class="list-group-item">
                    <div class="row row_no_margin">
                    <div class="col-xs-3" style="padding-left: 0px;padding-right: 10px">
                        Acquèreur :
                        </div>
                     <div class="col-xs-9" style="padding-right: 0px">
                        <span class="pull-right">
                            {% if offre.acheteur %}
                            {{ offre.acheteur }}
                            {% else %}
                            {{ offre.agent_client }}
                            {% endif %}
                        </span>
                        </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        Prix initial :
                        <span class="pull-right" title="{{ offre.prix|intcomma }} €">
                            {{ offre.bien.prix|intword }} euros
                        </span>
                    </li>
                    <li class="list-group-item">
                        Prix de l'offre :
                        <span class="pull-right" title="{{ offre.prix|intcomma }} €">
                            {{ offre.prix|intword }} euros
                        </span>
                    </li>
                    <li class="list-group-item">
                      {% if offre.contre_offre_acceptee %}

                      <div class="row row_no_margin panel-footer paddin_b-10" style="margin-left:0px !important;margin-right:0px !important">
                        Vous devez accepter ou refuser la contre-offre acceptée
                      </div>
                      {% endif %}
		                <form action="{% url 'utilisateurs:mes-annonces-offres' bien.nb_mandat %}?accepter={{ offre.pk }}" method="post" class="pull-left">
		                    {% csrf_token %}



		                    <button type="submit" class="btn btn-default btn-success " style="background-color: #4abac0;border-color: #4abac0">
		                        <span class="glyphicon glyphicon-ok"></span>
		                        Accepter
		                    </button>
		                </form>
		                <form action="{% url 'utilisateurs:mes-annonces-offres' bien.nb_mandat %}?refuser={{ offre.pk }}" method="post" >
		                    {% csrf_token %}
		                    <button type="submit" class="btn btn-default btn-danger"  style="background-color: #e41b74; margin-left: 10px;">
		                        Refuser
		                        <span class="glyphicon glyphicon-remove"></span>
		                    </button>
		                </form>
                    </li>
                </ul>
                {% if not offre.contre_offre_acceptee %}
                <div class="row row_no_margin panel-footer paddin_b-10" style="padding: 10px 12px">
                    <form action="{% url 'utilisateurs:mes-annonces-offres' bien.nb_mandat %}?contre-offre={{ offre.pk }}" method="post" class="form-inline text-right">
                        {% csrf_token %}
                        <div class="col-xs-7 fix-offre">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="number" class="form-control" id="id_prix" name="prix" required="required" placeholder="Contre-offre">
                                <div class="input-group-addon">€ </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-xs-4 fix-envoy" >
                        <button type="submit" class="btn btn-default" style="background-color: #d3b050;border-color:#d3b050">
                            Envoyer
                            <span class="glyphicon glyphicon-repeat"></span>
                        </button>
                        </div>
                    </form>
                    &nbsp;
                </div>
                {% else %}
                  <div></div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-warning" role="alert">
        Vous n'avez aucune offre en attente.
    </div>
    {% endif %}



    <h3>Historique des offres</h3>
    {% if historique %}
    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <th>Date</th>
            <th>Agent</th>
            <th>Client</th>
            <th>Offre</th>
            <th>État</th>
            <th>Refusé</th>
        </thead>
        {% for offre in historique %}
        <tr>
            <td>{{ offre.created|date:'l d F' }}</td>
            <td>{{ offre.agent }}</td>
            {% if offre.acheteur %}
            <td>{{ offre.acheteur }}</td>
            {% else %}
            <td>{{ offre.agent_client }}</td>
            {% endif %}
            <td title="{{ offre.prix|intcomma }} €">
                {{ offre.prix|intword }} euros
            </td>
            <td style="width: 170px">
                {% if offre.offre %}
                <span class="label label-warning" style="font-size: 12px;width: 72px">Contre-offre</span>
                {% else %}
                <span class="label label-info" style="background-color: #44bac1;font-size: 12px">&nbsp;&nbsp;&nbsp;Nouvelle&nbsp;&nbsp;&nbsp;</span>
                {% endif %}
                {% if offre.acceptee %}
                <span class="label label-success" style="font-size: 12px">Acceptée</span>
                {% endif %}
                {% if offre.refusee %}
                <span class="label label-danger" style="background-color: #e41b74;font-size: 12px">&nbsp;Refusée&nbsp;</span>
                {% endif %}
            </td>
            <td>{{ offre.refusee|naturaltime }}</td>


        </tr>
        {% endfor %}
    </table>
</div><br>
    {% else %}
    <div class="alert alert-warning" role="alert">
        Vous n'avez aucune offre dans votre historique.
    </div><br>
    {% endif %}
    {% endblock parametres %}
