{% extends "utilisateurs/clients/annonce_documents.html" %}
{% load humanize static biens_extras %}
{% load static bootstrap3 %}
<div class="title_p">{% block title %}
    <span style="font-size: 22.5px;text-transform: uppercase">MES INDISPONIBILITÉS</span>
    {% endblock title %}</div>
{% block style %}
<link rel='stylesheet' type='text/css' href="{% static 'eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" />
    <style>
        body {
            background: #f6f6f6;
        }
        .bootstrap-datetimepicker-widget{
            font-size: 14px;
        }
    </style>

{% endblock style %}

{% block script %}
<script type='text/javascript' src="{% static 'moment/min/moment.min.js' %}"></script>
<script type='text/javascript' src="{% static 'moment/locale/fr.js' %}"></script>
<script type='text/javascript' src="{% static 'eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>

<script type="text/javascript">
    $(function(){
        $('#id_debut, #id_fin').datetimepicker({
            locale: 'fr',
            format: 'DD/MM/YYYY'
        });
    });
</script>
{% endblock script %}

{% block parametres %}
<div class="row" style="padding-bottom: 20px">
    <p style="font-style: italic;font-size: 13px;padding-top: 30px;padding-left: 15px;padding-right: 5px;color: #777777">Vous partez en vacances ou êtes indisponible quelques jours et vous ne souhaitez pas changer vos créneaux de visite habituels ?<br>  Indiquez simplement vos jours d’indisponibilité ci-dessous. </p>
    <div class="col-md-6" style="margin-top: -5px">      
        <h3>Ajouter une période</h3>
        <form method="post" class="form " style="margin-top: 40px;">
            {% csrf_token %}
            <!--{% bootstrap_form form layout="inline" %}-->
            {% for field in form %}
            {% if field.name == 'debut' %}
            <div class="form-group" >
                <input name="debut" title="" required="" id="id_debut" placeholder="Début                                                                                                       &nbsp&nbsp&nbsp&nbsp&nbsp&#128197;" class="form-control" style="" type="text">
            </div>
            {% endif %}
            {% if field.name == 'fin' %}
            <div class="form-group" >
                <input name="fin" title="" required="" id="id_fin" placeholder="Fin                                                                                                             &nbsp&nbsp&nbsp&nbsp&nbsp&#128197;" class="form-control" style="" type="text">
            </div>
            {% endif %}
            {% endfor %}
            {% buttons %}
            <div class="row row_no_margin">
            <button type="submit" class="sh_b_blue_sm pull-right" style="font-size: 12.5px">            
                Ajouter une période
            </button>
            </div>
            {% endbuttons %}
        </form>
    </div>
    <div class="col-md-6">
        <h3>Indisponibilités</h3>
        {% if jours_off.all %}
        <div class="table-responsive">
        <table class="table table-hover tab_5" >
            <thead>
                <th style="font-size: 16px">Début</th>
                <th style="font-size: 16px">Fin</th>
                <th></th>
            </thead>
            {% for jo in jours_off.all %}
            <tr>
                <td><span class="label label-warning" style="font-size: 14px">{{ jo.debut|date:'l' }} - {{ jo.get_debut }}</span></td>
                <td><span class="label label-warning" style="font-size: 14px">{{ jo.fin|date:'l d F' }}</span></td>
                <td>
                    <form method="post" action="{% url 'utilisateurs:mes-annonces-jours-off' object.nb_mandat %}?annuler={{ jo.pk }}">
                        {% csrf_token %}
                        <button type="submit" class="sh_b_del_sm" style="font-size: 12.5px">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            Vous n'avez aucune période d'indisponibilité.
        </div>
        {% endif %}
    </div>
</div>

{% endblock parametres %}