{% extends "utilisateurs/espace.html" %}


{% load bootstrap3 utilisateurs_extras %}

	{% block style %}
	<style>
		body {
			background: #f6f6f6;
		}
	</style>
	{% endblock style %}
{% block content %}


<div class="col-md-9" >
    <div class="row row_no_margin">
    <div class="title_p">{% block title %}
     <span style="font-size: 22.5px">MES DOCUMENTS</span>
	{% endblock title %}</div>
    </div>
<div class="row row_no_margin">
    <div class="cell clas">




        <div> <span style="font-size: 20px;padding-bottom: 20px">{{object.get_type }} de {{object.surface }} m² - <span class="text-muted">{{object.ville |title }} {{ object.code_postal  }} </span></span></div>
		<div style="height: 25px">
			{% with object.get_offre_acceptee as offre %}
			{% if offre %}
            <a href="{% url 'offre-acceptee' offre.pk %}" target="_blank" class="btn btn-default btn-xl pull-right sh-text-none" style="margin-left: 10px;padding-top: 3px;padding-bottom: 3px"><span style="font-size: 16px;">Télécharger l'offre</span></a>
			{% endif %}
			{% endwith %}
			<!--<a href="{% url 'utilisateurs:mes-annonces-modifier' object.nb_mandat %}" class="btn btn-default btn-xs pull-right sh-text-none" style="margin-left: 10px">Modifier l'annonce</a>-->
            <a href="{% url 'bien-mandat' object.nb_mandat %}" target="_blank" class="btn btn-default btn-xl pull-right sh-text-none" style="margin-left: 10px;font-size 16px;padding-top: 3px;padding-bottom: 3px" ><span style="font-size: 16px;">Télécharger le mandat</span></a>
			{% if object.valide and not object.deleted %}
            <a href="{% url 'annonce' object.nb_mandat %}" target="_blank" class="btn btn-default btn-xl pull-right sh-text-none" style=";padding-top: 3px;padding-bottom: 3px"><span style="font-size: 16px;">Voir l'annonce</span></a>
			{% endif %}
		</div>

		{% block navigation %}
		<ul id="parametres" class="nav nav-tabs top_space" style="margin-top: 30px">
			{% url 'utilisateurs:mes-annonces-documents' object.nb_mandat as documents_url %}
			<li role="presentation" {% if request.get_full_path in documents_url %}class="active"{% endif %}>
				<a href="{{ documents_url }}" class="color_text1">
					Mes	documents partagés
				</a>
			</li>
			{% url 'utilisateurs:mes-annonces-visites' object.nb_mandat as visites_url %}
			<li role="presentation" {% if request.get_full_path in visites_url %}class="active"{% endif %}>
				<a href="{{ visites_url }}" class="color_text1">
					Mes visites
				</a>
			</li>
			{% url 'utilisateurs:mes-annonces-offres' object.nb_mandat as offres_url %}
			<li role="presentation" {% if request.get_full_path in offres_url %}class="active"{% endif %}>
				<a href="{{ offres_url }}"class="color_text1">
					Mes offres
				</a>
			</li>
			{% url 'utilisateurs:mes-annonces-jours-off' object.nb_mandat as jours_off_url %}
			<li role="presentation" {% if request.get_full_path in jours_off_url %}class="active"{% endif %}>
				<a href="{{ jours_off_url }}" class="color_text1">
					Mes indisponibilités
				</a>
			</li>
		</ul>
		{% endblock navigation %}
		{% block parametres %}

            <p style="font-style: italic;font-size: 13px;padding-top: 25px;padding-left: 8px;padding-bottom: 15px;color: #777777">Facilitez vos démarches administratives en téléchargeant dès à présent les documents obligatoires !
                <br>
                Vous les téléchargez une seule fois et ils sont partagés automatiquement avec l’agent ayant fait visiter votre bien !</p>
            <div class="table-responsive">
		<table class="table table-hover" >
			{% for i, type in documents_types %}
			{% if i %}
			{% with all_documents.all|documents_by_type:i as documents %}

			{% if documents %}
			{% for document in documents %}
			<tr class="row">
				<td class="col-md-4 ">
					<input type="text" class="form-control in_size " disabled="" value="{{ document.name|capfirst }}"/>
				</td>
                <td class="col-md-1">
                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="{{ i|get_type }}"></span>
                </td>
				<td class="col-md-5 ">
					{% buttons %}
					<a href="{{ document.file.url }}" target="_blank" class="sh_b_or_xs">
                        <span style="font-size: 13px">Visualiser &nbsp;</span>
						{% bootstrap_icon "cloud-download" %}
					</a>
					{% endbuttons %}
				</td>
				<td class="col-md-2">
					<form method="post" action="{% url 'utilisateurs:mes-annonces-documents' object.nb_mandat %}?supprimer={{ document.pk }}">
						{% csrf_token %}
						<button type="submit" class=" sh_b_del btn-xs">
                            <span style="font-size: 13px">Supprimer&nbsp;</span>
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</form>
				</td>
			</tr>
			{% endfor %}
			{% endif %}
			{% if not documents or i == 8 %}
			<tr class="row">
				<form method="post" enctype="multipart/form-data">
					<td class="col-md-4">
						{% csrf_token %}
						<input type="hidden" name="type" value="{{ i }}">
						{% if i == 8 %}
						{% bootstrap_field form.name label=False placeholder="Autre document" %}
						{% else %}
						<input type="text" class="form-control in_size" disabled="" value="{{ type }}"/>
						<input type="hidden" name="name" value="{{ type }}">
						{% endif %}
					</td>
                    <td class="col-md-1">
                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="{{ i|get_type }}"></span>
                    </td>
					<td class="col-md-5">
						{% bootstrap_field form.file show_label=False %}

					</td>
					<td class="col-md-2">
						{% buttons %}
						<button type="submit" class="sh_b_env-xs">
                            <span style="font-size: 13px">Ajouter &nbsp;</span>
							{% bootstrap_icon "cloud-upload" %}
						</button>
						{% endbuttons %}
					</td>
				</form>
			</tr>
			{% endif %}


			{% endwith %}
			{% endif %}
			{% endfor %}
		</table>
            </div>

		{% endblock parametres %}
	</div>
    </div>
    </div>
	{% endblock content %}
