{% extends "utilisateurs/clients/annonce_documents.html" %}

<div class="title_p">{% block title %}
    <span style="font-size: 22.5px"> MES VISITES</span>
    {% endblock title %}</div>
{% block parametres %}
<br>
<div class="table-responsive">
<table class="tab_vis ">
    <thead>
        <th class="center" style="vertical-align: middle;font-size: 16px;font-weight: 500">Agent</th>
        <th class="center" style="vertical-align: middle;font-size: 16px;font-weight: 500">Client</th>
        <th class="center" style="vertical-align: middle;font-size: 16px;font-weight: 500">Date et heure <br> de la visite</th>
        <th class="center" style="vertical-align: middle;font-size: 16px;font-weight: 500">État</th>
        <th class="center" style="vertical-align: middle;font-size: 16px;font-weight: 500">Annuler <br>la visite</th>

    </thead>
    {% for rdv in object.get_all_rdvs %}
    <tr>
        <td class="center" style="vertical-align: middle">{{ rdv.agent }}</td>
        {% if rdv.acheteur %}
        <td class="center" style="vertical-align: middle">{{ rdv.acheteur }}</td>	
        {% else %}
        <td class="center" style="vertical-align: middle">{{ rdv.agent_client }}</td>
        {% endif %}

      <td class="center" style="vertical-align: middle">{{ rdv }}</td>
        <td class="center" style="vertical-align: middle">
            {% include "utilisateurs/includes/rdv_statut.html" with rdv=rdv %}

        </td>
        <td class="center" style="vertical-align: middle">

        	{% if not rdv.visite and not rdv.is_deleted %}
            <form method="post" action="{% url 'annuler-rdv' rdv.pk %}?next={{ request.path }}">
                {% csrf_token %}
                  
                <button type="submit" class="sh_b_del_sm" style="font-size: 9px;margin-top: -2px">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </form>
            {% endif %}
        </td>

    </tr>
    {% endfor %}
</table>
</div><br>
{% endblock parametres %}
