


{% if visit_planned %}

	{% with visit_planned.first as rdv %}
	<div class="alert alert-success" >
		Vous avez un rendez-vous le <strong> {{ rdv.crenau|date:'l d F à H:i' }} </strong> avec votre agent <strong> {{ rdv.agent }} </strong> pour visiter ce bien.
	</div>
	<form method="post" action="{% url 'annuler-rdv' rdv.pk %}?next={{ request.path }}">
		{% csrf_token %}
		<button type="submit" class="btn btn-danger btn-sm btn-block backgroung-red_but">
			Annuler
		</button>
	</form>
 {% include 'biens/includes/favori_client_form.html' with bien=bien %}
	{% endwith %}

{% else %}
<div class="row" >

	<div class="col-md-1 col-sm-1 col-md-offset-9 col-xs-1 col-sm-offset-8 col-xs-offset-6">
		<div class="margin-bg">
	{% include 'biens/includes/favori_client_form.html' with bien=bien %}
	</div>
</div>
<div class="col-md-2 col-xs-2 col-md-offset-0 col-sm-offset-0 col-xs-offset-1 col-sm-1 ">
	<p class="text-center" >
	<a href="{% url 'bien-calendrier' object.nb_mandat %}" class="btn btn-md btn-success " title="Prendre rendez-vous" style="background-color: #4abac0;border-color: #4abac0;border-radius: 5px;">
		Visiter
        </a></p></div>
  </div>
{% endif %}
