<div class="input-group RDV" >
	<a href="{% url 'utilisateurs:nouveau-agent-client' %}?next={{ request.path }}" class="btn input-group-addon" title="Ajouter un client"  style="background-color: #4abac0">
		<span class="glyphicon glyphicon-plus cs-font-size" aria-hidden="true" style="color: #eeeeee;"></span>
	</a>
	<input id="q" type="text" class="form-control cs-font-size" placeholder="Sélectionnez un client" aria-describedby="glyphicon-search" data-provide="typeahead" autocomplete="off" required="" >
	<a href="#" class="btn input-group-addon lien-sh cs-font-size" id="bien-calendrier" style="background-color: #4abac0;color: #eee;text-transform: none;font-weight:bold;">
		Prendre RDV
	</a>
</div>
