<div class="col-md-10   top_space" style="width: 100px;float: right;"> 
	<p class="text-center" >
		<a href="{% url 'utilisateurs:inscription-client' %}?next={% url 'annonce' object.nb_mandat %}" class="btn btn-md btn-success" style="background-color: #4abac0;border-color: #4abac0;border-radius: 5px">
			Visiter 
		</a>
	</p>
</div>
