{% load static %}
<style>
  .carousel-control.left {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  }
.carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
}

</style>

<div id="photos-du-bien" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% if images %}
    {% for p in images %}
    <li data-target="#photos-du-bien" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
    {% endfor %}
    {% else %}
    <li data-target="#photos-du-bien" data-slide-to="0" class="active"></li>
    {% endif %}
  </ol>

  <div class="carousel-inner" role="listbox">
    {% if images %}
    {% for p in images %}
    <div class="item {% if forloop.first %}active{% endif %}">
      <img src="{{ p.image.url }}" alt="Photo {{ forloop.counter }}" height="480" style="display:block;margin:auto;max-height:500px;max-width: 975px"/>
      <div class="carousel-caption">
        Photo {{ forloop.counter }}
      </div>
    </div>
    {% endfor %}
    {% else %}
      <div class="item active" style="height:500px">
              <img src="{% static "img/default.png" %}" alt="Photo par défault"  style="display:block;margin:auto;padding-top: 150px;height: 350px"/>
        <div class="carousel-caption">
          Pas de Photo
        </div>
      </div>
    {% endif %}
  </div>


  <a class="left carousel-control" href="#photos-du-bien" role="button" data-slide="prev" >
    <img src="{% static "img/fleche-g.png" %}" style="width: 40px;margin-top: 200px" title="">
    <span class="sr-only">Précédent</span>
  </a>
  <a class="right carousel-control" href="#photos-du-bien" role="button" data-slide="next" >
    <img src="{% static "img/fleche-d.png" %}" style="width: 40px;margin-top: 200px" title="">
    <span class="sr-only">Suivant</span>
  </a>
</div>
