{% load static %}


<form method="post" action="{% url 'utilisateurs:mes-favoris' %}" >
	{% csrf_token %}
	<input type="hidden" name="favori" value="{{ bien.nb_mandat }}">
	<button type="submit" class="btn btn-xs" style="background-color:transparent; margin-top:-3px">
		{% if bien in request.user.client.favoris.all %}
		<img src="{% static "img/heart3.png" %}" title="Supprimer de mes favoris" width="38px">
		{% else %}
            {% if "/biens/annonces/(\d+)$/" == request.get_full_path %}
		<img src="{% static "img/heat5.png" %}" title="Ajouter dans mes favoris" >
            {% else %}
        <img src="{% static "img/vide.png" %}" title="Ajouter dans mes favoris" >
            {% endif %}
		{% endif %}
	</button>
</form>
