{% load humanize utilisateurs_extras %}

<form method="post" action="{% url 'utilisateurs:agent-mes-favoris' %}">
	<div id="confirmModal_favoris-{{ bien.nb_mandat }}" class="modal fade" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		    <h4 class="modal-title">{{ title }}</h4>
		  </div>
			<div style="padding:12px 12px 12px 12px; ">
				{% csrf_token %}
				<input type="hidden" name="favori" value="{{ bien.nb_mandat }}">
				<div class="form-group">
					<select id="liste-favoris" name="liste-favoris" class="form-control"
							data-mandat="{{ bien.nb_mandat }}" onchange="updateListFav()" >
						<option value="" select="selected">-- Choisir une liste --</option>
						{% for favlist in request.user.agent.favorislists.all %}
						<option  value="{{ favlist.pk }}"
						>{{ favlist.nom }}</option>
						{% endfor %}
					</select>
					<input type="text" name="nouvelle-liste" value="" size="14"
						class="form-control" placeholder="Nouvelle liste"
						data-mandat="{{ bien.nb_mandat }}">
				</div>
		  </div>
		  <div class="modal-footer">
			<button id="confirmBtn_favoris-{{ bien.nb_mandat }}" type="this.form.submit()" class="btn btn-md pull-right"> Ajouter/Supprimer</button>
			<button id="confirmBtn_favoris_list-{{ bien.nb_mandat }}" type="submit" class="btn btn-md pull-right">Créer La Liste</button>
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</form>

<script>
function updateListFav(){



	var x = document.getElementById("confirmBtn_favoris-{{ bien.nb_mandat }}");
	var inFavList = false;

	var current_favlist_id = $('#liste-favoris option:selected').val();

	{% for favlist in request.user.agent.favorislists.all %}

	{% for fav in favlist.favoris.all %}

	if (current_favlist_id == {{favlist.pk}}){
		{% if bien.pk == fav.pk %}
		x.innerHTML = "Supprimer"
		return
		{% else %}
		x.innerHTML = "Ajouter"
		{% endif %}
	}else{
		x.innerHTML = "Ajouter"

	}
	{% endfor %}
	{% endfor %}






}
</script>
