{% load static %}



{% block favoris %}
{% if not bien in request.user.agent.favoris %}
	{% include 'biens/includes/favori_agent_modal.html' with bien=bien title="Ajouter/Supprimer aux favoris" %}

	<span style=" z-index:5">
		<a id="favoris-{{ bien.nb_mandat }}" class="favoris-btn " style="background-color:transparent; margin-top:-3px cursor:pointer;margin-right: 10px">
			<img src="{% static "img/vide.png" %}" title="Ajouter dans mes favoris">
		</a>
	</span>
{% else %}
		{% csrf_token %}
		{% include 'biens/includes/favori_agent_modal.html' with bien=bien title="Ajouter/Supprimer aux favoris" %}
		<span style="">
			<a id="favoris-{{ bien.nb_mandat }}" class="favoris-btn but_bottom" style="cursor:pointer; background-color: transparent;margin-top: -8px;margin-left: -10px">
				<img src="{% static "img/heart3.png" %}" style="width: 38px" title="Supprimer dans mes favoris">
			</a>
		</span>

{% endif %}
{% endblock favoris %}
