{% load static biens_extras %}
{% load bootstrap3 %}
{% if request.user.agent %}
<div class="row cell cell-add-margin-and-padding-bottom" style="padding-left:15px">
	<div class="title-detail-sh" style="text-transform: uppercase">Documents utiles pour l'agent</div>
	{% if display_document %}
	<div class="row">
		<div class="col-md-12" style="margin-top: 5px">
			<div class="panel panel-default">
				<div class="panel-heading">
					DOCUMENTS TÉLÉCHARGEABLES
				</div>
				{% if all_documents and all_documents.count %}
				{% for document in all_documents.all %}
				<div class="list-group" style="padding-top:15px;padding-left: 15px">
					<li class="row" style="list-style: none outside none;">
						<div class="col-md-12">
							{% buttons %}
							<a href="{{ document.file.url }}" target="_blank" class="sh_b_or_xs ">
								{{ document.name|capfirst }}
								{% bootstrap_icon "cloud-download" %}
							</a>
							{% endbuttons %}
						</div>
					</li>
				</div>
				{% endfor %}
				{% else %}
				<div class="panel-body">
					<div class="alert alert-warning">
						Il n'y a aucun document disponnible pour l'instant
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
	{% endif %}
</div>
{% endif %}
<div class="row cell cell-add-margin-and-padding-bottom" style="padding-left:15px">
    <div class="col-md-12">
        <div class="row row-no-margin">
            <div class="title-detail-sh">À PROPOS DU PRIX</div>
        </div>
        <div class="row" style="padding-left:15px">
            <p style="font-size: 15px;font-weight: bold">{{ prix |price_format }} €</p>
            <p style="font-size: 15px">Honoraires TTC inclus à la charge de l'acquéreur :<span style="font-weight: bold"> 3 %</span> du prix du bien hors honoraires.<br/></p>
            <p style="font-size: 15px">Prix du bien hors honoraires : <span style="font-weight: bold">{{ prix|price_ht|price_format }} € </span></p>
        </div>
    </div>
</div>
