{% extends "base.html" %}

{% load static bootstrap3 %}

{% block title %}
Speedhousing - Création d'un compte utilisateur
{% endblock title %}


{% block script %}
<!-- Autocompletion des adresses -->
<script src="{% static 'js/places.js' %}"></script>
<script src="{% static 'js/GeoLocalisable.js' %}"></script>
<script src="{% static 'js/GeoLocalisableSiege.js' %}"></script>
<script>
    $( document ).ready(function() {
        function hideAll() {
            $('#id_attestation').parent('div.form-group').hide();
            $('#id_qualite_colaboration').parent('div.form-group').hide();
            $('#id_carte').parent('div.form-group').hide();
            $('#id_societe').parent('div.form-group').hide();
            $('#id_siren').parent('div.form-group').hide();
            $('#id_legal_representant_nom').parent('div.form-group').hide();
            $('#id_legal_representant_prenom').parent('div.form-group').hide();
            $('#id_other_legal_representative').parents('div.form-group').hide();
            $('#id_other_legal_representant_nom').parent('div.form-group').hide();
            $('#id_other_legal_representant_prenom').parent('div.form-group').hide();
            $('#id_siege_adresse').parents('div.form-group').hide();
            $('#id_siege_code_postal').parent('div.form-group').hide();
            $('#id_siege_ville').parent('div.form-group').hide();
            $('#id_assurance_nom').parent('div.form-group').hide();
            $('#id_assurance_nb').parent('div.form-group').hide();
            $('svg').hide();
        }
        
        function updateViewAccordingTypeInscription(obj) {
			hideAll();

            if ($(obj).val() == 'att') {
                $('#id_attestation').parent('div.form-group').show();
                $('#id_attestation').attr('required', '');
                $('#id_qualite_colaboration').parent('div.form-group').show();
                $('#id_qualite_colaboration').attr('required', '');
            } else if ($(obj).val() == 'crt') {
                $('#id_attestation').parent('div.form-group').hide();
                $('#id_attestation').removeAttr('required', '');
                $('#id_qualite_colaboration').parent('div.form-group').hide();
                $('#id_qualite_colaboration').removeAttr('required', '');
            }

			if ($(obj).val() != '') {
		        $('#id_carte').parent('div.form-group').show();
		        $('#id_societe').parent('div.form-group').show();
		        $('#id_siren').parent('div.form-group').show();
		        $('#id_legal_representant_nom').parent('div.form-group').show();
		        $('#id_legal_representant_prenom').parent('div.form-group').show();
		        $('#id_other_legal_representative').parents('div.form-group').show();
		        $('#id_siege_adresse').parents('div.form-group').show();
		        $('#id_siege_code_postal').parent('div.form-group').show();
		        $('#id_siege_ville').parent('div.form-group').show();
		        $('#id_assurance_nom').parent('div.form-group').show();
		        $('#id_assurance_nb').parent('div.form-group').show();
		    }

            $('svg').show();

            updateViewWithOtherLegalRepresentative(obj);
        }

        function updateViewWithOtherLegalRepresentative(obj) {
            if (obj.checked) {
                $('#id_other_legal_representant_nom').parent('div.form-group').show();
                $('#id_other_legal_representant_prenom').parent('div.form-group').show();
            } else {
                $('#id_other_legal_representant_nom').val('');
                $('#id_other_legal_representant_prenom').val('');
                $('#id_other_legal_representant_nom').parent('div.form-group').hide();
                $('#id_other_legal_representant_prenom').parent('div.form-group').hide();
            }
        }

        $('#id_type_inscription').on('change', function(e){
            updateViewAccordingTypeInscription(e.target);
        });
        $('#override_file_id1').on('change', function(){
            if ($('#override_file_id1').val() == '') {
                $('#btn_override_file_id1').removeClass('green');
            }
            else {
                $('#btn_override_file_id1').addClass('green');
            }
        });
        $('#override_file_id2').on('change', function(){
            if ($('#override_file_id2').val() == '') {
                $('#btn_override_file_id2').removeClass('green');
            }
            else {
                $('#btn_override_file_id2').addClass('green');
            }
        });
        $('#id_other_legal_representative').on('change', function(e){
            updateViewWithOtherLegalRepresentative(e.target);
        });
        
        updateViewAccordingTypeInscription($('#id_type_inscription'));
        
        $('#id_file_id1').parent().remove();
        $('#id_file_id2').parent().remove();
        
        {% if request.user.is_authenticated %}
		var triggerId = 'id_flag_notifications';
		if ($('#'+triggerId)) {
			// initialisation de la modale
			$('#confirmModal_'+triggerId).modal({
				'show': false
			});
			// traitement en cas de confirmation
			$('#confirmBtn_'+triggerId).click(function (e) {
				$('#'+triggerId).attr('checked', false);
				$('#confirmModal_'+triggerId).modal('hide');
			});
			// ajout du déclencheur d'affichage
			$('#'+triggerId).change(function (e) {
				if (!e.target.checked) {
					e.target.checked = true;
					$('#confirmModal_'+triggerId).modal('show');
				}
			});
		}
		{% endif %}
		
		$('[data-toggle="tooltip"]').tooltip({
			'html': true,
			'delay': { "hide": 1000 }
		});
    });
</script>
{% endblock script %}

{% block style %}
{{ block.super }}
<style>
    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }
    
    .green {
        border: 2px solid green !important;
        color: green !important;
    }
    
    .upload-btn-wrapper > button {
        border: 2px solid gray;
        color: gray;
        background-color: white;
        border-radius: 8px;
    }
    
    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
    label.control-label{
        font-size: 16px;
    }
      a{
        color: #4abac0;
    }
     a:hover{
            color: #4abac0;
        }
</style>
{% endblock style %}

{% block container %}
<div class="container" style="padding-bottom: 90px">
    <div class="row">
        <div class="col-md-12 col-md-offset-2">
            <h3>
            	{% if request.user.agent or request.user.agent_a_valider %}
                <span style="font-size: 22.5px">MODIFIER MON PROFIL</span>
            	{% else %}
                <span style="font-size: 22.5px">CRÉATION D'UN COMPTE AGENT</span>
            	{% endif %}
            </h3><br>
         
        </div>
        <div class="col-md-8 col-md-offset-2">
            
            {% bootstrap_form_errors form error_types="all" %}
            
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% if request.user.is_authenticated %}
	            	{% bootstrap_form form exclude="file_id1,file_id2,flag_notifications,flag_communication" %}
	            {% else %}
	            	{% bootstrap_form form exclude="file_id1,file_id2,flag_cgv,flag_notifications,flag_communication" show_label=False %}
	            {% endif %}
	            
                {% buttons %}
                {% if request.user.is_anonymous %}
                <div class="upload-btn-wrapper {% if form.file_id1.errors %}has-error{% endif %}" style="margin-top: -10px;padding-top: 10px">
                    <button class="btn" id="btn_override_file_id1" style=" white-space: normal">{% bootstrap_icon "download" %}&nbsp;&nbsp;&nbsp;&nbsp;Téléchargez la face recto de votre carte d'identité</button>
                    <input type="file" name="file_id1" id="override_file_id1" />
		            {% if form.file_id1.errors %}
		            <div class="help-block">{{ form.file_id1.errors.as_text }}</div>
		            {% endif %}
                </div>
                <div class="upload-btn-wrapper">
                    <button class="btn" id="btn_override_file_id2" style=" white-space: normal">{% bootstrap_icon "download" %}&nbsp;&nbsp;&nbsp;&nbsp; Téléchargez la face verso de votre carte d'identité</button>
                    <input type="file" name="file_id2" id="override_file_id2"/>
                </div><br>
                {% endif %}

				{% if request.user.is_anonymous %}
		            {% bootstrap_field form.flag_cgv %}
	            {% endif %}
	            {% bootstrap_field form.flag_notifications %}
	            {% bootstrap_field form.flag_communication %}

                <div style="margin-top: 30px;">
                    <button type="submit" class="btn btn-primary pull-right" style="background-color:#4abac0; border-color: #4abac0;border-radius: 5px">
                        {% bootstrap_icon "send" %}
                        {% if request.user.agent or request.user.agent_a_valider %}&nbsp;Modifier{% else %}&nbsp;Créer{% endif %}
                    </button>
                </div>
                {% endbuttons %}
            </form>
        </div>
    </div>

{% if request.user.is_authenticated %}
	{% include 'utilisateurs/includes/confirm_modal.html' with trigger_id="id_flag_notifications" title="Souhaitez-vous suspendre votre compte ?" body="Si vous n'acceptez plus de recevoir les notifications d'informations liées à la vente ou à l'achat de biens vous ne pouvez plus utiliser les différentes fonctionnalités du site et votre compte sera suspendu." %}
{% endif %}

</div>
{% endblock container %}
