{% extends "base.html" %}

{% load static bootstrap3 %}

{% block title %}
	Speedhousing - Fiche client
{% endblock title %}


{% block script %}
	<script type="text/template" id="checkbox-template">
		<div class="checkbox" style="padding-bottom:5px">
			<label>
				<input type="checkbox" id="checkbox">
				<span style="font-size : 15px;margin-top: -9px;padding-bottom:10px">Votre client est-il une personne morale ?</span>
			</label>
		</div>
	</script>

	<script type="text/javascript">

	$(function(){
		var checkbox = $('#checkbox-template').html();
		var $societe = $('#id_societe').parent();
		var $siren = $('#id_siren').parent();

		$societe.before($(checkbox));
		$societe.hide();
		$siren.hide();

		$('#checkbox').change(function(){
			if(this.checked){
				$societe.show();
				$siren.show();
			} else {
				$societe.hide();
				$siren.hide();
			}
		});
	});
	</script>

	<!-- Autocompletion des adresses -->
	<script src="https://cdn.jsdelivr.net/npm/places.js@1.4.15">
	</script>
	<script src="{% static "js/GeoLocalisable.js" %}"></script>

{% endblock script %}
{% block style %}
<style>
    div.checkbox{
        font-size: 15px;
    }
    div.help-block{
        font-size: 13px;
        font-style: italic;
        color: #777777;
    }
    .form-control{
        font-size: 15px;
    }
</style>
{% endblock %}

{% block container %}
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-md-offset-2">
				{% if form.instance.pk %}
				<h2>Fiche client de {{ form.instance }}</h2>
				{% else %}
                <div style="margin-top: 10px"><span style="font-size: 22.5px">CRÉER UNE FICHE CLIENT</span></div>
				{% endif %}
				<hr>
			</div>
			<div class="col-md-8 col-md-offset-2">
				<form method="post" action="?next={{ request.GET.next }}" class="form">
					{% csrf_token %}
					
				    {% if form.instance.pk %}
                        
                        {% bootstrap_form form show_label=False  %}
                        {% buttons %}
							<a href="{{ request.GET.next }}" class="sh-btn-default" style="border-radius: 5px">
								{% bootstrap_icon "arrow-left" %}
								Retour
							</a>
							<button type="submit" class="sh_b_blue pull-right" style="border-radius: 5px">
								Mettre à jour
								{% bootstrap_icon "edit" %}
							</button>
						{% endbuttons %}
					{% else %}
                    {% bootstrap_form form show_label=False  %}
						{% buttons %}
							<a href="{{ request.GET.next }}" class="btn btn-default"style="border-radius: 5px">
								{% bootstrap_icon "arrow-left" %}
								Retour
							</a>
							<button type="submit" class="sh_b_blue pull-right" style="border-radius: 5px">
								Ajouter
							{% bootstrap_icon "plus" %}
						</button>
						{% endbuttons %}
					{% endif %}
				</form>
			</div>
		</div>
	</div>
{% endblock container %}
