{% extends "base.html" %}

{% load static %}

{% block title %}
Speedhousing - INSCRIPTION
{% endblock title %}

{% block container %}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-md-offset-2 " >
            <h3><div style="font-family: 'Roboto', sans-serif;font-size: 22.5px">Ouverture prochaine</div></h3>
           <br>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="jumbotron">
            	<p style="padding-left: 40px">Bienvenue sur la plateforme SPEEDHOUSING !<br>
                    Vous êtes vendeur ou acquéreur ?<br>
                    L’inscription sera ouverte très prochainement !<br>
                    En attendant : suivez-nous sur <a href="https://www.facebook.com/Speedhousing-237448830149169/" target="_blank" style="text-decoration: underline" >Facebook</a> et <a href="https://www.linkedin.com/company/speedhousing/" target="_blank" style="text-decoration: underline" >LinkedIn</a>. </p>
            </div>
        </div>
    </div>

</div>
{% endblock container %}
