{% extends "base.html" %}

{% load bootstrap3 static %}

{% block title %}
Speedhousing - {% if request.user and request.user.client %}Modification{% else %}INSCRIPTION{% endif %}
{% endblock title %}


{% block script %}
<!-- entreprise -->
<script type="text/template" id="checkbox-template">
    <div class="checkbox">
        <label>
            <input type="checkbox" id="checkbox">
            Représentez-vous une entreprise ?
        </label>
    </div>
</script>

<script type="text/javascript">
    
    $(function(){
        var checkbox = $('#checkbox-template').html();
        var $societe = $('#id_societe').parent();
        var $siren = $('#id_siren').parent();
        
        $societe.before($(checkbox));
        if ($('#id_societe').val() != '' || $('#id_siren').val() != '')  {
            $('#checkbox').attr('checked', 'checked');
            $('#id_societe').attr('required', '');
            $('#id_siren').attr('required', '');
        } else {
            $societe.hide();
            $siren.hide();
        }
        
        $('#checkbox').change(function(){
            if(this.checked){
                $societe.show();
                $siren.show();
                $('#id_societe').attr('required', '');
                $('#id_siren').attr('required', '');
            } else {
                $societe.hide();
                $siren.hide();
                $('#id_societe').removeAttr('required');
                $('#id_siren').removeAttr('required');
                $('#id_societe').val('');
                $('#id_siren').val('');
            }
        });

		var triggerId = 'id_flag_notifications';
		if ($('#'+triggerId)) {
			// initialisation de la modale
			$('#confirmModal_'+triggerId).modal({
				'show': false
			});
			// traitement en cas de confirmation
			$('#confirmBtn_'+triggerId).click(function (e) {
				$('#'+triggerId).attr('checked', false);
				$('#confirmModal_'+triggerId).modal('hide');
			});
			// ajout du déclencheur d'affichage
			$('#'+triggerId).change(function (e) {
				if (!e.target.checked) {
					e.target.checked = true;
					$('#confirmModal_'+triggerId).modal('show');
				}
			});
		}

		$('[data-toggle="tooltip"]').tooltip({
			'html': true,
			'delay': { "hide": 1000 }
		});
    });
    
    $('#id_password1').popover();
</script>
<!-- end of entreprise -->
{% block style %}
{{ block.super }}
<style>
    .form-control{
        font-size: 15px;
        
    }
    .help-block{
        color: #777777;
        font-style: italic;
    }
      label.control-label{
        font-size: 16px;
    }
    a{
        color: #4abac0;
    }
     a:hover{
            color: #4abac0;
        }
</style>
{% endblock style %}

<!-- Autocompletion des adresses -->
<script src="https://cdn.jsdelivr.net/npm/places.js@1.4.15">
</script>
<script src="{% static "js/GeoLocalisable.js" %}"></script>
{% endblock script %}

{% block container %}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-md-offset-2 " >
            <h3><div style="font-family: 'Roboto', sans-serif;font-size: 22.5px">{% if request.user and request.user.client %}MODIFICATION DE MON PROFIL{% else %}INSCRIPTION{% endif %}</div></h3>
           <br>
        </div>
        <div class="col-md-8 col-md-offset-2">
            
            {% bootstrap_form_errors form error_types="all" %}
            
            {% for field, errors in form.errors.as_data.items %}
            {% for error in errors %}
            {% if error.code == 'already_exists' %}
            {% include "utilisateurs/includes/already_exists.html" %}
            {% endif %}
            
            {% if error.code == 'junk_mail' %}
            {% include "utilisateurs/includes/junk_mail.html" %}
            {% endif %}
            {% endfor %}
            
            {% endfor %}
            <form method="post">
                {% csrf_token %}

                {% if request.user.is_authenticated %}
	            	{% bootstrap_form form %}
                {% else %}
	            	{% bootstrap_form form show_label=False %}
	            {% endif %}
	            
                {% buttons %}
                <button type="submit" class="btn btn-primary pull-right" style="background-color:#4abac0; border-color: #4abac0;border-radius: 5px">
                    {% bootstrap_icon "send" %}
                    {% if request.user and request.user.client %}&nbsp;Modifier{% else %}&nbsp;S'inscrire{% endif %}
                </button>
                {% endbuttons %}
            </form>
        </div>
    </div>

{% if request.user.is_authenticated %}
	{% include 'utilisateurs/includes/confirm_modal.html' with trigger_id="id_flag_notifications" title="Souhaitez-vous suspendre votre compte ?" body="Si vous n'acceptez plus de recevoir les notifications d'informations liées à la vente ou à l'achat de biens vous ne pouvez plus utiliser les différentes fonctionnalités du site et votre compte sera suspendu." %}
{% endif %}

</div>
{% endblock container %}
