{% extends "base.html" %}
{% load static %}
{% block style %}
    <style>
        body {
            background: #f6f6f6;
            padding-bottom: 70px;
        }
    </style>
{% endblock %}
{% block container %}
<div class="container" style="padding-top: 5px">
    <div class="row">
        {% block sidebar %}
        <!-- side bar -->
        <div class="col-md-3 ">
            <div class="nav-title">
                <p><span style="font-size: 22.5px">TABLEAU DE BORD</span></p>
            </div>
            <div class="panel panel-primary clas">
                <div class="panel-heading">
                    <h3 class="panel-title"><span style="font-size: 20px">Espace vendeur </span></h3>
                </div>
                <div class="panel-body ">
                    <ul class="nav nav-pills nav-stacked ">
                        <li role="presentation">
                            <a href="{% url 'utilisateurs:mes-annonces' %}" class="color_text1" >
                                <img  src="{% static "img/home3.png" %}" style="padding-right: 5px; margin-top: -2px">
                                <span style="font-size: 17px">Mes annonces</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title"><span style="font-size: 20px">Espace acquéreur </span></h3>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked" >
                        <li role="presentation" >
                            <a href="{% url 'utilisateurs:mes-favoris' %}" class="color_text1">
                              <img  src="{% static "img/heart3.png" %}" style="padding-right: 5px;margin-top: -2px">
                                <span style="font-size: 17px"> Mes favoris</span>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="{% url 'utilisateurs:mes-visites' %}" class="color_text1">
                                <img  src="{% static "img/eye3.png" %}" style="padding-right: 5px;margin-top: -2px">
                                <span style="font-size: 17px">Mes visites</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- end of sidebar  -->
        {% endblock sidebar %}


        {% block content %}
                <!-- notifications -->
        <div class="col-md-3 col-md-push-6">
            <div class="nav-title">
                <p> <span style="font-size: 22.5px">NOTIFICATIONS</span> &nbsp;<span class="glyphicon glyphicon-bell" aria-hidden="true" style="margin-top: 10px;font-size:18px"></span> </p>
                <ul class="list-group notifications">


                {% if request.user %}
                    {% with request.user.notifications.unread as notifications %}
                    {% for notif in notifications %}
                    <li class="list-group-item list-group-item-info" style="background-color: #fff; color: #d3b050">
                        <div class="notification-read" data-id="{{notif.pk}}" style="text-align: left">
                            <small><span style="font-weight: bold">{{notif.timestamp|date:'d/m/Y'}}</span></small> -
                            <span style="color: #777777">{{notif.verb}}</span>
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" data-id="{{notif.pk}}">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </li>
                    {% endfor %}
                    {% endwith %}
                {% endif %}
                </ul>
            </div>
        </div>
        <!-- end of notifications -->

        <!-- content -->
        <div class="col-md-6 cell col-md-pull-3" >
        {% if request.user and request.user.client %}
            <div style="font-weight: bold;font-size: 18px;text-align: center">Vous souhaitez vendre votre bien ? </div><br>
            <p>
            <p style="text-align: justify;margin-left: 50px;padding-right: 45px">
              Vous avez dépensé du temps et de l’argent pour publier votre annonce sur différents sites immobiliers et confié plusieurs mandats en agence mais votre bien n’a toujours pas été vendu ?</p>

            <p  style="text-align: justify;margin-left: 50px;padding-right: 45px">Concentrez votre énergie et augmentez votre visibilité grâce à SPEEDHOUSING, une plateforme en ligne innovante qui vous fera gagner du temps et de l’argent.</p>

            <p><span style="font-weight: bold">&nbsp;&nbsp;&nbsp;Comment ça marche ?</span></p>
            <p style="text-align: justify;margin-left: 50px;padding-right: 45px">En quelques clics, vous publiez votre annonce GRATUITEMENT.
            Aussitôt, tous les professionnels de votre secteur en sont alertés et vous présentent des acheteurs potentiels.</p>

            <p><span style="font-weight: bold">&nbsp;&nbsp;&nbsp;Comment ?</span></p>
            <p style="text-align: justify;margin-left: 50px;padding-right: 45px">Via l’agenda commun, ils prennent un rendez-vous en ligne, selon les créneaux de disponibilité que vous avez indiqués.</p>

            <p style="text-align: justify;margin-left: 50px;padding-right: 45px">Si votre bien convient, le professionnel soumet pour son client une offre d’achat via son espace. Vous êtes notifiés en en temps réel, vous avez la possibilité d’accepter l’offre, de la refuser ou encore d’effectuer une contre-offre via votre espace.</p>

                <p><span style="font-weight: bold">&nbsp;&nbsp;&nbsp;Que se passe-t-il lorsque j’accepte une offre ?</span></p>
            <p style="text-align: justify;margin-left: 50px;padding-right: 45px">L’offre d’achat acceptée est automatiquement envoyée au notaire que vous avez désigné, afin de procéder à la signature de la promesse de vente.</p>

            <p><span style="font-weight: bold">&nbsp;&nbsp;&nbsp;Le processus est simple, rapide et efficace :</span><br><p style="text-align: justify;margin-left: 50px;padding-right: 45px">
            -&nbsp;&nbsp;La mise en ligne de votre annonce est gratuite <br>
            -&nbsp;&nbsp;Vous multipliez votre nombre de visites donc vos chances de vente <br>
            -&nbsp;&nbsp;Vous ne perdez plus votre temps à signer des mandats<br>
            -&nbsp;&nbsp;Vos démarches administratives sont accélérées, facilitées et sécurisées</p><br>

            <p style="font-weight: bold;text-align: center">Pour vendre votre bien en un temps record, n’hésitez plus, choisissez SPEEDHOUSING !</p>

            <hr>
              <div style="font-weight: bold;font-size: 18px;text-align: center">Vous souhaitez acquérir un bien ? </div><br>
            <p>
                <p  style="text-align: justify;margin-left: 50px;padding-right: 45px">
               Vous reluquez les sites de vente immobilière à longueur de journée depuis un bon moment, si bien que vous les connaissez maintenant par cœur. Mais malgré tous ces efforts, vous n’avez toujours pas mis la main sur la perle rare. Essayez donc SPEEDHOUSING !</p>

            <p><span style="font-weight: bold">&nbsp;&nbsp;&nbsp;Comment ça marche ?</span></p>
                <p  style="text-align: justify;margin-left: 50px;padding-right: 45px">En quelques clics, vous renseignez votre recherche via le lien <a href="{% url 'annonce-list' %}" style="color: #4abac0" > recherche</a>.</p>

            <p><span style="font-weight: bold">&nbsp;&nbsp;&nbsp;Un bien vous intéresse ? </span></p>
                <p  style="text-align: justify;margin-left: 50px;padding-right: 45px">Cliquez sur « Prendre rendez-vous » et sélectionnez le créneau qui vous convient. Votre demande est alors transmise au professionnel le plus proche du secteur du bien, qui se chargera de la visite. </p>

            <p><span style="font-weight: bold">&nbsp;&nbsp;&nbsp;Vous avez un coup de cœur ?</span></p>
                <p  style="text-align: justify;margin-left: 50px;padding-right: 45px">Votre agent s’occupe de négocier avec le vendeur, il effectue pour vous une offre de vente via son espace. Une fois l’offre acceptée, un document de vente est généré automatiquement et est envoyé au notaire désigné par le vendeur. Vous pouvez également mettre en relation votre notaire en faisant la demande auprès de l’agent.</p>

            <p><span style="font-weight: bold">&nbsp;&nbsp;&nbsp;Le bien visité ne vous convient pas ? </span></p>
               <p  style="text-align: justify;margin-left: 50px;padding-right: 45px"> Vous pouvez alors confier votre recherche à ce même agent immobilier qui se chargera de sélectionner pour vous plusieurs biens correspondant à vos critères et vous organisera des visites. <br>
                Il vous suffit de lui demander !</p>

                <p><span style="font-weight: bold">Le processus est simple, rapide et efficace : </span></p>
                <p  style="text-align: justify;margin-left: 50px;padding-right: 45px">-&nbsp;&nbsp; Vous ne passez plus votre temps libre à chercher le bien de vos rêves <br>
                - &nbsp;&nbsp;Fini le parcours du combattant <br>
                - &nbsp;&nbsp;Les agents ne sont plus limités à quelques mandats <br>
                - &nbsp;&nbsp;Ils peuvent vous proposer de nombreux biens </p><br>

                <p style="font-weight: bold;text-align: center">Pour trouver votre prochain bien immobilier, n’hésitez plus, optez pour SPEEDHOUSING !</p>
            <br>

             {% elif request.user and request.user.agent %}
             <div class="col-md-12 col-xs-12 col-sm-12">

             <p style="text-align:center; text-transform:uppercase;font-weight:bold">Découvrez Speedhousing en Vidéo</p>
             <iframe width="100%" height="315" src="https://www.youtube.com/embed/gzboANu-9SU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
           </div>


            <p>
                <p style="text-align: center"><span style=" font-size: 16px;font-weight: bold;">SPEEDHOUSING vous donne accès à une multitude de biens à vendre</span></p>

                    <p style="text-align: justify;margin-left: 50px;padding-right: 45px">En tant qu’agent immobilier, vous êtes souvent face à la même situation.<br>
                    Vous avez des clients mais pas le bien adéquat. Pourtant celui que votre client cherche se trouve souvent dans les agences aux alentours… Mais sans mandat, vous ne pouvez le proposer.</p>

                    <p style="text-align: justify;margin-left: 50px;padding-right: 45px">Voilà exactement la raison pour laquelle vous devriez passer par SPEEDHOUSING.</p>

               <p><span style="font-weight: bold">&nbsp;&nbsp;&nbsp;Comment ça marche ?</span></p>
                    <p style="text-align: justify;margin-left: 50px;padding-right: 45px">Dans votre espace professionnel vous avez accès à une grande base de biens à vendre et pouvez les proposer à vos clients, sans vous soucier d’aller décrocher un mandat !</p>

                <p><span style="font-weight: bold">&nbsp;&nbsp;&nbsp;Un bien est susceptible d’intéresser un de vos clients ?</span> </p>
                    <p style="text-align: justify;margin-left: 50px;padding-right: 45px">Il vous suffit de cliquer sur « Prendre un rdv » pour lui fixer une visite. Vous arrivez alors sur l’agenda commun. Qu’est-ce que l’agenda commun ? Lors de sa mise en ligne, le vendeur indique ses créneaux de disponibilités afin que les professionnels puissent se synchroniser pour prendre des rendez-vous de visite. </p> <br>

                <p style="text-align: center"><span style=" font-size: 16px;font-weight: bold;">SPEEDHOUSING vous envoie également des acquéreurs potentiels</span> </p>

                <p><span style="font-weight: bold">&nbsp;&nbsp;&nbsp;Comment ça marche ? </span></p>
                <p style="text-align: justify;margin-left: 50px;padding-right: 45px">Un particulier acquéreur peut visualiser directement les annonces disponibles sur le site et faire une demande de visite. </p>

                    <p style="text-align: justify;margin-left: 50px;padding-right: 45px">Cette demande est ensuite envoyée aux professionnels de la zone concernée. Si vous êtes disponible pour effectuer la visite, elle vous est attribuée.</p>

        <p style="text-align: justify;margin-left: 50px;padding-right: 45px">N’oubliez pas que cette visite peut déboucher sur une vente ! </p>

                    <p>&nbsp;&nbsp;&nbsp;Suite à cette visite, 2 possibilités s’offrent à vous : </p>
        <ul>
            <li style="text-align: justify;margin-left: 20px; padding-right: 45px">Le bien visité correspond aux critères de l’acquéreur potentiel. Vous pouvez alors réaliser pour lui une offre d’achat dans votre espace professionnel.</li>
            <li style="text-align: justify;margin-left: 20px; ;padding-right: 45px">Le bien visité ne lui convient pas. Vous pouvez réaliser un travail de recherche, sélectionner des biens selon ses critères et lui organiser des visites.</li>
        </ul>
                    <p style="text-align: justify;margin-left: 50px;padding-right: 45px">Le fait d’obtenir une visite avec un acquéreur potentiel est entièrement gratuit.  Ce service permet de vous encourager à réaliser des ventes.</p> <br>

                <p style="text-align: center"><span style="font-size: 16px;font-weight: bold;">SPEEDHOUSING facilite vos démarches administratives</span> </p>

                <p><span style="font-weight: bold">&nbsp;&nbsp;&nbsp;Votre client est intéressé par un bien que vous lui avez fait visiter ?</span></p>
                   <p style="text-align: justify;margin-left: 50px;padding-right: 45px"> Suite à une visite, vous avez accès aux documents relatifs à l’information de l’acquéreur, que le vendeur aura téléchargé. <br>
                    Il faut penser à valider votre visite pour en avoir accès !</p> <br>

                <p><span style="font-weight: bold">&nbsp;&nbsp;&nbsp;Votre client souhaite faire une offre ? </span></p>
                <p style="text-align: justify;margin-left: 50px;padding-right: 45px">
                    Vous soumettez l’offre d’achat via votre espace.  Le vendeur reçoit instantanément votre offre et est notifié. </p> <br>

                <p><span style="font-weight: bold">&nbsp;&nbsp;&nbsp;Vous avez une offre acceptée ? </span></p>
                    <p style="text-align: justify;margin-left: 50px;padding-right: 45px">
                    L’offre d’achat acceptée est générée automatiquement et est instantanément envoyée au notaire que le vendeur a désigné lors de la mise en ligne de son annonce. Ce qui permet à celui-ci de mettre en place les démarches administratives pour la signature de la promesse vente et de l’acte authentique. </p> <br>

                <p><span style="font-weight: bold">&nbsp;&nbsp;&nbsp;SPEEDHOUSING est un concept innovant. Notre valeur ajoutée ?</span></p>
                <p style="text-align: justify;margin-left: 50px;padding-right: 45px">
                    Un large choix de biens à proposer<br>
                    Une sélection de biens correspondants aux attentes des clients<br>
                    La facilitation des démarches administratives <br>
                    L’envoi de nouvelles visites qui peuvent déboucher sur une vente<br>
                    Un nombre exponentiel de transactions réalisées.</p> <br>

                    <p style="font-weight: bold;text-align: center">Alors n’attentez plus, réalisez le travail de service que vos clients méritent.<br> Vendez plus et gagnez plus en travaillant via SPEEDHOUSING !</p><br>




            {% endif %}
        </div>
        <!-- end of content -->


        {% endblock content %}
    </div>

</div>
{% endblock container %}
