{% extends "base.html" %}
{% load static bootstrap3 %}

{% block title %}
	Speedhousing - Connexion
{% endblock title %}

{% block container %}
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h2>Connexion</h2>
				<hr>
				<form method="post">
					{% csrf_token %}
					{% bootstrap_form form layout="inline" %}
					{% if next %}
					<input type="hidden" name="next" value="{{ next }}" />
					{% endif %}
					{% buttons %}
						<button type="submit" class="sh_b_blue pull-right">
							{% bootstrap_icon "log-in" %}
							 &nbsp;Se connecter
						</button>
					{% endbuttons %}
				</form>
				<p class="text-muted">Vous pouvez
				<a href="{% url 'password_reset' %}">réinitialiser votre mot de passe</a> en cas d'oubli.</p>
			</div>
		</div>
	</div>
	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

	<script type="text/javascript">

	var elem = 	$('.alert-link');
	elem.html(elem.html().split('un a')[0]+'une adresse mail et/ou un mot de passe valide.');

	</script>
{% endblock container %}
