{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}
	Speedhousing - Modification du mot de passe
{% endblock title %}

{% block style %}
{{ block.super }}
<style>
      label.control-label{
        font-size: 16px;
    }
</style>
{% endblock style %}

{% block container %}

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
                <div style="padding-top: 10px"><span style="font-size: 22.5px">MODIFIER MON MOT DE PASSE</span></div>
				<hr>
				<form method="post">
					{% csrf_token %}
					{% bootstrap_form form show_help=False %}
					{% buttons %}
						<button type="submit" class="sh_b_blue pull-right" style="border-radius: 5px">
							 {% bootstrap_icon "send" %}
                            <span style="font-size:14px;"> &nbsp;Enregister </span>
						</button>
					{% endbuttons %}
				</form>
			</div>
		</div>
	</div>

{% endblock container %}

