{% extends "base.html" %}

{% block title %}
	Speedhousing - Modification du mot de passe avec succès
{% endblock title %}

{% block container %}
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h2>Modification du mot de passe</h2>
				<hr>
				<div class="alert alert-success alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					Votre mot de passe a été modifié avec succès
				</div>
				<a href="{% url 'home' %}" class="sh_b_blue pull-right">
				Retour à la page d'accueil</a>
			</div>
		</div>
	</div>
{% endblock container %}