{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}
	Speedhousing - Mise à jour du mot de passe
{% endblock title %}

{% block container %}
	
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h2>Mise à jour du mot de passe</h2>
				<hr>
				<form method="post">
					{% csrf_token %}
					{% bootstrap_form form %}
					{% buttons %}
						<button type="submit" class="btn btn-primary pull-right">
							{% bootstrap_icon "floppy-disk" %}
							Enregister
						</button>
					{% endbuttons %}
				</form>
			</div>
		</div>
	</div>

{% endblock container %}