{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}
Speedhousing - Réinitialisation du mot de passe
{% endblock title %}

{% block container %}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Réinitialisation du mot de passe</h2>
            <hr>
            <p>Mot de passe perdu ? Saisissez votre adresse électronique ci-dessous et nous vous enverrons les instructions pour en créer un nouveau.</p>
            <form method="post">
                {% csrf_token %}

                {% for field in form %}
                <div class="fieldWrapper">
                    <input class="form-control" name="email" required="" id="id_email" maxlength="254" type="email" placeholder="Courriel">
                       
                        {% if fiels.help_text %}
                        <p class="help">
                            {{ field.help_text|safe }}
                        </p>
                        {% endif %}
                    
                </div>
                {% endfor %}
                {% buttons %}
                <button type="submit" class="button-form" style="margin-top: 10px">
                    {% bootstrap_icon "floppy-remove" %}
                    Réinitialiser
                </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>

{% endblock container %}