{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}
	Speedhousing - Courriel de réinitialisation du mot de passe envoyé
{% endblock title %}

{% block container %}
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h2>Réinitialisation du mot de passe</h2>
				<hr>
				<div class="alert alert-success alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					Nous vous avons envoyé par mail les instructions pour changer de mot de passe, pour autant qu'un compte existe avec l'adresse que vous avez indiqué. Vous allez recevoir rapidement ce message.
				</div>
				<p class="text-muted">Si vous ne recevez pas de message, vérifiez que vous avez saisi l'adresse avec laquelle vous vous êtes enregistré et contrôlez votre dossier de Spam.</p>
				<a href="{% url 'home' %}" class="sh_b_blue pull-right">
				Retour à la page d'accueil</a>
			</div>
		</div>
	</div>
{% endblock container %}