{% extends "base.html" %}

{% block title %}
	Speedhousing - Mise à jour du mot de passe avec succès
{% endblock title %}

{% block container %}
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h2>Mise à jour du mot de passe</h2>
				<hr>
				<div class="alert alert-success alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					Votre mot de passe a été réinitialisé avec succès. Vous pouvez maintenant vous authentifier.
				</div>
				<a href="{% url 'login' %}" class="btn btn-primary pull-right">
				Connexion </a>
			</div>
		</div>
	</div>
{% endblock container %}