{% extends "admin/change_form.html" %}
{% load i18n static biens_extras %}

{% block submit_buttons_bottom %}
{% if original %}

<form class="pull-left">
    <button type="submit" class="button btn-default btn-success" style="display: none"></button>
</form>

<div class="paddin_b-10" style="padding: 10px 12px">

    <form action="{% url 'utilisateurs:delete-bav' original.nb_mandat %}?action=accepter" method="post" style="float:right">
        <button type="submit" class="button btn-default btn-success" style="margin-top:24px;background-color: #4abac0;border-color: #4abac0;color: white">
            <span class="glyphicon glyphicon-ok"></span>
            Valider l'annonce
        </button>
    </form>
    {{block.super}}

    <form action="{% url 'utilisateurs:delete-bav' original.nb_mandat %}?action=refuser" method="post">
        <button type="submit" name="deletelink" class="button btn-default btn-danger"  style="background-color: #e41b74;color: white">
            Refuser les changements
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </form>

    <!-- {% if original.source %}
		<a type="button" class="button btn-default btn-danger" style="background-color: red; color: white"
			href="{% url 'admin:biens_bien_delete' original.source.pk %}">
			Supprimer l'annonce
		</a>
    {% else %}
		<a type="button" class="button btn-default btn-danger" style="background-color: red; color: white"
			href="{% url 'admin:biens_bienavalider_delete' original.pk %}">
			Supprimer l'annonce
		</a>


    {% endif %} -->
</div>

{% else %}

{{block.super}}
{% endif %}
{% endblock %}

{% block admin_change_form_document_ready %}
{{ block.super }}
<style>
    .has_changed {
        border: solid 1px red;
        padding: 2px;
        border-radius: 5px;
    }
</style>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript">
//$("input[name='_save']").hide();

    {% if not original.source %}
    $('#content-main').prepend("<h2 style='display:block;text-align:center;'>Création d'un nouveau bien</h2>")
    {% else %}
    $('#content-main').prepend("<h2 style='display:block;text-align:center;'>Modification du bien {{original.source}}</h2>")
    var changes_list = {{original|get_changes|safe}};
    var i;
    for (i = 0; i < changes_list.length; i++) {
        var id_change = null;
        if (changes_list[i] == "photos")
            id_change = $("#photos_a_valider-group");
        else if (changes_list[i] == "disponibilites")
            id_change = $("#disponibilites_a_valider-group");
        else
            id_change = $('#id_' + changes_list[i]).parent();
        id_change.addClass("has_changed");
    }
    {% endif %}
</script>
{% endblock %}
