{% extends "admin/change_form.html" %}
{% load i18n static biens_extras %}

{% block submit_buttons_bottom %}
{% if original %}

<form class="pull-left">
    <button type="submit" class="button btn-default btn-success" style="display: none"></button>
</form>

<div class="paddin_b-10" style="padding: 10px 12px">

    {{block.super}}
  {% if original.get_status == 'Supprimé' %}
  <div class="" style=" ">

  <form action="{% url 'utilisateurs:delete-b' original.nb_mandat %}?action=repost" method="post">
      <button type="submit" name="repost" class="button btn-default btn-danger"  style="background-color: #337ab7;color: white">
          Remettre le bien en ligne
          <span class="glyphicon glyphicon-remove"></span>
      </button>
  </form>
</div>
{%else%}
  <div class="" style="">

    <form action="{% url 'utilisateurs:delete-b' original.nb_mandat %}?action=supprimer" method="post" >
        <button type="submit" name="deletelink" class="button btn-default btn-danger"  style="background-color: #e41b74;color: white">
            Supprimer le bien
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </form>
  </div>
  {%endif%}

    <!-- {% if original.source %}
		<a type="button" class="button btn-default btn-danger" style="background-color: red; color: white"
			href="{% url 'admin:biens_bien_delete' original.source.pk %}">
			Supprimer l'annonce
		</a>
    {% else %}
		<a type="button" class="button btn-default btn-danger" style="background-color: red; color: white"
			href="{% url 'admin:biens_bienavalider_delete' original.pk %}">
			Supprimer l'annonce
		</a>


    {% endif %} -->
</div>

{% else %}

{{block.super}}
{% endif %}
{% endblock %}

{% block admin_change_form_document_ready %}
{{ block.super }}
<style>
    .has_changed {
        border: solid 1px red;
        padding: 2px;
        border-radius: 5px;
    }
</style>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

{% endblock %}
