{% extends "admin/change_list.html" %}
{% load i18n static biens_extras %}

{% block content %}
<p>TITULAIRE DU REGISTRE : SPEEDHOUSING, société par actions simplifiée, au capital de 15 000 euros, immatriculée au registre du commerce et des sociétés de Bobigny sous le numéro 823 244 512, dont le siège social est situé au 17 bis rue Emile Augier 93310 Le Pré-Saint-Gervais, représenté par Madame Neda TABAN, en qualité de présidente.</p>

<p>TITULAIRE DE LA CARTE PROFESSIONNELLE « transactions sur immeubles et fonds de commerce » N° : CPI 9301 2017 000 016 755 - sans perception de fonds, délivrée le 17/02/2017 par la CCI Paris Ile-de-France - le vice-président Gérard LISSORGUES, valable jusqu’au 16/02/2020.</p>

{{ block.super }}
{% endblock %}


{% block object-tools-items %}
<li style="float:left">
    <a href="{% url 'registre-des-mandats-pdf' %}"  target="_blank">
        Registre des Mandats en PDF
    </a>
</li>
<li style="float:left">
    <a href="{% url 'registre-des-mandats-xlsx' %}"  target="_blank">
        Ajouter
    </a>
</li>
{% endblock %}
