{% extends "admin/change_list.html" %}
{% load i18n static biens_extras %}

{% block object-tools-items %}
<li style="float:left">
    <a href="{% url 'gestion-financiere-pdf' %}?{{ request.META.QUERY_STRING }}"  target="_blank">
        Exporter la Gestion Financiere en PDF
    </a>
</li>
<li style="float:left">
    <a href="{% url 'gestion-financiere-xlsx' %}?{{ request.META.QUERY_STRING }}"  target="_blank">
        Exporter la Gestion Financiere en XLSX
    </a>
</li>
{{block.super}}
{% endblock %}
