{% extends "utilisateurs/agents/espace.html" %}
{% load static biens_extras %}

{% block style %}
<style>

  @media screen and (min-width: 1200px){

  .margin-top-screen-45
   {
     margin-top: 60px;
   }
 }


@media (min-width: 992px) and (max-width: 1200px) {
  .margin-left-sm-screen-15{
    margin-left:-15px;
  }

}


 </style>
 {% endblock style %}

{% block script %}
	<script type="text/javascript">
	$(function(){
		$('input.distance-slider').change(function(){
			var slider = $(this);
			slider.prop('disabled', true);
			$(location).attr('href', '{{ request.path }}?distance=' + slider.val());
		});

		$('.favoris-btn').each(function (index, btn) {
			var triggerId = $(btn).attr('id');

			console.log("Binding modal trigger", triggerId);

			// initialisation de la modale
			$('#confirmModal_'+triggerId).modal({
				'show': false
			});
			// ajout du déclencheur d'affichage
			$('#'+triggerId).click(function (e) {
				console.log("Showing modal", triggerId);
				$('#confirmModal_'+triggerId).modal('show');
			});
			// traitement en cas de confirmation
			$('#confirmBtn_'+triggerId).click(function (e) {
				console.log("Hiding modal", triggerId);
				$('#confirmModal_'+triggerId).modal('hide');
			});
		});
	});
	</script>
{% endblock script %}


{% block content %}
<div class="col-md-9">
    <div class="title_p1"> {% block title %} <span style="font-size: 22.5px">Nouvelles annonces</span>
    {% endblock title %} </div>
	<div class="panel panel-default sh-top-inv-11">
		<div class="panel-body">
			<div class="range-slider">
                Tous les biens dans un rayon de {{ request.GET.distance|default:"30" }}km
				<input class="distance-slider" type="range" value="{{ request.GET.distance|default:"30" }}" min="0" max="100">
			</div>
		</div>
	</div>
	{% if object_list %}
	{% for bien in object_list %}
		<div class="panel panel-default tab_10">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-4">
                         <div class="img-responsive img-thumbnail ratio-4-3" style="background-image:url('{{ bien.get_photo_url }}')"></div>
					</div>
					<div class="col-md-8">
						<div class="row top_space-30" >
                        <div class="col-md-9" >
                            <div>
                                <span style="font-size: 18px">{{ bien.get_type }} {{ bien.surface }} m² - <span class="text-muted"> {{ bien.ville |title }}{{ bien.code_postal  }} </span></span>
                            </div>

                            <p style="margin-top: 10px">
                                <span class="label  label-success" style="font-size: 13px">{{ bien.surface }} m²</span> &nbsp;
                                <span class="label  label-success" style="font-size: 13px">
                                {% if  bien.pieces == 0  %}
			                         {{ bien.pieces }} pièce
                                {% elif  bien.pieces == 1 %}
                                    {{ bien.pieces }} pièce
                                {% else %}
                                    {{ bien.pieces }} pièces
                                {% endif %}
                                </span> &nbsp;
                                <span class="label  label-success" style="font-size: 13px">
                                {% if  bien.chambres == 0  %}
                                    {{ bien.chambres }} chambre
                                {% elif   bien.chambres ==  1 %}
                                    {{ bien.chambres }} chambre
                                {% else %}
                                    {{ bien.chambres }} chambres
                                {% endif %}
                                </span>
                            </p>
                        </div>

                        <div class="col-md-3">
                            <p class=" pull-right " style="font-size: 18px"> {{ bien.prix|price_format }} €</p>
                        </div>
                    </div>
										<div class="row margin-top-screen-45 " >
											<div class="col-md-12 col-xs-12 col-sm-12 margin-left-sm-screen-15" >
												{% if request.user.client %}
							<div class="col-md-1 col-xs-2 col-sm-1 col-md-offset-8 col-sm-offset-8 col-xs-offset-5 "  >

								<form method="post" action="{% url 'utilisateurs:mes-favoris' %}" >
									{% csrf_token %}
									<input type="hidden" name="favori" value="{{ bien.nb_mandat }}">
									<button type="submit" class="btn " style="background-color:transparent;padding:0px 0px">
										{% if bien in request.user.client.favoris.all %}
										<img src="{% static "img/heart3.png" %}" title="Supprimer de mes favoris" width="38px">
										{% else %}
														{% if "/biens/annonces/(\d+)$/" == request.get_full_path %}
										<img src="{% static "img/heat5.png" %}" title="Ajouter dans mes favoris" >
														{% else %}
												<img src="{% static "img/vide.png" %}" title="Ajouter dans mes favoris" >
														{% endif %}
										{% endif %}
									</button>
								</form>

							</div>




							{% elif request.user.agent %}
							{% if not bien in request.user.agent.favoris %}
								{% include 'biens/includes/favori_agent_modal.html' with bien=bien title="Ajouter/Supprimer aux favoris" %}
								<div class="col-md-1 col-xs-2 col-sm-1 col-md-offset-8 col-sm-offset-8 col-xs-offset-5 " >

								<span style=" z-index:5">
									<a id="favoris-{{ bien.nb_mandat }}" class="favoris-btn " style="background-color:transparent; cursor:pointer;">
										<img src="{% static "img/vide.png" %}" title="Ajouter dans mes favoris">
									</a>
								</span>
							</div>

							{% else %}
							{% csrf_token %}
							{% include 'biens/includes/favori_agent_modal.html' with bien=bien title="Ajouter/Supprimer aux favoris" %}
							<div class="col-md-1 col-xs-2 col-sm-1 col-md-offset-8 col-sm-offset-9 col-xs-offset-5 "  >

							<span style=""">
								<a id="favoris-{{ bien.nb_mandat }}" class="favoris-btn but_bottom" style="cursor:pointer; background-color: transparent;">
									<img src="{% static "img/heart3.png" %}" style="width: 38px" title="Supprimer dans mes favoris">
								</a>
							</span>
						</div>

					{% endif %}							{% endif %}

					<div class="col-md-3 col-xs-1 col-sm-1 ">

									 <a href="{% url 'annonce' bien.nb_mandat %}" class="btn btn-default btn-sm  " style="border-radius: 5px">
							 <img  src="{% static "img/add.png" %}" style="margin-top: -5px;  ">
						<span style="font-size: 16px;text-transform: none" >  &nbsp;de détails </span>
						</a>
					</div>
					</div>
				</div>
			</div>
				</div>
			</div>
		</div>
	{% endfor %}
	{% include "includes/pagination.html" %}
	{% else %}
	<div class="alert alert-warning" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Fermer">
			<span aria-hidden="true">&times;</span>
		</button>
		<strong>
		Aucune annonce dans un rayon de {{ request.GET.distance|default:"30" }}km n'a été publiée cette semaine.
		</strong>

		<br>



	</div>
	{% endif %}
</div>
{% endblock content %}
