{% extends "utilisateurs/espace.html" %}
{% load static %}
{% block style %}
<style>
    body {
        background: #f6f6f6;
        padding-bottom: 70px;
    }
</style>
{% endblock %}
{% block sidebar %}
<div class="col-md-3">
    <div class="nav-title">
        <p><span style="font-size: 22.5px">TABLEAU DE BORD</span></p>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title"> <span style="font-size: 20px">Espace agent </span></div>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation">
                    <a href="{% url 'utilisateurs:actualites' %}" class="color_text1">
                        <img  src="{% static "img/home3.png" %}" style="padding-right: 5px;margin-top: -2px">
                        <span style="font-size: 17px">Nouvelles annonces</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="{% url 'utilisateurs:list-agent-client' %}" class="color_text1">
                        <img  src="{% static "img/gestion3.png" %}" style="padding-right: 5px;margin-top: -2px">
                        <span style="font-size: 17px"> Gestion des clients</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="{% url 'utilisateurs:list-liste-favoris' %}" class="color_text1">
                        <img  src="{% static "img/heart3.png" %}" style="padding-right: 5px;height: 28px;margin-top: -2px">
                        <span style="font-size: 17px">Gestion des favoris</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="{% url 'utilisateurs:list-visites' %}" class="color_text1 ">
                        <img  src="{% static "img/eye3.png" %}" style="padding-right: 5px">
                        <span style="font-size: 17px"> Mes visites</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="{% url 'utilisateurs:list-offres' %}"class="color_text1">
                        <img  src="{% static "img/add3.png" %}"style="padding-right: 5px;margin-top: -2px" >
                        <span style="font-size: 17px"> Mes offres reçues</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="{% url 'utilisateurs:list-ventes' %}" class="color_text1">
                        <img  src="{% static "img/ok3.png" %}" style="padding-right: 5px;margin-top: -2px">
                        <span style="font-size: 17px;"> Mes offres acceptées</span>
                    </a>
                </li>
                <!--<li role="presentation">
                    <a href="#">
                        Messagerie - a venir
                    </a>
                </li>-->
            </ul>
        </div>
    </div>
</div>
{% endblock sidebar %}
