{% extends "utilisateurs/agents/espace.html" %}
{% load static %}

{% block script %}
<script type="text/javascript">
    $(function(){
        $('#search').keyup(function(){
            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function(){
                return rex.test($(this).text());
            }).show();
        });
    });
</script>
{% endblock script %}

{% block content %}
<div class="col-md-9">
    <div class="row row_no_margin">
    <div class="title_p">{% block title %}
        <span style="font-size: 22.5px">GESTION DES CLIENTS</span>
    </div>
    </div>
    {% endblock title %}
    <div class="row row_no_margin">
    <div class="cell">
    <div style="font-size: 20px;padding-bottom: 10px">Liste des clients</div>
    <div class="row">
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
                <input id="search" type="text" class="form-control" placeholder="Rechercher une fiche ...">
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <a href="{% url 'utilisateurs:nouveau-agent-client' %}?next={{ request.path }}" class="btn btn-default pull-right btn-sm border" style="font-size: 14px">
                <img  src="{% static "img/add.png" %}" style="margin-top: -5px"> 
                <span style="font-size: 16px">  &nbsp;Ajouter un client</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" >
            <div class="table-responsive">
            <table class="tab_vis top_space">
                <thead>
                    <tr>
                        <th class="center" style="vertical-align: middle;font-size: 16px;font-weight: 400">Nom</th>
                        <th class="center" style="vertical-align: middle;font-size: 16px;font-weight: 500">Prénom</th>
                        <th class="center" style="vertical-align: middle;font-size: 16px;font-weight: 500">Tél</th>
                        <th class="center" style="vertical-align: middle;font-size: 16px;font-weight: 500">E-mail</th>
                        <th class="center" style="vertical-align: middle;font-size: 16px;font-weight: 500">Adresse</th>
                        <th class="center" style="vertical-align: middle;font-size: 16px;font-weight: 500">Actions</th>
                    </tr>
                </thead>
                <tbody class="searchable">
                    {% for client in object_list %}
                    <tr>
                        <td class="center" style="vertical-align: middle">{{ client.nom|default:"n/c" }}</td>
                        <td class="center" style="vertical-align: middle">{{ client.prenom|default:"n/c" }}</td>
                        <td class="center" style="vertical-align: middle">{{ client.mobile|default:"n/c" }}</td>
                        <td class="center" style="vertical-align: middle">{{ client.email|default:"n/c" }}</td>
                        <td class="center" style="vertical-align: middle">{{ client.get_adresse|default:"n/c" }}</td>
                        <td > 
                            <a class="btn btn-xs pull-left" href="{% url 'utilisateurs:agent-client' client.pk %}?next={{ request.path }}" >
                                <img  src="{% static "img/client-modif.png" %}"> 
                            </a>
                       
                            <form method="post" action="{% url 'utilisateurs:supprimer-agent-client' client.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-xs tran" style=" margin-right: -35px">
                                    <img  src="{% static "img/trash3.png" %}"> 
                                </button>         
                            </form>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            {% include "includes/pagination.html" %}
        </div>
    </div>
    </div>
    </div>
</div>
{% endblock content %}
