{% extends "utilisateurs/agents/espace.html" %}
{% load static %}


{% block script %}
<script type="text/javascript">
    $(function(){
        $('#search').keyup(function(){
            var rex = new RegExp($(this).val(), 'i');
            $('.searchable').hide();
            $('.searchable').filter(function(){
                return rex.test($(this).find('h3.panel-title').text());
            }).show();
        });
    });
</script>
{% endblock script %}

{% block style %}
<style type="text/css">
    .scrollable {
        height: 210px;
        overflow-y:scroll;
    }
    ::-webkit-scrollbar-thumb {
        background-color: red;

    }

    body {
        background: #f6f6f6;
    }

</style>
{% endblock style %}

{% block content %}
<div class="col-md-9">
    <div class="row row_no_margin">
        <div class="title_p">{% block title %}
    <span style="font-size: 22.5px">GESTION DES FAVORIS</span>
    {% endblock title %}</div>
    </div>
    <div class="row row_no_margin">
    <div class="cell">
     <div style="font-size: 20px;padding-bottom: 10px">Mes listes de favoris</div>
    <div class="row">
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
                <input id="search" type="text" class="form-control" placeholder="Rechercher une liste ...">
            </div>
        </div>
        <form method="post" action="{% url 'utilisateurs:nouvelle-liste-favoris' %}?next={{ request.path }}">
        <div class=" col-md-4 col-md-offset-1 " >
                {% csrf_token %}
                <button type="submit" class="btn btn-default btn-sm border  sh-right-20 " >
                     <img  src="{% static "img/add.png" %}" style="margin-top: -5px">
                    <span style="font-size: 16px">&nbsp;Créer une liste de favoris</span>
                </button>
            </div>
            <div class="col-md-3">
                <input type="text" name="nom" class="form-control" placeholder="Saisissez le nom" required="" style="width:100%">
        </div>
            </form>
        </div>
    <hr>
    {% if object_list %}
    <div class="row">
        {% for list in object_list %}
        <div class="col-md-6 searchable">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <form action="{% url 'utilisateurs:supprimer-liste-favoris' list.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </form>
                    <h3 class="panel-title"> <img src="{% static "img/heart3.png" %}" style="padding-right: 5px;margin-top: -5px;height: 40px;margin-left: -10px"> {{ list.nom }}</h3>
                </div>

                {% with list.favoris.all as favoris %}
                {% if favoris %}
                <div class="list-group scrollable">
                    {% for fav in list.favoris.all %}
                    <a href="{% url 'annonce' fav.nb_mandat %}" target="_blank" class="list-group-item">
                        <form action="{% url 'utilisateurs:liste-favoris' list.pk %}?supprimer={{ fav.nb_mandat }}" method="post" >
                            {% csrf_token %}
                            <button type="submit" class="btn  btn-xs pull-right tran" title="Retirer l'annonce {{ fav }} de la liste {{ list }}"  style="margin-top: 20px">
                                <img  src="{% static "img/trash.png" %}">
                            </button>
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object" src="{{ fav.get_photo_url }}" alt="{{ fav }}" style="width:100px;height: 70px"></div>
                                <div class="media-body">
                                    <p class="media-heading" style="margin-top: 20px">
                                        <span style="color:#333"> {{ fav.get_type }} {{ fav.surface }} m² - </span> <span class="text-muted">{{ fav.ville |title }} {{ fav.code_postal  }} </span>

                                    </p>
                                </div>
                            </div>
                        </form>
                    </a>
                    {% endfor %}
                </div><hr>
                {% else %}
                <div class="panel-body">
                    <div class="alert alert-warning">
                        Aucune annonce dans cette liste de favoris
                    </div>
                    <p class="text-center">
                         <a href="{% url 'utilisateurs:liste-favoris' list.pk %}" class="btn btn-default btn">
                            Parcourir les annonces
                        </a>
                    </p>
                </div>
                {% endif %}
                {% endwith %}
            </div>
        </div>
        {% cycle '' '</div><div class="row">'%}
    {% endfor %}
    </div>
        </div>
    {% include "includes/pagination.html" %}
    {% else %}
    <div class="alert alert-warning" role="alert">

        <button type="button" class="close" data-dismiss="alert" aria-label="Fermer">
            <span aria-hidden="true">&times;</span>
        </button>

        <strong>
            Vous n'avez aucune liste de favoris.
        </strong>
        <br>

        Ajouter une liste de favoris en cliquant sur l'icon <span class="glyphicon glyphicon-plus"></span>


    </div><br>
    {% endif %}
</div>
        </div>
{% endblock content %}
