{% extends "utilisateurs/agents/espace.html" %}

{% block content %}

<div class="col-md-9">
    <div class="title_p1">{% block title %}
        <span style="font-size:22.5px">MES OFFRES REÇUES</span>
        {% endblock title %}</div>
        {% if object_list %}
        {% for bien in object_list %}
        <div class="panel panel-default tab_10" >
            <div class="panel-body" style="margin-bottom: 20px">
                <div class="row">
                    <div class="col-md-12">

                        {% include 'utilisateurs/agents/includes/liste_offres.html' with bien=bien %}
                        {% include 'utilisateurs/agents/includes/historique_offres.html' with bien=bien %}

                      
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% include "includes/pagination.html" %}
        {% else %}
        <div class="alert alert-warning" role="alert">
            
            <button type="button" class="close" data-dismiss="alert" aria-label="Fermer">
                <span aria-hidden="true">&times;</span>
            </button>
            
            <strong>
                Vous n'avez aucune offre (en attente ou refusée). 
            </strong> 
            <br>
           
        </div>
        {% endif %}
    </div>
    {% endblock content %}
