{% extends "utilisateurs/agents/espace.html" %}
{% load static biens_extras %}
{% load humanize static %}
{% block content %}

<div class="col-md-9">
    <div class="title_p1" style="font-size: 22.5px">{% block title %}
        MES OFFRES ACCEPTÉES
        {% endblock title %}</div>
        {% if object_list %}
        {% for offre in object_list %}
        <div class="panel panel-default tab_10">
            <div class="panel-body">
                <div class="row">
                   <div class="col-md-4 ">
                    <div class="img-responsive img-thumbnail ratio-4-3" style="background-image:url('{{ offre.bien.get_photo_url }}')"></div>
                </div>
                    <div class="col-md-8">

                        <div class="row " >

                      <div class="col-md-9" >

                            <span style="font-size: 18px">
                                {{ offre.bien.get_type }} {{ offre.bien.surface }} m² - <span class="text-muted"> {{ offre.bien.ville |title }} {{ offre.bien.code_postal  }} </span><br>
                            </span>



                      <span style="font-size: 15px">
                            {{ offre.bien.surface }}  m² <span class="color_blue">|</span>
                            {{ offre.bien.pieces }} pieces <span class="color_blue">|</span> {{ offre.bien.chambres }} chambres
                          </span></div>
                       <div class="col-md-3" style="margin-top: 5px">
                           <div>
                             <span class="pull-right" style="font-size: 12px;display: block">
                                {{ offre.acceptee|date:'d / m / y'}}
                                <br/>
                                {{ offre.acceptee|date:'h  : i '}}
                                 </span>
                               </div>
                        </div>
                        </div>
                        <div class="row " >
                        <p class="col-xs-12 sh-vendu">
                            <img  src="{% static "img/ok3.png" %}"> <span style="font-size: 18px">OFFRE ACCEPTÉE : {{ offre.prix|intword }} €</span>
                        </p>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-xs-12 pull-left">
                                <p> <span style="font-size: 15px">Vendeur :  {{ offre.bien.vendeur.nom|capfirst }} {{ offre.bien.vendeur.prenom|capfirst }}</span></p>
                                <p style="margin-top: -10px"> <span style="font-size: 15px">Acheteur :
                                                {% if offre.acheteur %}
                                                {{ offre.acheteur.nom|capfirst }} {{ offre.acheteur.prenom|capfirst }}
                                                {% else %}
                                                Agent {{ offre.agent_client.nom|capfirst }} {{ offre.agent_client.prenom|capfirst}}
                                                {% endif %}
                                    </span> </p>
                            </div>
                            <div class="col-md-5 col-xs-12 ">
                                <p>  <span style="font-size: 15px">Prix initial :&nbsp;{{offre.bien.prix|price_format }} €</span></p> <p style="margin-top: -10px">  <span style="font-size: 15px">Montant final :&nbsp;{{ offre.prix|price_format }}  €</span></p>
                            </div>
                        </div>
                        <a href="{% url 'offre-acceptee' offre.pk %}" target="_blank" class="sh-btn-default  btn-xssh_bas pull-right" style="text-transform: none; font-size: 16px;">
                            Télécharger l'offre
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% include "includes/pagination.html" %}
        {% else %}
        <div class="alert alert-warning" role="alert">

            <button type="button" class="close" data-dismiss="alert" aria-label="Fermer">
                <span aria-hidden="true">&times;</span>
            </button>

            <strong>
                Vous n'avez aucune offre acceptée.
            </strong>
            <br>

        </div>
        {% endif %}
    </div>
    {% endblock content %}
