{% extends "utilisateurs/agents/espace.html" %}

{% load static utilisateurs_extras %}

{% block script %}
{{ script }}
<script type="text/javascript">
    $(function(){
        $('#search').keyup(function(){
            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function(){
                return rex.test($(this).text());
            }).show();
        });
    });
</script>
{% endblock script %}


{% block content %}
<div class="col-md-9" >
    <div class="row row_no_margin">
        <div class="title_p">{% block title %}
            <span style="font-size: 22.5">MES VISITES</span>
	{% endblock title %}</div>
    </div>
    <div class="row row_no_margin">
    <div class="cell">
    <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
            </span>
            <input id="search" type="text" class="form-control" style="width: 223.5px" placeholder="Rechercher une fiche ..." style="margin-top: 2px">
        </div>
		{% if object_list %}
			{% include "utilisateurs/agents/includes/liste_visites.html" with object_list=object_list visited=False %}
			{% include "utilisateurs/agents/includes/liste_visites.html" with object_list=object_list|reverse_list visited=True %}
		{% else %}
		<div class="alert alert-warning" role="alert" style="margin-top: 10px;">
			
			<button type="button" class="close" data-dismiss="alert" aria-label="Fermer">
				<span aria-hidden="true">&times;</span>
			</button>
			
			<strong>
				Vous n'avez aucune visite de prévue. 
			</strong> 
			<br>
			
			Parcourir <a href="{% url 'annonce-list' %}"> les annonces </a> 
			
		</div><br>
		{% endif %}
	</div>
    </div>
</div>
	{% endblock content %}
