{% extends "base.html" %}
{% load static bootstrap3 biens_extras %}

{% block title %}
Speedhousing - Rechercher avec plus de critères
{% endblock title %}


{% block script %}
<script type="text/javascript">
    $( document ).ready(function() {
        $('.checkbox').parent().addClass('checkbox-container');
    });
</script>
<style>
  .cs-font-size{
    font-size:17.5px !important;

  }
  .cs-font-size-xs{
    font-size:17.5px !important;

}
  @media screen and (max-width: 359px){
    .cs-font-size-xs{
      font-size:12px !important;
    }
    .prix{
      width:140px !important;
      font-size:14.5px !important;
    }
  }

  @media screen and (max-width: 640px){
    .cs-font-size{
      font-size:14px !important;

    }
    }
  @media screen and (min-width: 640px){

  .mL-25
  {
    margin-left:25px;

  }

}

@media (min-width: 992px) and (max-width: 1200px) {

  .mL-25
  {
    margin-left:0px;

  }
  .smbr{
    margin-top:24px;
  }
}

     body {
        background: #f6f6f6;
    }
    .checkbox-container {
        float: left;
    }
    .checkbox-container > .checkbox {
        padding: 5px;
        width: 118px;
        min-height: 75px;
        background-color: #f6f6f6;
        text-align: center;
        color: #000000;
        margin-right: 15px;
    }
    .checkbox-container > .checkbox > input {
        margin-left: 0px;
        margin-top: 20px;
        position: relative;

    }
    .checkbox-container > .checkbox > label {
        margin-top: 10px;
        text-align: center;
        padding: 0px;
    }

    input[type=number] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
    }

   #id_pi input[type=checkbox] + label {
            background: #f6f6f6;
            border: 2px solid #f6f6f6;
            border-radius: 2px;
            -webkit-font-smoothing: subpixel-antialiased;
            font-size: 15px;
            font-weight: normal;
            line-height: 1.4;
            overflow: auto;
            margin: 4px;
            padding: 8px 15px;
            @include transition( 0.25s linear);
            width: auto;

            &:hover {
                background-color: #4abac0;
                border: 2px solid #4abac0;
                color: black;
            }
        }

    #id_pi input[type=checkbox]:checked + label {
          background: #4abac0 !important;
          border: 2px solid #4abac0!important;
          color: $white;
        }

    #id_pi input[type=checkbox] {
          display: none;
        }

</style>
{% endblock script %}

{% block container %}
<div class="container" style="padding-top: 10px">
    <div class="row " >
        <div class="col-md-8 col-md-offset-2 cell center" >
            <h4 style="text-transform: uppercase;font-size: 22.5px">TROUVER UN BIEN À ACHETER</h4>
        </div>

        <div class="col-md-8 col-md-offset-2 cell" style="padding-bottom: 25px">
             <span class="glyphicon glyphicon-plus" style="color:#4abac0;font-size: 170%" ></span> <div style="font-size: 20px;margin-top: -30px;margin-left: 30px"> Plus de  critères</div>
            {% bootstrap_form_errors form error_types="all" %}

            <form method="get" action="{% url 'annonce-list' %}">

                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <p style=";margin-top: 20px;"> <input name="localisation" title="Saisissez une ville, un quartier, un code postal..." placeholder="Saisissez une ville, un quartier, un code postal..." class="form-control styleinput" id="id_localisation" type="text" style="height: 50px;font-size: 16px" ></p>
                        </div>

                        <div id="id_pi" style="display: inline;">
                                    <input id="id_appartement"  name="type" type="checkbox" value="a">
                            <label for="id_appartement"> <span style="font-size: 17.5px">Appartement</span></label></div>

                        <div id="id_pi" style="display: inline">
                                    <input id="id_maison"  name="type" type="checkbox" value="m">
                            <label for="id_maison"><span style="font-size: 17.5px">Maison</span></label></div>

                        <div id="id_pi" style="display: inline">
                                    <input id="id_loft"  name="type" type="checkbox" value="l">
                            <label for="id_loft"><span style="font-size: 17.5px">Loft</span></label></div>


                         <div id="id_pi" style="display: inline">
                                    <input id="id_hotel"  name="type" type="checkbox" value="h">
                             <label for="id_hotel"><span style="font-size: 17.5px">Hôtel Particulier</span></label></div>

                        <div id="id_pi" style="display: inline">
                                    <input id="id_chateau"  name="type" type="checkbox" value="c">
                            <label for="id_chateau"><span style="font-size: 17.5px">Château</span></label></div>

                        <div id="id_pi" style="display: inline">
                                    <input id="id_box"  name="type" type="checkbox" value="b">
                            <label for="id_box"><span style="font-size: 17.5px">Box</span></label></div>

                        <div id="id_pi" style="display: inline">
                                    <input id="id_parking1"  name="type" type="checkbox" value="p">
                            <label for="id_parking1"><span style="font-size: 17.5px">Parking</span></label></div>

                        <div id="id_pi" style="display: inline">
                                    <input id="id_immeuble"  name="type" type="checkbox" value="i">
                            <label for="id_immeuble"><span style="font-size: 17.5px">Immeuble</span></label></div>


                        <div id="id_pi" style="display: inline">
                                    <input id="id_terrain"  name="type" type="checkbox" value="t">
                            <label for="id_terrain"><span style="font-size: 17.5px">Terrain</span></label></div>

                        <div id="id_pi" style="display: inline">
                                    <input id="id_villa"  name="type" type="checkbox" value="v">
                            <label for="id_villa"><span style="font-size: 17.5px">Villa</span></label></div>
                            <div id="id_pi" style="display: inline">
                                        <input id="id_chalet"  name="type" type="checkbox" value="e">
                                <label for="id_chalet"><span style="font-size: 17.5px">Chalet</span></label></div>
                        <h4 style="margin-top: 10px;">Budget</h4>
                        <div>

                                <input type="number" name="min_prix" class="form-control prix styleinput" style="font-size: 16px; width: 160px;display: inline"placeholder="budget min € ..." min="0" value="{{ request.GET.min_prix }}" >

                                <input type="number" name="max_prix" class="form-control prix styleinput" style="font-size: 16px; width: 165px;display: inline;margin-left: 10px"placeholder="budget max € ..." value="{{ request.GET.max_prix }}" >

                    </div>
                       <h4 style="margin-top: 20px">Surface du Bien</h4>
                        <div >

                                <input type="number" name="min_surface" class="form-control prix styleinput" style="font-size: 16px; width: 160px;display: inline"placeholder="surface min m² ..." min="0" value="{{ request.GET.min_surface }}" >


                                <input type="number" name="max_surface" class="form-control prix styleinput"  style="font-size: 16px; width: 165px;display: inline;margin-left: 10px"placeholder="surface max m² ..." value="{{ request.GET.max_surface }}" >

                        </div>
                        <div class="row">
                            <div class="col-md-6"> <h4 style="margin-top: 20px">Nombre de Pièces</h4>
                            <div class="form-group">

                                <div id="id_pi" style="display: inline">
                                    <input id="id_piece"  name="pieces" type="checkbox" value="1">
                                    <label for="id_piece">1</label></div>
                                <div id="id_pi" style="display: inline">
                                    <input id="id_piece2"  name="pieces" type="checkbox" value="2">
                                    <label for="id_piece2">2</label></div>

                                <div id="id_pi" style="display: inline">
                                    <input id="id_piece3"  name="pieces" type="checkbox" value="3">
                                    <label for="id_piece3">3</label></div>
                                <div id="id_pi" style="display: inline">
                                    <input id="id_piece4"  name="pieces" type="checkbox" value="4">
                                    <label for="id_piece4">4</label></div>
                                <div id="id_pi" style="display: inline">
                                    <input id="id_piece5"  name="pieces" type="checkbox" value="5">
                                    <label for="id_piece5">5+</label></div>
                                </div>


                            </div>

                            <div class="col-md-6 "> <h4 style="margin-top: 20px">Nombre de Chambres</h4>
                                <div class="form-group">

                                    <div id="id_pi" style="display: inline">
                                    <input id="id_chambre"  name="chambres" type="checkbox" value="1">
                                    <label for="id_chambre">1</label></div>
                                <div id="id_pi" style="display: inline">
                                    <input id="id_chambre2"  name="chambres" type="checkbox" value="2">
                                    <label for="id_chambre2">2</label></div>

                                <div id="id_pi" style="display: inline">
                                    <input id="id_chambre3"  name="chambres" type="checkbox" value="3">
                                    <label for="id_chambre3">3</label></div>
                                <div id="id_pi" style="display: inline">
                                    <input id="id_chambre4"  name="chambres" type="checkbox" value="4">
                                    <label for="id_chambre4">4</label></div>
                                <div id="id_pi" style="display: inline">
                                    <input id="id_chambre5"  name="chambres" type="checkbox" value="5">
                                    <label for="id_chambre5">5+</label></div>
                                </div>
                            </div>
                        </div>

                       <h4 style="margin-top: 0px">Étage</h4>
                        <div>

                                <input type="number" name="min_etage" class="form-control prix styleinput" min="0" style="font-size: 16px; width: 160px;display: inline" placeholder="min etage ..." value="{{ request.GET.min_etage }}">


                                <input type="number" name="max_etage" class="form-control prix styleinput"  style="font-size: 16px; width: 165px;display: inline;margin-left: 10px"placeholder="max etage ..." value="{{ request.GET.max_etage }}" >

                        </div>
                        <h4 style="margin-top: 20px">Surfaces annexes</h4>
                        <div>
                            <div id="id_pi" style="display: inline">
                                <input id="id_surface_terrasse"  name="surface_terrasse" type="checkbox">
                                <label for="id_surface_terrasse"><span style="font-size: 17.5px">Terrasse</span></label>
                            </div>

                            <div id="id_pi" style="display: inline">
                                <input id="id_surface_balcon"  name="surface_balcon" type="checkbox">
                                <label for="id_surface_balcon"><span style="font-size:17.5px">Balcon</span></label>
                            </div>

                            <div id="id_pi" style="display: inline">
                                <input id="id_surface_jardin"  name="surface_jardin" type="checkbox">
                                <label for="id_surface_jardin"><span style="font-size: 17.5px">Jardin</span></label>
                            </div>
                        </div>
                         <h4 style="margin-top: 20px">Cuisine</h4>
                         <div >

                                <div id="id_pi" style="display: inline">
                                    <input id="id_cuisine_americaine"  name="cuisine_americaine" type="checkbox">
                                    <label for="id_cuisine_americaine"><span style="font-size: 17.5px">Americaine</span></label></div>




                                    <div id="id_pi" style="display: inline">
                                    <input id="id_cuisine_separee"  name="cuisine_separee" type="checkbox">
                                        <label for="id_cuisine_separee"><span style="font-size: 17.5px">Séparée</span></label></div>


                        </div>
                         <h4 style="margin-top: 20px">Commodités</h4>

                            <div class="col-md-2">
                        <div class="form-group checkbox-container">
                    <div class="checkbox">
                        <input name="digicode" class="" id="id_digicode" type="checkbox"><br>
                        <label for="id_digicode">Digicode</label>
                    </div>
                </div>
                    </div>

                     <div class="col-md-2 mL-25" style="" >
                        <div class="form-group checkbox-container">
                    <div class="checkbox">
                        <input name="gardien" class="" id="id_gardien" type="checkbox"><br>
                        <label for="id_gardien">Gardien</label>
                    </div>
                </div>
                </div>

                 <div class="col-md-2 mL-25" style="" >
                        <div class="form-group checkbox-container">
                    <div class="checkbox">
                        <input name="interphone" class="" id="id_interphone" type="checkbox"><br>
                        <label for="id_interphone">Interphone</label>
                    </div>
                </div>
                </div>

                 <div class="col-md-2 mL-25" style="" >

                    <div class="form-group checkbox-container">
                    <div class="checkbox">
                        <input name="cave" class="" id="id_cave" type="checkbox"><br>
                        <label for="id_cave">Cave</label>
                    </div>
                </div>
                </div>

                <div class="col-md-2 mL-25" style="" >
                        <div class="form-group checkbox-container">
                    <div class="checkbox">
                        <input name="parking" class="" id="id_parking" type="checkbox"><br>
                        <label for="id_parking">Parking</label>
                    </div>
                </div>
                </div>

                <div class="col-md-2 " >
                        <div class="form-group checkbox-container">
                    <div class="checkbox">
                        <input name="refait_a_neuf" class="" id="id_refait_a_neuf" type="checkbox"><br>
                        <label for="id_refait_a_neuf">Refait à neuf</label>
                    </div>
                </div>
            </div>

                <div class="col-md-2 mL-25" style="" >
                        <div class="form-group checkbox-container">
                    <div class="checkbox">
                        <input name="a_renover" class="" id="id_a_renover" type="checkbox"><br>
                        <label for="id_a_renover">À rénover</label>
                    </div>
                </div>
                </div>

                <div class="col-md-2 mL-25" style="">
                            <div class="form-group checkbox-container">
                    <div class="checkbox">
                        <input name="piscine" class="" id="id_piscine" type="checkbox"><br>
                        <label for="id_piscine">Piscine</label>
                    </div>
                </div>
                </div>

                <div class="col-md-2 mL-25" style="" >
                        <div class="form-group checkbox-container">
                    <div class="checkbox">
                        <input name="belle_vue" class="" id="id_belle_vue" type="checkbox"><br>
                        <label for="id_belle_vue">Belle vue</label>
                    </div>
                    </div>
                    </div>

                <div class="col-md-2 mL-25" style="">
                        <div class="form-group checkbox-container">
                    <div class="checkbox">
                        <input name="ascenseur" class="" id="id_ascenseur" type="checkbox"><br>
                        <label for="id_ascenseur">Ascenseur</label>
                    </div>
                </div>
                </div>

                <div class="col-md-2 ">
                        <div class="form-group checkbox-container">
                    <div class="checkbox">
                        <input name="dernier_etage" class="" id="id_dernier_etage" type="checkbox"><br>
                        <label for="id_dernier_etage">Dernier étage</label>
                    </div>
                </div>
                </div>

                <div class="col-md-2 mL-25" style="">
                    <div class="form-group checkbox-container">
                    <div class="checkbox">
                        <input name="sans_vis_a_vis" class="" id="id_sans_vis_a_vis" type="checkbox"><br>
                        <label for="id_sans_vis_a_vis">Sans vis-à-vis</label>
                    </div>
                </div>
                </div>

                <div class="col-md-2 mL-25" style="" >
                        <div class="form-group checkbox-container">
                    <div class="checkbox">
                        <input name="alarme" class="" id="id_alarme" type="checkbox"><br>
                        <label for="id_alarme">Alarme</label>
                    </div>
                    </div>
                    </div>

                <div class="col-md-2 mL-25"style="" >
                        <div class="form-group checkbox-container">
                    <div class="checkbox">
                        <input name="access_handicape" class="" id="id_access_handicape" type="checkbox"><br>
                        <label for="id_access_handicape">Accès handicapé</label>
                    </div>
                </div>
                </div>

                <div class="col-md-2 mL-25" style="" >
                        <div class="form-group checkbox-container">
                    <div class="checkbox">
                        <input name="cheminee" class="" id="id_cheminee" type="checkbox"><br>
                        <label for="id_cheminee">Cheminée</label>
                    </div>
                    </div>
                </div>

                <div class="col-md-2 " >
                        <div class="form-group checkbox-container">
                    <div class="checkbox">
                        <input name="box" class="" id="id_box" type="checkbox"><br>
                        <label for="id_box">Box</label>
                    </div>
                </div>
                </div>

                <div class="col-md-2 mL-25" style="" >
                        <div class="form-group checkbox-container">
                    <div class="checkbox">
                        <input name="rangements" class="" id="id_rangements" type="checkbox"><br>
                        <label for="id_rangements">Rangements</label>
                    </div>
                    </div>
                </div>

                <div class="col-md-2 mL-25" style="" >
                        <div class="form-group checkbox-container">
                    <div class="checkbox">
                        <input name="dressing" class="" id="id_dressing" type="checkbox"><br>
                        <label for="id_dressing">Dressing</label>
                    </div>
                    </div>
                </div>

                <div class="col-md-2 mL-25" style="" >
                        <div class="form-group checkbox-container">
                    <div class="checkbox">
                        <input name="placards" class="" id="id_placards" type="checkbox"><br>
                        <label for="id_placards">Placards</label>
                    </div>
                    </div>
                  </div>
                  <div class="row" >
                    <div class="col-lg-8 col-lg-offset-4 col-md-offset-4 col-md-8 col-xs-offset-0 col-sm-8 col-sm-offset-4 col-xs-9  " id="id_pi" style="display: inline; ">
                        <input id="id_with_photo"  name="with_photo" type="checkbox" >
                        <label for="id_with_photo" class="cs-font-size">Annonce uniquement avec photos</label>
                    </div>
                    <div class="col-lg-8 col-lg-offset-4 col-md-offset-4 col-md-8 col-xs-offset-0 col-sm-8 col-sm-offset-4 col-xs-9" >
                      <button type="submit" class="btn btn-primary cs-font-size-xs" style="background-color:#4abac0; border-color: #4abac0;margin-top: 20px;">
                          {% bootstrap_icon "send" %}
                         &nbsp; Voir les résultats de la recherche
                      </button>
                    </div>
                  </div>
                </div>



            </form>
        </div>
    </div>

</div>
{% endblock container %}
