{% extends "base.html" %}

{% load static biens_extras %}

{% block title %}
Speedhousing - {{ object }}
{% endblock title %}


{% block style %}
<style type="text/css">



  .detail_sh{
    padding-bottom:0px !important;
    margin-bottom:40px !important;
  }
  .cs-font-size{
    font-size:15px;
  }


  @media screen and (min-width: 960px){
    .margin-bg{
      margin-left:70%;
    }
  }

  @media screen and (min-width: 640px){

  .margin_img{
    margin-top:-19px;
  }
  .RDV{
    width:320px;
  }
  .margin-top-bg{
    margin-top: 24px;
  }

}
.cs-font-size-xs{
  font-size:16px !important;;

}
@media screen and (max-width: 359px){
   .cs-font-size-xs{
     font-size:14.5px !important;;
   }
}
@media screen and (max-width: 380px){
  .cs-font-size{
    font-size:10px !important;;
  }
}
@media screen and (max-width: 440px){

.cs-font-size{
  font-size:12px;
}
.no-padding-xs{
  padding-left:0px;
}
}
@media screen and (max-width: 640px){



.RDV{
  margin-left:12px;
}
.margin_img{
  margin-left:-19px;
}

}

    #map {
        min-width: 100%;
        min-height: 400px;
    }
    .scrollable {
        height: 200px;
        overflow-y:scroll;
    }
    body{
        background-color: #f6f6f6;
        padding-bottom: 70px;
    }

    .item img {

		min-height: 400px;
		vertical-align: middle;
	}
</style>
{% endblock style %}


{% block script %}
<script type="text/javascript">
$(document).ready(function(){

	var type = "{{ bien.get_type |safe}}";
    if (type == 'Terrain' || type == 'Box' || type =='Parking' || type =='Immeuble'){
	$('.to_hide').hide();
}
});
</script>
{% if request.user.agent %}
<script src="{% static "js/bootstrap3-typeahead.min.js" %}"></script>
<script>
    var cache = Array();

    $(function(){


        $('#q').typeahead({
            delay: 3,
            autoSelect: true,
            minLength: 3,
            showHintOnFocus: 'all',
            updater: function(i){
                var h = "{% url 'bien-calendrier' object.nb_mandat %}" + i.id + "/";
                $('#bien-calendrier').attr('href', h);
                return i.name;
            },
            source: function(q, callback){

                if(undefined !== cache[q])
                    return callback(cache[q]);

                return $.get(
                    "{% url 'utilisateurs:list-agent-client' %}?q=" + q,
                    function(d){
                        cache[q] = d;
                        return callback(cache[q]);
                    }
                );
            }
        });

		$('.favoris-btn').each(function (index, btn) {
			var triggerId = $(btn).attr('id');


			// initialisation de la modale
			$('#confirmModal_'+triggerId).modal({
				'show': false
			});
			// ajout du déclencheur d'affichage
			$('#'+triggerId).click(function (e) {
				$('#confirmModal_'+triggerId).modal('show');
			});
			// traitement en cas de confirmation
			$('#confirmBtn_'+triggerId).click(function (e) {
				$('#confirmModal_'+triggerId).modal('hide');
			});
		});
    });
</script>
{% endif %}

<script>

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: {lat: {{ bien.localisation.y|replace_commas }}, lng: {{ bien.localisation.x|replace_commas }}},
            mapTypeId: 'terrain',
            });

        var circle = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35,
            map: map,
            center: {lat: {{ bien.localisation.y|replace_commas }}, lng: {{ bien.localisation.x|replace_commas }}},
            radius: 100,
            });
    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACctgCdD3jv1euVBIYrqdObjvfrmMgGxI&callback=initMap">
</script>

{% endblock script %}



{% block container %}
<div class="container" style="padding-bottom:70px">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="title_p1" style="text-align: left;padding-left: 15px;margin-top: -5px;font-size: 18px;padding-bottom: 3px;margin-right:15px;margin-left:15px">Vente - {{ bien.get_type }} {{ bien.surface }} m² - <span class="text-muted">{{ bien.ville |title }} {{ bien.code_postal  }} </span> </div>
            </div>

            <div style="margin-top: -20px; margin-left:0px; padding-left:0px">
                {% include "biens/includes/carousel.html" with images=object.photos.all %}
            </div>

            <div class="row">
		    <div class="list" style="position: absolute;top: 490px; bottom: 0; left: 48%;margin-top: 20px">

		    </div>
            </div>

            <div class="row cell cell-add-margin-and-padding-bottom" style="padding-left:25px;margin-top:40px">
                <div class="col-xs-7">
                    <div class="row row-no-margin">
                        <div style="font-size: 18px" >{{ bien.get_type }} {{ bien.surface }} m² </div>
                    </div>
                    <div class="row row-no-margin">
                        <div  style="font-size: 18px;padding-bottom: 17px;margin-top: -3px"> <span class="text-muted"> {{ bien.ville |title }} {{ bien.code_postal  }} </span>
                        </div>
                    </div>
                    <div class="row row-no-margin">
                        <div class="hidden-xs">
                            <span class="label label-success" style="font-size: 16px;text-align: center">
                                {{ bien.surface }} m²
                            </span>
                            &nbsp;
                            <span class="label label-success to_hide" style="font-size: 16px;text-align: center">
                                {% if  bien.pieces == 0  %}
                                    {{ bien.pieces }} pièce
                                {% elif  bien.pieces == 1 %}
                                    {{ bien.pieces }} pièce
                                {% else %}
                                    {{ bien.pieces }} pièces
                                {% endif %}
                            </span>
                            &nbsp;
                            <span class="label label-success to_hide" style="font-size: 16px;text-align: center">
                               {% if  bien.chambres == 0  %}
                                    {{ bien.chambres }} chambre
                                {% elif   bien.chambres ==  1 %}
                                    {{ bien.chambres }} chambre
                                {% else %}
                                    {{ bien.chambres }} chambres
                                {% endif %}
                            </span>
                        </div>
                        <div class="visible-xs">
                            <div class="row">
                                <div class="col-xs-3" style="margin-bottom:10px;">
                                    <span class="label label-success cs-font-size-xs" style="text-align: center">
                                        {{ bien.surface }} m²
                                    </span>
                                </div>
                                <div class="col-xs-3 col-xs-offset-1" style="margin-bottom:10px">
                                    <span class="label label-success to_hide  cs-font-size-xs" style="text-align: center">
                                        {% if  bien.pieces == 0  %}
                                            {{ bien.pieces }} pièce
                                        {% elif  bien.pieces == 1 %}
                                            {{ bien.pieces }} pièce
                                        {% else %}
                                            {{ bien.pieces }} pièces
                                        {% endif %}
                                    </span>
                                </div>
                                <div class="col-xs-3 col-xs-offset-2" style="margin-bottom:10px">
                                    <span class="label label-success to_hide  cs-font-size-xs" style="text-align: center">
                                       {% if  bien.chambres == 0  %}
                                            {{ bien.chambres }} chambre
                                        {% elif   bien.chambres ==  1 %}
                                            {{ bien.chambres }} chbre
                                        {% else %}
                                            {{ bien.chambres }} chbres
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="col-md-5">
                    <div class="pull-right" style="font-size: 18px;padding: 5px;margin-right: 3px;padding-right: 10px;padding-bottom: 17px">
                        {{ bien.prix|price_format  }} €
                    </div>
                </div>

                    <div class=" col-md-12 col-xs-12 col-sm-12" style="padding-right: 20px">
                                {% if request.user.client %}
                            {% elif request.user.agent %}

                          <div class="row" >


                          {% block favoris %}
                          {% if not bien in request.user.agent.favoris %}
                          	{% include 'biens/includes/favori_agent_modal.html' with bien=bien title="Ajouter/Supprimer aux favoris" %}
                            <div  class="col-xs-1 col-md-1 col-sm-1 col-md-offset-6 col-xs-offset-0  col-sm-offset-6 no-padding-xs " >

                          	<span style=" z-index:5">
                          		<a id="favoris-{{ bien.nb_mandat }}" class="favoris-btn " style="background-color:transparent; margin-top:-3px cursor:pointer">
                          			<img src="{% static "img/vide.png" %}" title="Ajouter dans mes favoris">
                          		</a>
                          	</span>
                          </div>

                          {% else %}
                          		{% csrf_token %}
                          		{% include 'biens/includes/favori_agent_modal.html' with bien=bien title="Ajouter/Supprimer aux favoris" %}
                              <div  class="col-xs-1 col-md-1 col-sm-1 col-md-offset-6 col-xs-offset-0  col-sm-offset-4 no-padding-xs" >

                          		<span style="">
                          			<a id="favoris-{{ bien.nb_mandat }}" class="favoris-btn but_bottom" style="cursor:pointer; background-color: transparent;margin-top: -8px;margin-left: -10px">
                          				<img src="{% static "img/heart3.png" %}" style="width: 38px" title="Supprimer dans mes favoris">
                          			</a>
                          		</span>
                            </div>

                          {% endif %}
                          {% endblock favoris %}
                                {% endif %}

						{% if request.user.agent %}
                        <div class="col-md-5 col-xs-11 col-sm-5 " >{% include "biens/includes/agent.html" with agent=request.user.agent%}</div>
                        </div>
						{% elif request.user.client and request.user.client != object.vendeur %}
                            {% include "biens/includes/acheteur.html" with acheteur=request.user.client %}
						{% elif request.user.client == object.vendeur %}
						{% else %}
							{% include "biens/includes/anonymous.html" %}
						{% endif %}
					</div>

            </div>
            <div class="row cell cell-add-margin-and-padding-bottom ">
                <div class="col-md-12">
                    <div class="row row-no-margin">
                        <div class="title-detail-sh margin-top-bg">DESCRIPTION</div>
                    </div>
                    <div class="row row-no-margin">
                        <p class="text-justify" style="font-size: 15px;padding-left: 15px">
                            {{ bien.description }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="row cell cell-add-margin-and-padding-bottom to_hide">
                <div class="col-md-12">
                    <div class="row row-no-margin">
                        <div class="title-detail-sh">DÉTAILS DU BIEN</div>
                    </div>
                    <div class="row row-no-margin">
                      <div class="col-sm-3 col-xs-6 detail_sh" >
                          Taxe foncière : {{ bien.taxe }}€ par an
                      </div><div class="col-sm-3 col-xs-6 detail_sh" >
                          Charges de copropriété : {{ bien.charges }}€ par an
                      </div>
                        <div class="col-sm-3 col-xs-6 detail_sh" >
                            {{ bien.get_energie }}
                        </div>
                        <div class="col-sm-3 col-xs-6 detail_sh " >
                            Exposition {{ bien.get_exposition }}
                            <br/>
                        </div>
                        <div class="col-sm-3 col-xs-6 detail_sh">
                            Chauffage {{ bien.get_chauffage }} {{ bien.get_type_chauffage }}
                            <br/>
                        </div>
                        <div class="col-sm-3 col-xs-6 detail_sh">
                            {{ bien.sdb }} salle{{ bien.sdb|pluralize }} de bain
                        </div>
                        <div class="col-sm-3 col-xs-6 detail_sh">
                            {{ bien.sde }} salle{{ bien.sde|pluralize }} d'eau
                        </div>
                        <div class="col-sm-3 col-xs-6 detail_sh">
                            Construction en {{ bien.construction }}
                        </div>
                        <div class="col-sm-3 col-xs-6 detail_sh">
                            {{ bien.get_etage }}
                        </div>

                        {% if bien.surface_terrasse %}
                        <div class="col-sm-3 col-xs-6 detail_sh">
                            {{ bien.surface_terrasse }} m² de terrasse
                        </div>
                        {% endif %}

                        {% if bien.surface_balcon %}
                        <div class="col-sm-3 col-xs-6 detail_sh">
                            {{ bien.surface_balcon }} m² de balcon
                        </div>
                        {% endif %}

                        {% if bien.surface_jardin %}
                        <div class="col-sm-3 col-xs-6 detail_sh">
                            {{ bien.surface_jardin }} m² de jardin
                        </div>
                        {% endif %}

                        {% if bien.cuisine_americaine %}
                        <div class="col-sm-3 col-xs-6 detail_sh">
                            Cuisine américaine
                        </div>
                        {% endif %}
                        {% if bien.cuisine_separee %}
                        <div class="col-sm-3 col-xs-6 detail_sh">
                            Cuisine séparée
                        </div>
                        {% endif %}
                        {% if bien.cuisine_equipee %}
                        <div class="col-sm-3 col-xs-6 detail_sh">
                            Cuisine équipée
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row cell cell-add-margin-and-padding-bottom" >
                <div class="col-md-12">
                    <div class="row row-no-margin">
                        <div class="title-detail-sh">COMMODITÉS</div>
                    </div>
                    <div class="row row-no-margin">
                        {% if bien.gardien %}
                        <div class="col-sm-3 col-xs-2 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
                            <p style="margin-top: 10px"><img  src="{% static "img/present.png" %}"></p>
                            <div style="text-align: center"> Gardien</div>
                        </div>
                        {% endif %}

                        {% if bien.digicode %}
                        <div class="col-sm-3 col-xs-2 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
                            <p style="margin-top: 10px"><img  src="{% static "img/present.png" %}"></p>
                             <div style="text-align: center">Digicode</div>
                        </div>
                        {% endif %}

                        {% if bien.interphone %}
                        <div class="col-sm-3 col-xs-2 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1" >
                            <p style="margin-top: 10px"><img  src="{% static "img/present.png" %}"></p>
                            <div style="text-align: center"> Interphone</div>
                        </div>
                        {% endif %}

                        {% if bien.cave %}
                        <div class="col-sm-3 col-xs-2 sh-com sh-left-16-right-4"style=" background-color: #f1f1f1" >
                            <p style="margin-top: 10px"><img  src="{% static "img/present.png" %}"></p>
                            <div style="text-align: center"> Cave</div>
                        </div>
                        {% endif %}

                        {% if bien.parking %}
                        <div class="col-sm-3 col-xs-2 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
                            <p style="margin-top: 10px"><img  src="{% static "img/present.png" %}"></p>
                            <div style="text-align: center"> Parking</div>
                        </div>
                        {% endif %}

                        {% if bien.refait_a_neuf %}
                        <div class="col-sm-3 col-xs-2 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
                           <div style="margin-left: 20px;margin-top: 10px"><img  src="{% static "img/present.png" %}"></div>
                            <div style="text-align: center" style="margin-top: -10px" >Refait à neuf</div>
                        </div>
                        {% endif %}

                        {% if bien.a_renover %}
                        <div class="col-sm-3 col-xs-2 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
                            <p style="margin-top: 10px"><img  src="{% static "img/present.png" %}"></p>
                            <div style="text-align: center">À rénover</div>
                        </div>
                        {% endif %}

                        {% if bien.piscine %}
                        <div class="col-sm-3 col-xs-2 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1" >
                            <p style="margin-top: 10px"><img  src="{% static "img/present.png" %}"></p>
                            <div style="text-align: center"> Piscine </div>
                        </div>
                        {% endif %}

                        {% if bien.belle_vue %}
                        <div class="col-sm-3 col-xs-2 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
                            <p style="margin-top: 10px"><img  src="{% static "img/present.png" %}"></p>
                            <div style="text-align: center"> Belle vue </div>
                        </div>
                        {% endif %}

                        {% if bien.ascenseur %}
                        <div class="col-sm-3 col-xs-2 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
                            <p style="margin-top: 10px"><img  src="{% static "img/present.png" %}"></p>
                            <div style="text-align: center"> Ascenseur </div>
                        </div>
                        {% endif %}

                        {% if bien.dernier_etage %}
                        <div class="col-sm-3 col-xs-2 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
                           <div style="margin-left: 20px;margin-top: 10px"><img  src="{% static "img/present.png" %}"></div>
                            <div style="text-align: center;margin-top: -3px">  Dernier étage </div>
                        </div>
                        {% endif %}

                        {% if bien.sans_vis_a_vis %}
                        <div class="col-sm-3 col-xs-2 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
                            <div style="margin-left: 20px; margin-top: 10px"><img  src="{% static "img/present.png" %}"></div>
                            <div style="text-align: center">Sans vis-à-vis</div>
                        </div>
                        {% endif %}

                        {% if bien.alarme %}
                        <div class="col-sm-3 col-xs-2 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
                            <p style="margin-top: 10px"><img  src="{% static "img/present.png" %}"></p>
                            <div style="text-align: center">Alarme</div>
                        </div>
                        {% endif %}

                        {% if bien.access_handicape %}
                        <div class="col-sm-3 col-xs-2 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
                            <div style="margin-left: 20px; margin-top: 10px"><img  src="{% static "img/present.png" %}"></div>
                            <div style="text-align: center">Accès handicapé</div>
                        </div>
                        {% endif %}

                        {% if bien.cheminee %}
                        <div class="col-sm-3 col-xs-2 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
                            <p style="margin-top: 10px"><img  src="{% static "img/present.png" %}"></p>
                            <div style="text-align: center">  Cheminée</div>
                        </div>
                        {% endif %}

                        {% if bien.box %}
                        <div class="col-sm-3 col-xs-2 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
                            <p style="margin-top: 10px"><img  src="{% static "img/present.png" %}"></p>
                            <div style="text-align: center">Box</div>
                        </div>
                        {% endif %}

                        {% if bien.rangements %}
                        <div class="col-sm-3 col-xs-2 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
                            <p style="margin-top: 10px"><img  src="{% static "img/present.png" %}"></p>
                            <div style="text-align: center;margin-left: -5px">Rangements</div>
                        </div>
                        {% endif %}

                        {% if bien.dressing %}
                        <div class="col-sm-3 col-xs-2 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
                            <p style="margin-top: 10px"><img  src="{% static "img/present.png" %}"></p>
                            <div style="text-align: center">Dressing</div>
                        </div>
                        {% endif %}

                        {% if bien.placards %}
                        <div class="col-sm-3 col-xs-2 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
                            <p style="margin-top: 10px"><img  src="{% static "img/present.png" %}"></p>
                            <div style="text-align: center"> Placards</div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row cell cell-add-margin-and-padding-bottom">
                <div class="col-md-12">
                    <div class="row row-no-margin">
                        <div class="title-detail-sh">À PROXIMITÉ</div>
                    </div>
                    <div class="row row-no-margin">
                        <div class="col-sm-9 col-sm-push-3" >
                            <div id="map"></div>
                        </div>
                        <div class="col-sm-3 col-sm-pull-9">
                            <div class="row">
                                {% if bien.transports %}
                                <div class="col-md-12" style="margin-bottom: 15px;font-size: 15px">
                                    <img  src="{% static "img/present.png" %}">
                                    Transport
                                </div>
                                {% endif %}

                                {% if bien.commerces %}
                                <div class="col-md-12" style="margin-bottom: 15px;font-size: 15px">
                                    <img  src="{% static "img/present.png" %}">
                                    Commerces
                                </div>
                                {% endif %}

                                {% if bien.ecoles %}
                                <div class="col-md-12" style="margin-bottom: 15px;font-size: 15px">
                                    <img  src="{% static "img/present.png" %}">
                                    École
                                </div>
                                {% endif %}
                                {% if bien.loisirs %}
                                <div class="col-md-12" style="margin-bottom: 15px;font-size: 15px">
                                    <img  src="{% static "img/present.png" %}">
                                    Loisirs
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include "biens/includes/prix.html" with prix=object.prix %}

            <div class="row cell cell-add-margin-and-padding-bottom">
                <div class="title-detail-sh" style="font-size: 15px">
                    Référence : BN{{ bien.nb_mandat }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock container %}
