{% extends "base.html" %}
{% load urls biens_extras static %}

{% block style %}
<style>
  @media screen and (max-width: 339px){
    .margin-left-sm-screen-15{
      margin-left:-15px;
    }
  }

  @media screen and (min-width: 1200px){

  .margin-top-screen-45
   {
     margin-top: 60px;
   }
 }
 @media screen and (max-width: 500px){
   .margin-xs-right{
     margin-left:-20px;

   }

 }

  @media screen and (min-width: 640px){

  .margin-top-screen-20
  {
    margin-top: 20px;
  }

  .margin-right-screen-15{
    margin-right:15px;
  }

}
/* Portrait tablets and small desktops */
@media (min-width: 440px) and (max-width: 767px) {
  .margin-left-sm-screen-15{
    margin-left:40px;
  }
@media (min-width: 992px) and (max-width: 1200px) {
  .margin-left-sm-screen-15{
    margin-left:-15px;
  }

}


@media screen and (max-width: 480px){
  .btn_xss
  {
    margin-left: -20px !important;
  }
  .margin-top-smallscreen
  {
    margin-left:35%;
  }


}
@media screen and (max-width: 640px){
  .margin-top-smallscreen
  {

  }


  .margin-left-sm-5{
    margin-left: -5px;
  }

}
    body {
        background: #f6f6f6;
        padding-bottom: 100px;
    }
    input[type=number] {
        -moz-appearance: textfield;
        height: 29px;
        width: 110px;

    }
    .form-control{
        background-color: #f6f6f6;
        :placeholder{
            color: #333333;
        }
    }
    div.panel-heading{
        padding: 10px 5px 5px 12px;

    }

    div.panel-primary{
        margin-bottom: 5px;
    }
    div.panel-body{
        padding: 5px 5px 5px 5px;
    }
    div.panel-footer{
        padding: 5px 5px 5px 5px;
    }
</style>
{% endblock %}




{% block container %}

<div class="container" style="margin-bottom: 60px;">
    <div class="row">
        <div class="col-md-3">
            <div class="nav-title2" style="font-size: 22.5px;text-transform: uppercase;">ma Recherche</div>
                <form method="get" id="search-form" class="top_space">
                    <div class="row row_no_margin">
                        <div class="panel panel-primary" style="border-color:white;">
                            <div class="panel-heading" style="background-color: white; border-color:white; text-align: left">
                                <h3 class="panel-title" style="color: #333333; font-size: 17px">Localisation</h3>
                            </div>
                            <ul class="list-group">
                                {% for value in request.GET|getlist:'localisation' %}
                                {% if value %}
                                <li class="list-group-item nav-recherche" >
                                    <span class="close">&times;</span>
                                    <input type="hidden" name="localisation" value="{{ value|title }}" >
                                    {{ value|title }}
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            <div class="panel-footer" style="background-color: white;">
                                <div class="input-group">
                                    <input id="add_localisation" type="text" name="localisation" placeholder="Ajouter un lieu ..." class="form-control">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                <div class="panel panel-primary"  style="border-color:white">
                    <div class="panel-heading"  style="background-color: white; border-color:white;">
                        <h3 class="panel-title" style="color: #333333; text-align: left; font-size: 17px">Type de bien</h3>
                    </div>
                    <ul class="list-group">

                        {% for value in request.GET|getlist:'type' %}
                        {% if value %}

                        <li class="list-group-item nav-recherche">
                            <span class="close">&times;</span>
                            <input type="hidden" name="type" value="{{ value }}">
                            {{ TYPES_BIENS|hash:value }}
                        </li>
                        {% endif %}
                        {% endfor %}

                    </ul>

                    <div class="panel-footer" style="background-color: white;">
                        <select name="type" id="add_type" class="form-control" placeholder="Le type de bien"    >

                            {% for type in TYPES_BIENS %}
                            <option value="{{ type }}" > {{ TYPES_BIENS|hash:type  }} </option>
                            {% endfor %}


                        </select>
                    </div>
                </div>
                <div class="panel panel-primary"  style="border-color:white;text-align: left">
                    <div class="panel-heading"  style="background-color: white; border-color:white;">
                        <h3 class="panel-title"  style="color: #333333; text-align: left; font-size: 17px">Budget</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 col-small-padding-right">
                                <input type="number" name="min_prix" class="form-control disable_d" style="font-size: 12px;width:100%"placeholder="budget min € ..."  value="{{ request.GET.min_prix }}">
                            </div>
                            <div class="col-md-6 col-small-padding-left">
                                <input type="number" name="max_prix" class="form-control disable_d" style="font-size: 12px;width:100%"placeholder="budget max € ..." value="{{ request.GET.max_prix }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary"  style="border-color:white;text-align: left">
                    <div class="panel-heading"  style="background-color: white; border-color:white;">
                        <h3 class="panel-title"  style="color: #333333; text-align: left; font-size: 17px">Surface</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 col-small-padding-right">
                                <input type="number" name="min_surface" class="form-control disable_d" style="font-size: 12px;width:100%" placeholder="surface min m² ..." value="{{ request.GET.min_surface }}">
                            </div>
                            <div class="col-md-6 col-small-padding-left">
                                <input type="number" name="max_surface" class="form-control disable_d" style="font-size: 12px;width:100%" placeholder="surface max m² ..." value="{{ request.GET.max_surface }}">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="panel panel-primary"  style="border-color:white;text-align: left">
            <p style="text-align: center; margin-top: 20px;">
                <a href="{% url 'recherche-plus-annonce' %}">
                    <button type="button" class="btn" style="text-transform:none;margin-top: -10px">
                        <span class="glyphicon glyphicon-plus" style="color:#4abac0"></span>
                        <span style="color:#333333;font-size: 15px">Plus de critères</span>
                    </button>
                </a>
            </p>
            </div>
        </div>

        <div class="col-md-9">
            <div class="title_p1" style="font-size: 22.5px;text-transform: uppercase">Résultat de ma recherche</div>
            <div class="pull-right" style="margin-top: -5px;margin-bottom: -20px;margin-right: 160px" >Trier par</div>
            <div class="pull-right">
                <div class="btn-group pull-right " >
                    {% add_params request.get_full_path order_by='date' as url_order_by %}
                    {% add_params url_order_by sorting=sorting as url_order_by %}
                    <a href="{{url_order_by}}" class="btn btn-default btn-sm border" style="margin-top: -10px;width: 130px;font-size: 13px;" >
                        Date de publication
                    </a>
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: -10px;font-size: 13px; ">
                        <span class="caret"></span>
                        <span class="sr-only"> + </span>
                    </button>
                </div>
            </div>

            {% for bien in object_list %}
            <div class="panel panel-default annonce_recher" >
                <div class="panel-body" style="margin-right: 5px">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="img-responsive img-thumbnail ratio-4-3" style="background-image:url('{{ bien.get_photo_url }}')"></div>
                        </div>
                        <div class="col-md-8">
                            {% if bien in request.user.client.favoris.all %}
                            <form method="POST" action="{% url 'utilisateurs:mes-favoris' %}">
                                {% csrf_token %}
                                <input type="hidden" name="favori" value="{{ bien.nb_mandat }}">
                                <button class="sh_b_del_sm btn-xs pull-right " type="submit" class="close">
                                    <span>&times;</span>
                                </button>
                            </form>
                            {% endif %}
                            <div class="row top_space-30" >
                                <div class="col-md-9">
                                    <h4 style="font-size: 18px">
                                        {{ bien.get_type }} {{ bien.surface }} m² - <span class="text-muted"> {{ bien.ville |title }} {{ bien.code_postal  }} </span>
                                    </h4>

                                    <p>
                                        <span class="label  label-success" style="font-size: 13px">{{ bien.surface }} m²</span> &nbsp;
                                        {% if bien.type == "t" or bien.type == "i" or bien.type == "b" or bien.type == "p" %}
                                        {%else%}
                                        <span class="label  label-success" style="font-size: 13px">
                                            {% if  bien.pieces == 0  %}
                                                {{ bien.pieces }} pièce
                                            {% elif  bien.pieces == 1 %}
                                                {{ bien.pieces }} pièce
                                            {% else %}
                                                {{ bien.pieces }} pièces
                                            {% endif %}
                                        </span> &nbsp;
                                        <span class="label  label-success" style="font-size: 13px">
                                            {% if  bien.chambres == 0  %}
                                                {{ bien.chambres }} chambre
                                            {% elif   bien.chambres ==  1 %}
                                                {{ bien.chambres }} chambre
                                            {% else %}
                                                {{ bien.chambres }} chambres
                                            {% endif %} </span>
                                            {%endif%}

                                    </p>

                                </div>

                                <div class="col-md-3">
                                    <p class=" pull-right " style="font-size: 19px;margin-top: 7px;margin-left:-12px"> {{ bien.prix|price_format }}&nbsp; €</p>
                                </div>
                            </div>

                            <div class="row margin-top-screen-45 " >
                              <div class="col-md-12 col-xs-12 col-sm-12 margin-left-sm-screen-15" >

 								                {% if request.user.client %}

                                      <div class="col-md-1 col-xs-2 col-sm-1 col-md-offset-8 col-sm-offset-8 col-xs-offset-5 "  >

                                        <form method="post" action="{% url 'utilisateurs:mes-favoris' %}" >
                                        	{% csrf_token %}
                                        	<input type="hidden" name="favori" value="{{ bien.nb_mandat }}">
                                        	<button type="submit" class="btn " style="background-color:transparent;padding:0px 0px">
                                        		{% if bien in request.user.client.favoris.all %}
                                        		<img src="{% static "img/heart3.png" %}" title="Supprimer de mes favoris" width="38px">
                                        		{% else %}
                                                    {% if "/biens/annonces/(\d+)$/" == request.get_full_path %}
                                        		<img src="{% static "img/heat5.png" %}" title="Ajouter dans mes favoris" >
                                                    {% else %}
                                                <img src="{% static "img/vide.png" %}" title="Ajouter dans mes favoris" >
                                                    {% endif %}
                                        		{% endif %}
                                        	</button>
                                        </form>

                                      </div>
                                {% elif request.user.agent %}
                                            {% block favoris %}
                                                  {% if not bien in request.user.agent.favoris %}
                                                  	{% include 'biens/includes/favori_agent_modal.html' with bien=bien title="Ajouter/Supprimer aux favoris" %}
                                                    <div class="col-md-1 col-xs-2 col-sm-1 col-md-offset-8 col-sm-offset-8 col-xs-offset-5 " >

                                                  	<span style=" z-index:5">
                                                  		<a id="favoris-{{ bien.nb_mandat }}" class="favoris-btn " style="background-color:transparent; cursor:pointer;">
                                                  			<img src="{% static "img/vide.png" %}" title="Ajouter dans mes favoris">
                                                  		</a>
                                                  	</span>
                                                  </div>

                                                  {% else %}
                                              		{% csrf_token %}
                                              		{% include 'biens/includes/favori_agent_modal.html' with bien=bien title="Ajouter/Supprimer aux favoris" %}
                                                  <div class="col-md-1 col-xs-2 col-sm-1 col-md-offset-8 col-sm-offset-9 col-xs-offset-5 "  >

                                              		<span style=""">
                                              			<a id="favoris-{{ bien.nb_mandat }}" class="favoris-btn but_bottom" style="cursor:pointer; background-color: transparent;">
                                              				<img src="{% static "img/heart3.png" %}" style="width: 38px" title="Supprimer dans mes favoris">
                                              			</a>
                                              		</span>
                                                </div>

                                              {% endif %}
                                            {% endblock favoris %}

                                 {% else %}
                                 <div class="col-md-1 col-xs-1 col-sm-1 col-md-offset-8 col-sm-offset-9 col-xs-offset-6 "  >
                                    <a href="{% url 'new' %}" class="margin-xs-right" >
                                        <img src="{% static "img/vide.png" %}" title="Ajouter dans mes favoris"  ></a>
                                    </div>
                            	{% endif %}
                              <div class="col-md-3 col-xs-1 col-sm-1 ">

 								                       <a href="{% url 'annonce' bien.nb_mandat %}" class="btn btn-default btn-sm  " style="border-radius: 5px">
                                   <img  src="{% static "img/add.png" %}" style="margin-top: -5px;  ">
                                <span style="font-size: 16px;text-transform: none" >  &nbsp;de détails </span>
                                </a>
                              </div>

                            </div>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
            {% endfor %}
            {% include "includes/pagination.html" %}
        </div>
    </div>
</div>
{% endblock container %}
{% block script %}
<script type="text/javascript">
    $(function(){
      var tab ;
      // active desactive les champs budget et surface en fonction du type du bien
      var size_list_type = ("{{request.GET|getlist:'type'|safe|slugify }}").length;
      var size_list_loc = ("{{request.GET|getlist:'localisation'|safe|slugify }}").length;
      var type = $('#add_type').val();
      console.log(type);
      var t = document.getElementsByClassName("disable_d");
      for( var el = 0 ; el < t.length ; ++el){
        if(size_list_type == 1 &&  size_list_loc == 1)
          t[el].setAttribute("disabled", "true");
        else
          t[el].removeAttribute("disabled");
      };

        $('#search-form span.close').click(function(){
            $(this).parent().remove();
            $('#search-form').submit();
        });
        $('#add_type').change(function(){
          var type = $('#add_type').val();
          tab = "{{request.GET|getlist:'type'|safe|slugify}}"
          if(tab.includes(type)){
          alert("Veuillez selectionné un nouveau type de bien");
          $('#add_type').val('');
        }else {
              $('#search-form').submit();
            }
        });
        $('.prix').change(function(){
            $(this).prop("disabled", false);
            $('#search-form').submit();

        })

		{% if request.user.agent %}
		$('.favoris-btn').each(function (index, btn) {
			var triggerId = $(btn).attr('id');



			// initialisation de la modale
			$('#confirmModal_'+triggerId).modal({
				'show': false
			});
			// ajout du déclencheur d'affichage
			$('#'+triggerId).click(function (e) {
				$('#confirmModal_'+triggerId).modal('show');
			});
			// traitement en cas de confirmation
			$('#confirmBtn_'+triggerId).click(function (e) {
				$('#confirmModal_'+triggerId).modal('hide');
			});
		});
		{% endif %}
    });
</script>
{% endblock script %}
