{% extends "biens/bien_form.html" %}
{% load bootstrap3 static %}

<style>
  .cs-font-size{
    font-size:17.5px;

  }
  @media screen and (min-width: 500px) and (max-width: 767px){
    .cs-width:200px;
    }
    </style>

{% block headerTop %}

{% endblock headerTop %}


{% block step %}


<div class="title_p2" style="margin-top: 5px;font-size:18px;font-weight: bold;padding-bottom: 5px;padding-top: 5px"><span style="margin-left: 15px" >Mes jours et mes horaires de disponibilités</span></div>
{% bootstrap_form_errors dispo_form error_types="all" %}
<p style="padding-bottom: 7px;font-style: italic;margin-top: -8px;font-size: 13px;color: #777777; text-transform:none;text-align:left">
   Saisissez vos créneaux de disponibilité afin que l’agent puisse organiser des visites en fonction des disponibilités que vous avez indiquées.  </p>
<table class="table table-hover" >
    <!--
        <thead>
            <th>Jour de la semaine</th>
            <th>Début</th>
            <th>Fin</th>
            <th></th>
        </thead>
    -->
    <tbody style="text-align:left !important; font-size:16px">
        {% for dispo in disponibilites.all %}
        <tr >
            <td style="text-transform:none">{{ dispo.get_jour }}</td>
            <td>{{ dispo.debut|time:"H:i" }} </td>
            <td>{{ dispo.fin|time:"H:i" }}</td>
            <td>
                <form method="post" action="{% url 'disponibilites-bien_delete' object.nb_mandat dispo.pk %}">
                    {% csrf_token %}
                    {% if update_info %}
                    <input type="hidden" name="update_info" value="1">
                    {% endif %}
                    <button type="submit" class="close" style="opacity: 1">
                        <img  src="{% static "img/ann.png" %}">
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
        <tr><form method="post">
            {% csrf_token %}
            <input type="hidden" name="add_disponibilite" value="1">
            <td >{% bootstrap_field dispo_form.jour label=False %}</td>
            <td>{% bootstrap_field dispo_form.debut label=False %}</td>
            <td>{% bootstrap_field dispo_form.fin label=False %}</td>
            <td style="width:100px ">
                <button type="submit" class="sh_b_env btn-xs" style="height: 33.5px">
                    <span class="glyphicon glyphicon-plus"></span>
                    Ajouter
                </button>
            </td>
        </form></tr>
    </tbody>
</table>
</div>
<div class = "col-md-3 col-sm-2 col-xs-5">
  <a href="{% url 'utilisateurs:mes-annonces' %}" style="color: #4abac0"><button type="submit" name="prev" class="sh_b_env btn-sm  "
     value="{% url 'utilisateurs:mes-annonces' %}" style="border-radius: 5px;margin-bottom:19px;width:auto">
    {% bootstrap_icon "chevron-left" %}
    Retour
  </button>
  </a>
</div>
</div>

{% endblock step %}
{%block question%}
<div class="col-md-2 cell sh-left-5" style="padding-bottom: 25px;padding-top: 25px;font-size: 14px">
  <!--<img style="width: 140px;margin-left: -5px" src="{% static "img/logoc.png" %}">-->
  <p>
    Une question ? Un soucis ?
  </p>
  <p>Notre équipe est à votre écoute</p>
  <p> <a href="{% url 'support:contact' %}" style="color: #4abac0">Nous contacter</a><br>01 76 50 63 63 </p>
</div>
{%endblock question%}
