{% extends "base.html" %}


{% block container %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Suppression de l'annonce "{{ object }}"</h1>
				<hr>
			</div>
			<div class="col-md-8 col-md-offset-2">
				<form action="" method="post">{% csrf_token %}
					<p class="lead">Etes vous sur de vouloir supprimer "{{ object }}"?</p>
					<button class="backgroung-red_but-lg pull-right">
						Confirmer
					</button>
				</form>
			</div>
		</div>
	</div>
{% endblock container %}