{% extends "base.html" %}
{% load bootstrap3 static %}
{% load static biens_extras %}

{% block title %}
Speedhousing - Déposer une annonce
{% endblock title %}


{% block script %}
<script src="https://cdn.jsdelivr.net/npm/places.js@1.4.15"></script>
<script src="{% static "js/GeoLocalisable.js" %}"></script>
<script type="text/javascript">




  $('#id_lot').attr('required',false);
  $('#id_taxe').attr('required',true);
  $('#id_charges').attr('required',true);
$(function(){
  $('.surface .form-group').hide();
  $('.surface input:checkbox').change(function(){
    if(this.checked){
      $(this).parent().parent().find('.form-group').show();
    } else {
      $(this).parent().parent().find('.form-group').hide();
    }
  });
});


function function_hide_show(){
  var type = $('#id_type').val();
    if (type == 't' || type == 'b' || type =='p' || type =='i'){

      $('#id_pieces').attr('required',false);

        $('#id_sdb').attr('required',false);
        $('#id_chauffage').attr('required',false);
        $('#id_energie').attr('required',false);
        $('#id_exposition').attr('required',false);

        $('#id_chambres').attr('required',false);
        $('#id_sde').attr('required',false);
        $('#id_construction').attr('required',false);
        $('#id_type_chauffage').attr('required',false);
        $('#id_etage').attr('required',false);

        $('#id_lot').attr('required',false);


        $('#id_pieces').val('0');
        $('#id_sdb').val('0');
        $('#id_chauffage').val('i');
        $('#id_energie').val('a');
        $('#id_exposition').val('s');

        $('#id_chambres').val('0');
        $('#id_sde').val('0');
        $('#id_construction').val('0');
        $('#id_type_chauffage').val('e');
        $('#id_etage').val('0');

        //$('#id_lot').val('0');



        $('#id_surface').attr('placeholder','Surface en m²...');





        $('#id_pieces').hide();
        $('#id_sdb').hide();
        $('#id_chauffage').hide();
        $('#id_energie').hide();
        $('#id_exposition').hide();
        $('#id_chambres').hide();
        $('#id_sde').hide();
        $('#id_construction').hide();
        $('#id_type_chauffage').hide();
        $('#id_etage').hide();

        //$('#id_lot').hide();


        $('.form_hide_show').hide();


    }else{
      $('#id_pieces').attr('required',true);
      $('#id_sdb').attr('required',true);
      $('#id_chauffage').attr('required',true);
      $('#id_energie').attr('required',true);
      $('#id_exposition').attr('required',true);

      $('#id_chambres').attr('required',true);
      $('#id_sde').attr('required',true);
      $('#id_construction').attr('required',true);
      $('#id_type_chauffage').attr('required',true);
      $('#id_etage').attr('required',true);


      $('#id_surface').attr('placeholder','Surface habitable en m²...');



      $('#id_pieces').addClass('form-control');
      $('#id_sdb').addClass('form-control');
      $('#id_chauffage').addClass('form-control');
      $('#id_energie').addClass('form-control');
      $('#id_exposition').addClass('form-control');

      $('#id_chambres').addClass('form-control');
      $('#id_sde').addClass('form-control');
      $('#id_construction').addClass('form-control');
      $('#id_type_chauffage').addClass('form-control');
      $('#id_etage').addClass('form-control');

      $('#id_lot').addClass('form-control');


      $('#id_pieces').show();
      $('#id_sdb').show();
      $('#id_chauffage').show();
      $('#id_energie').show();
      $('#id_exposition').show();

      $('#id_chambre').show();
      $('#id_sde').show();
      $('#id_construction').show();
      $('#id_type_chauffage').show();
      $('#id_etage').show();

      $('#id_lot').show();


      $('.form_hide_show').show();

    }
  }

$($('#id_prix')).change(function(){
  var prix = $('#id_prix').val();
  $('#id_prix_commission').empty();
  $('.br_del').remove();
  $('#id_prix_commission').append('<input class ="form-control" value='+Number(prix *1.03)+'> <i>Il s\'agit de 3% de commission </i><i style="color:#e41b74";>à la charge de l\'acquéreur  </i></small>');
});

$($('#id_type')).change(function(){

function_hide_show();
});

$(document).ready(function(){

  {%if update_info %}
$('#id_prix').val(parseInt($('#id_prix').val()/1.03 + 0.5));
{%endif%}
  function_hide_show();

    $('#btn_save').click(function(){

      $("#save").toggleClass("glyphicon-floppy-save glyphicon-floppy-saved");
      $("#save").attr("id","saved");
    });
  });
</script>
{% endblock script %}

{% block style %}
<style type="text/css">

  @media screen and (max-width: 359px){
     .cs-font-size-xs{
       font-size:12.5px !important;;
     }
  }

  @media screen and (max-width: 330px){
     .cs-font-size-xs{
       font-size:10px !important;;
     }
  }

#id_description {
  height: 100px;
}
body {
  background: #f6f6f6;
}
.form-control{
  background-color: #f6f6f6;
  color: #000000;
}

input[type=checkbox]{

}
input[type=number] {
  -moz-appearance: textfield;
}

#bien{
  width: 1000px;
  padding-bottom: 30px
}
.form-control{
  font-size: 16px;
  height: 34px;
  color: #333333;
  border-radius: 0px;
}

</style>
{% endblock style %}

{% block container %}

<div class="container fix-depot"  style="margin-top: 10px">
  <div class="row sh-padding-bot-60">

    <div class="col-md-8 col-md-offset-1 cell" >
      <div class="row row_no_margin">
        <div class="center upper" style="font-size: 22.5px;padding-bottom: 5px;padding-top: 8px">
          {% block headerTop %}

          Déposer une annonce
        </div>


        {%if update_info%}
        <div style="width: 100%">
          <span style="width: 33%; float:left;text-align: center;">Informations principales</span>
          <span style="width: 33%; float:left;text-align: center;">Détails</span>
          <span style="width: 34%; float:left;text-align: center;">Validation</span>
        </div>

        <div class="progress" style="clear: both; height: 15px;">
          <div class="progress-bar" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%; background-color:#4abac0">
          </div>
        </div>
      </div>
      {%else%}
      <div style="width: 100%">
        <span style="width: 25%; float:left;text-align: center;">Informations principales</span>
        <span style="width: 25%; float:left;text-align: center;">Détails</span>
        <span style="width: 25%; float:left;text-align: center;">Validation</span>
        <span style="width: 25%; float:left;text-align: center;">Signature</span>

      </div>

      <div class="progress" style="clear: both; height: 15px;">
        <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%; background-color:#4abac0">
        </div>
      </div>
    </div>
      {%endif%}
      {% endblock headerTop %}

      <div class="row row_no_margin">
        {% block step %}
        <form method="post" class="form">
          {% csrf_token %}
          <div class="title_p2" style="margin-top: 3px;font-size:18px;font-weight: bold;padding-bottom: 5px;padding-top: 5px"><span style="margin-left: 15px" >Détails du bien</span></div>
          <div class="row" style="margin-top: -3px">
            <div class="col-md-6">
              {% bootstrap_field form.type label=False %}  {% bootstrap_field form.pieces set_required=False label=False placeholder="Nombre de pièces..." %}
              {% bootstrap_field form.sdb set_required=False label=False placeholder="Nombre de salle de bain..." %}
              {% bootstrap_field form.energie set_required=False label=False %}
              {% bootstrap_field form.exposition set_required=False label=False %}
              {% bootstrap_field form.chauffage set_required=False label=False %}
            </div>

            <div class="col-md-6">
              {% bootstrap_field form.surface set_required=False label=False placeholder="Surface habitable en m²..." %}
              {% bootstrap_field form.chambres set_required=False label=False placeholder="Nombre de chambres..." %}
              {% bootstrap_field form.sde set_required=False label=False placeholder="Nombre de salle d'eau..." %}
              {% bootstrap_field form.construction set_required=False label=False placeholder="Année de construction..." %}
              {% bootstrap_field form.etage set_required=False label=False %}
              {% bootstrap_field form.type_chauffage set_required=False label=False %}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-7">
              <div class="row">
                <div class="col-md-6">
                  <div class="checkbox form_hide_show">
                    <label><span style="font-size: 16px"> Surfaces annexes:</span> </label>
                  </div>
                </div>
                <div class="col-md-6 form_hide_show">
                  <div class="form-group square">
                    <div class="checkbox surface ">
                      <label>
                        <input type="checkbox" id> <span style="font-size: 16px">Terrasse</span>
                      </label>
                      {% bootstrap_field form.surface_terrasse label=False placeholder="Surface en m²..." %}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="checkbox surface">
                      <label>
                        <input type="checkbox"> <span style="font-size: 16px">Balcon</span>
                      </label>
                      {% bootstrap_field form.surface_balcon label=False placeholder="Surface en m²..." %}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="checkbox surface">
                      <label>
                        <input type="checkbox"> <span style="font-size: 16px">Jardin</span>
                      </label>
                      {% bootstrap_field form.surface_jardin label=False placeholder="Surface en m²..." %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-5 form_hide_show">
              <div class="row">
                <div class="col-md-5"  >
                  <div class="checkbox">
                    <label> <span style="font-size: 16px">Cuisine: </span> </label>
                  </div>
                </div>
                <div class="col-md-3">
                  <span style="font-size: 16px"> {% bootstrap_field form.cuisine_americaine label="Américaine" %}</span>
                  <span style="font-size: 16px">{% bootstrap_field form.cuisine_separee label="Séparée" %}</span>
                  <span style="font-size: 16px">{% bootstrap_field form.cuisine_equipee label="Équipée" %}</span>
                </div>
              </div>
            </div></div>
            <div class="row">
              <div class="col-md-6">
                <span style="font-size: 16px">{% bootstrap_field form.taxe required=true  label=False placeholder="Taxe foncière en € par an..." show_help=False %}</span>
                <span style="font-size: 16px">{% bootstrap_field form.lot label=False placeholder="N° lot de copropriété..." show_help=False %}</span>

              </div>
              <div class="col-md-6">
              <span style="font-size: 16px">{% bootstrap_field form.charges required=true label=False placeholder="Charges de copropriété € par an..." show_help=False %}</span>
            </div>
          </div>
            <div class="title_p2 form_hide_show" style="margin-top: 3px;font-size:18px;font-weight: bold;padding-bottom: 5px;padding-top: 5px"><span style="margin-left: 15px" >Commodités</span></div>
            <div class="row form_hide_show" style="margin-top: -8px;margin-left: 5px">
              <div class="col-md-3 ">

                <span style="font-size: 16px">{% bootstrap_field form.gardien label="Gardien" %}</span>
                <span style="font-size: 16px"> {% bootstrap_field form.digicode label="Digicode" %}</span>
                <span style="font-size: 16px">{% bootstrap_field form.interphone label="Interphone" %}</span>
                <span style="font-size: 16px">{% bootstrap_field form.cave label="Cave" %}
                  {% bootstrap_field form.parking label="Parking" %}</span>
                </div>
                <div class="col-md-3 ">

                  <span style="font-size: 16px"> {% bootstrap_field form.refait_a_neuf label="Refait à neuf" %}</span>
                  <span style="font-size: 16px"> {% bootstrap_field form.a_renover label="A rénover" %}</span>
                  <span style="font-size: 16px"> {% bootstrap_field form.piscine label="Piscine" %}</span>
                  <span style="font-size: 16px">{% bootstrap_field form.belle_vue label="Belle-vue" %}</span>
                  <span style="font-size: 16px"> {% bootstrap_field form.ascenseur label="Ascenseur" %}</span>
                </div>
                <div class="col-md-3 ">
                  <span style="font-size: 16px">{% bootstrap_field form.dernier_etage label="Dernier étage" %}</span>
                  <span style="font-size: 16px">{% bootstrap_field form.sans_vis_a_vis label="Sans vis-à-vis" %}</span>
                  <span style="font-size: 16px"> {% bootstrap_field form.alarme label="Alarme" %}</span>
                  <span style="font-size:16px">{% bootstrap_field form.placards label="Placards" %}</span>

                  <span style="font-size: 16px"> {% bootstrap_field form.cheminee label="Cheminée" %}</span>
                </div>
                <div class="col-md-3 ">
                  <span style="font-size: 16px">{% bootstrap_field form.box label="Box" %}</span>
                  <span style="font-size: 16px">{% bootstrap_field form.rangements label="Rangements" %}</span>
                  <span style="font-size: 16px">{% bootstrap_field form.dressing label="Dressing" %}</span>
                  <span style="font-size: 16px">{% bootstrap_field form.access_handicape label="Accès handicapé" %}</span>
                </div>
              </div>
              <div class="title_p2" style="font-size:18px;font-weight: bold;padding-bottom: 5px;padding-top: 5px"><span style="margin-left: 15px" >Adresse du bien</span></div>
              <div class="row">
                <div class="col-md-12">
                  <span style="font-size: 18.6px">{% bootstrap_field form.adresse label=False placeholder="Saisissez votre adresse..." %}</span>
                </div>
                <div class="col-md-6">
                  <span style="font-size: 18.6px"> {% bootstrap_field form.code_postal label=False placeholder="Code postal..." %}</span>
                </div>
                <div class="col-md-6">
                  <span style="font-size:18.6px"> {% bootstrap_field form.ville label=False placeholder="Ville..." %}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="checkbox">
                    <label><span style="font-size: 18.6px">À proximité </span></label>
                  </div>
                </div>
                <div class="col-md-2">
                  <span style="font-size: 16px; "> {% bootstrap_field form.transports label="Transports" %}</span>
                </div>
                <div class="col-md-2">
                  <span style="font-size: 16px">{% bootstrap_field form.commerces label="Commerces" %}</span>
                </div>
                <div class="col-md-2" style="margin-right: -30px ">
                  <span style="font-size: 16px">  {% bootstrap_field form.ecoles label="Écoles" %}</span>
                </div>
                <div class="col-md-2">
                  <span style="font-size: 16px"> {% bootstrap_field form.loisirs label="Loisirs" %}</span>
                </div>
              </div>
              <div class="row" style="padding-top: 10px">
                <div class="col-md-12">
                  {% bootstrap_field form.description label=False placeholder="Description..." %}
                </div>

                <div class="col-md-6">

                  {% bootstrap_field form.prix label=False placeholder="Prix de vente en € ..." %}

                </div>
                <div class="col-md-6" id="id_prix_commission" >


                </div>
                <div class="col-md-6" >
                </div>
              </div>

              <div class="row" >
                <div class="col-md-5"></div>

                <div class="col-md-8 col-md-offset-5">
                <br class="br_del"> </br class="br_del">
                  <div class="col-md-5 col-xs-6">

                  <button type="button" id="btn_save" class="sh_b_env btn-sm cs-font-size-xs " style="border-radius: 5px; margin-bottom:19px;">
                    Sauvegarder   {{ bien.get_isInModification }}
                    <span id="save" class="glyphicon glyphicon-floppy-save"></span>

                  </button>
                </div>
                <div class = "col-md-5 col-xs-5">
                  <button type="submit" class="sh_b_env btn-sm cs-font-size-xs" style="border-radius: 5px;margin-bottom:19px;">
                    Suivant
                    {% bootstrap_icon "chevron-right" %}
                  </button>
                </div>
              </div>

              </div>
            </form>
            {% endblock step %}
          </div>
        </div>
        {%block question%}
        <div class="col-md-2 cell sh-left-5" style="padding-bottom: 25px;padding-top: 25px;font-size: 14px">
          <!--<img style="width: 140px;margin-left: -5px" src="{% static "img/logoc.png" %}">-->
          <p>
            Une question ? Un soucis lors de la publication
            de votre annonce ?
          </p>
          <p>Notre équipe est à votre écoute</p>
          <p> <a href="{% url 'support:contact' %}" style="color: #4abac0">Nous contacter</a><br>01 76 50 63 63 </p>
        </div>
      </div>
    </div>
    {%endblock question%}

    {% endblock container %}
