{% extends "base.html" %}
{% load bootstrap3 static %}
{% load static biens_extras %}

{% block title %}
Speedhousing - Déposer une annonce
{% endblock title %}





{% block container %}

<div class="container fix-depot"  style="margin-top: 10px">
  <div class="row sh-padding-bot-60">


    <div class="col-md-8 col-md-offset-1 cell" >
      <div class="row row_no_margin">
        <div class="center upper" style="font-size: 22.5px;padding-bottom: 5px;padding-top: 8px">
          Déposer une annonce
        </div>
        {% block progress %}
        <div style="width: 100%;text-align:center">
          <span style="width: 25%; float:left;">Informations principales</span>
          <span style="width: 25%; float:left;">Détails</span>
          <span style="width: 25%; float:left;">Validation</span>
          <span style="width: 25%; float:left;">Signature</span>
        </div>

        <div class="progress" style="clear: both; height: 15px;">
          <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; background-color:#4abac0">
          </div>
        </div>

        <iframe style="width:100%; height:500px" src="https://webapp.yousign.com/procedure/sign?members={{member_id|safe}}&signatureUi={{swagger_id}}"></iframe>
      <!--
        <iframe src="https://staging-app.yousign.com/procedure/sign?members=/members/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxx"></iframe>
        https://webapp.yousign.com/procedure/sign?members-->
        {% endblock progress %}
    </div>
  </div>

      <div class="col-md-2 col-md-offset-2 cell sh-left-5" style="padding-bottom: 25px;padding-top: 25px;font-size: 14px">
        <!--<img style="width: 140px;margin-left: -5px" src="{% static "img/logoc.png" %}">-->
        <p>
          Une question ? Un soucis lors de la publication
          de votre annonce ?
        </p>
        <p>Notre équipe est à votre écoute</p>
        <p> <a href="{% url 'support:contact' %}" style="color: #4abac0">Nous contacter</a><br>01 76 50 63 63 </p>
      </div>
    </div>

    <div class="row">
      <form method="post" class="form" action="">
      		{% csrf_token %}
      		<div class="row bottom-pad">

      				{% buttons %}

              <div class="col-md-2 col-xs-4 col-sm-2 col-md-offset-7 col-sm-offset-10 col-xs-offset-7" >
      						<button class="sh_b_env btn-sm taille_b " name="next"  type="submit" value="{% url 'utilisateurs:mes-annonces' %}" style="border-radius: 5px; margin-right:15px;width: unset">
                      Terminer
      								{% bootstrap_icon "chevron-right" %}
      						</button>
      				</div>
      			{% endbuttons %}

          </div>
          </form>
        </div>
</div>



  {% endblock container %}
