{% extends "biens/bien_form.html" %}

{% load bootstrap3 static %}


{% block script %}

	<!-- Notaire -->
	<script type="text/template" id="checkbox-template">
		<div class="input-group input-group">
			<input id="q" type="text" class="form-control" placeholder="Choisissez votre notaire" aria-describedby="glyphicon-search" data-provide="typeahead" autofocus="on" autocomplete="off" value="{{ bien.notaire.get_nom }}">
			<span class="input-group-addon" id="glyphicon-search">
				<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
			</span>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" id="checkbox">
				Vous ne trouvez pas votre notaire ?
			</label>
		</div>
	</script>

	<script type="text/javascript">

	$(function(){

		var checkbox = $('#checkbox-template').html();

		var $notaire = $('#id_notaire');
		var $nom = $('#id_nom').parent();
		var $prenom = $('#id_prenom').parent();
		var $email = $('#id_email').parent();
		var $telephone = $('#id_telephone').parent();
		var $fax = $('#id_fax').parent();
		var $adresse = $('#id_adresse').parent();
		var $code_postal = $('#id_code_postal').parent();
		var $ville = $('#id_ville').parent();

		{% if not bien.notaire or bien.notaire.valide %}
			
		$notaire.before($(checkbox));

		$nom.hide();
		$prenom.hide();
		$email.hide();
		$telephone.hide();
		$fax.hide();
		$adresse.hide();
		$code_postal.hide();
		$ville.hide();

		$('#checkbox').change(function(){
			if(this.checked){
				$nom.show();
				$prenom.show();
				$email.show();	
				$telephone.show();
				$fax.show();
				$adresse.show();
				$code_postal.show();
				$ville.show();
			} else {
				$nom.hide();
				$prenom.hide();
				$email.hide();
				$telephone.hide();
				$fax.hide();
				$adresse.hide();
				$code_postal.hide();
				$ville.hide();
			}
		});

		{% endif %}
		
	});

	</script>

	<script src="https://cdn.jsdelivr.net/npm/places.js@1.4.15"></script>
	<script src="{% static "js/GeoLocalisable.js" %}"></script>


	<script src="{% static "js/bootstrap3-typeahead.min.js" %}"></script>
	<script type="text/javascript">

	var cache = Array();

	$(function(){

		
		$('#q').typeahead({
			delay: 3,
			autoSelect: true,
			minLength: 3,
			showHintOnFocus: 'all',
			updater: function(i){
				$('#id_notaire').val(i.id);
				return i.name;
			},
			displayText: function(i){
				return i.label;
			},
			source: function(q, callback){

				if(undefined !== cache[q])
					return callback(cache[q]);
				
				return $.get(
					"{% url 'notaire' bien.nb_mandat %}?q=" + q, 
					function(d){
						cache[q] = d;
						return callback(cache[q]);
					}
				);
			}
		});


	});
	</script>

{% endblock script %}


{% block step %}
	<h3>Notaire</h3>

	{% bootstrap_form_errors form error_types="all" %}
	<form method="post">
		{% csrf_token %}

		{% bootstrap_form form layout="inline" %}

		{% buttons %}
			<button type="submit" class="btn btn-primary pull-right">
				Suivant
			{% bootstrap_icon "chevron-right" %}
			</button>
		{% endbuttons %}

	</form>

{% endblock step %}
