{% extends "biens/bien_form.html" %}

{% load bootstrap3 %}


{% block script %}
	<script type="text/javascript">
		$(function(){
			$('.image-upload').change(function(){
				$(this).parent('form').submit();
			});
		});
	</script>
{% endblock script %}

{% block style %}
	<style type="text/css">
		.ratio-4-3{
			width:100%;
			position:relative;
			background:url() 50% 50% no-repeat;
			background-size:cover;
			background-clip:content-box;
		}
		.ratio-4-3:before{
			display:block;
			content:"";
			padding-top:75%;
		}

		.image-upload {
			cursor: pointer;
		}
		.image-upload input[type="file"] {
			display: none;
		}
	</style>
{% endblock style %}


{% block step %}
<h3>Ajouter des photos</h3>
{% with bien.photos.all as photos %}
	<div class="row">
		{% for photo in photos %}
		<div class="col-md-4">
			<form method="post" action="{% url 'photos_delete' photo.pk %}">
				{% csrf_token %}
				{% buttons %}
					<button type="submit" class="close">
						{% bootstrap_icon "remove" %}
					</button>
				{% endbuttons %}
			</form>
			<div class="img-responsive img-thumbnail ratio-4-3" style="background-image:url('{{ photo.image.url }}')"></div>
		</div>
		{% cycle '' '' '</div><div class="row">' %}
		{% endfor %}

		<div class="col-md-4">
			<form method="post" class="form" enctype="multipart/form-data">
				{% csrf_token %}
				{% buttons %}
				<button type="submit" class="close">
					{% bootstrap_icon "upload" %}
				</button>
				{% endbuttons %}
				<label class="image-upload img-responsive img-thumbnail ratio-4-3">
					<input name="image" required="" id="id_image" type="file">
					{% if not photos %}
						Ajouter photo principale
					{% else %}
						Ajouter une autre photos
					{% endif %}
				</label>
			</form>
		</div>
	</div>
{% endwith %}
	<div class="row">
		<div class="col-md-3 col-md-offset-6">
			<a href="{% url 'home' %}" class="btn btn-default btn-lg btn-block">
				Sauvegarder
			</a>
		</div>
		<div class="col-md-3">
			{% buttons %}
			<a href="{% url 'disponibilites' %}" class="btn btn-primary btn-lg btn-block">
				Suivant
				{% bootstrap_icon "chevron-right" %}
			</a>
			{% endbuttons %}
		</div>
	</div>
{% endblock step %}