{% extends "biens/bien_form.html" %}
{% load bootstrap3 static %}
{% block script %}

<script src="{% static "js/bootstrap3-typeahead.min.js" %}"></script>
<script type="text/javascript">

    $('.progress-bar')

    $('#btn_save').click(function(){
      console.log("save");

      $("#save").toggleClass("glyphicon-floppy-save glyphicon-floppy-saved");
      $("#save").attr("id","saved");
    });


    var cache = Array();

    $(function(){


        $('#q').typeahead({
            delay: 3,
            autoSelect: true,
            minLength: 3,
            showHintOnFocus: 'all',
            updater: function(i){
                $('#set_notaire').val(i.id);
                $('#set_notaire').parent('form').submit();
                return i.name;
            },
            displayText: function(i){
                return i.label;
            },
            source: function(q, callback){

                if(undefined !== cache[q])
                return callback(cache[q]);

                return $.get(
                "{% url 'notaire' object.nb_mandat %}?q=" + q,
                function(d){
                    cache[q] = d;
                    return callback(cache[q]);
                }
                );
            }
        });

    });
</script>

<!-- photos -->
<script type="text/javascript">
    $(function(){
        $('.image-upload').change(function(){
            $(this).parent('form').submit();
        });
    });
</script>
{% endblock script %}


{% block style %}
<style type="text/css">
  .custom-font-size{
    font-size: 15px;

  }
  @media screen and (max-width: 767px){
    .custom-font-size{
      font-size: 12px;
    }
  }
  @media screen and (max-width: 359px){
    .custom-font-size{
      font-size: 11px;
    }
  }
  @media screen and (max-width: 992px){

    .img-xs-sm-label{
      width:100%
    }
    .img-xs-sm{
      width:70%;
      margin-left:10%
    }
    .text-label-img-xs-sm{
      margin-left:-10%;
    }
}

{%if update_info %}
  .progress-bar{
    width : 66% !important;
  }
  {%else%}
  .progress-bar{
    width : 50% !important;
  }
  {%endif%}
    .ratio-4-3{
        width:100%;
        position:relative;
        background:url() 50% 50% no-repeat;
        background-size:cover;
        background-clip:content-box;
    }
    .ratio-4-3:before{
        display:block;
        content:"";
        padding-top:75%;
    }

    .image-upload {
        cursor: pointer;
    }
    .image-upload input[type="file"] {
        display: none;
    }
    .image-upload-label{
        position: absolute;
        bottom: 1em;
        left: 2em;
    }
    body {
        background-color: #f6f6f6;
    }

    .form-control{
        background-color: #f6f6f6;
        font-size: 16px;
        height: 34px;
        color: #333333;
        border-radius: 0px;
    }

    .taille_b{
        width: 136px;
        height: 34px;
    }
    .taille_bs{
        width: 166px;
        height: 34px;
    }
    input#q.form-control{
         color: #333333;
    }

</style>
{% endblock style %}



<!-- <div class="container fix-depot"  style="margin-top: 10px"> -->
  <div class="container "  style="margin-top: 10px">
  <div class="row sh-padding-bot-60">

    <div class="col-md-8 col-md-offset-1 cell" >
      <div class="row row_no_margin">
        <div class="center upper" style="font-size: 22.5px;padding-bottom: 5px;padding-top: 8px">
          Déposer une annonce
        </div>
        {%if update_info%}
        <div style="width: 100%">
          <span style="width: 33%; float:left;text-align: center;">Informations principales</span>
          <span style="width: 33%; float:left;text-align: center;">Détails</span>
          <span style="width: 34%; float:left;text-align: center;">Validation</span>
        </div>

        <div class="progress" style="clear: both; height: 15px;">
          <div class="progress-bar" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 66%; background-color:#4abac0">
          </div>
        </div>
      </div>
      {%else%}
      <div style="width: 100%">
        <span style="width: 25%; float:left;text-align: center;">Informations principales</span>
        <span style="width: 25%; float:left;text-align: center;">Détails</span>
        <span style="width: 25%; float:left;text-align: center;">Validation</span>
        <span style="width: 25%; float:left;text-align: center;">Signature</span>

      </div>

      <div class="progress" style="clear: both; height: 15px;">
        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%; background-color:#4abac0">
        </div>
      </div>
    </div>
{%endif%}


{% block step %}
<div class="title_p2" style="margin-top: 5px;font-size:18px;font-weight: bold;padding-bottom: 5px;padding-top: 5px"><span style="margin-left: 15px" >Mon notaire</span></div>
<p style="padding-bottom: 12px;font-style: italic;margin-top: -8px;font-size: 13px;color: #777777">Saisissez le nom de votre notaire. Si vous n’avez pas de notaire, SPEEDHOUSING vous en propose plusieurs dans votre secteur, sélectionnez celui qui vous convient. <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" style="color: #333333" title="Vous ne trouvez pas votre notaire ? Sauvegardez votre annonce, et contactez notre service client afin que nous l’ajoutions pour vous. &#10; &#10;Pourquoi je dois choisir un notaire ? Lorsque votre bien est déclaré « vendu » les documents sont automatiquement envoyés au notaire que vous avez désigné. "></span> </p>
{% if object.notaire %}
<div class="input-group input-group" style="padding-bottom: 10px; margin-top: 5px">
    <input type="text" class="form-control" aria-describedby="glyphicon-search" value="{{ object.notaire.get_nom }}" disabled="" >
    <span class="input-group-addon" id="glyphicon-remove">
        <span class="glyphicon glyphicon-search"></span>
    </span>
</div>
{% else %}
<form method="post" style="padding-bottom: 35px;margin-top: -10px">
    {% csrf_token %}
    <input autofocus=""  type="hidden" id="set_notaire" name="set_notaire">
    <div class="input-group input-group">
        <input id="q" type="text" class="form-control" placeholder="Choisissez un notaire" aria-describedby="glyphicon-search" data-provide="typeahead" autofocus="on" autocomplete="off" style="color: #333333">
        <span class="input-group-addon" id="glyphicon-search">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </span>
    </div>
</form>
{% endif %}
{% if not update_info %}

<div class="title_p2" style="margin-top: 5px;font-size:18px;font-weight: bold;padding-bottom: 5px;padding-top: 5px;padding-left:5px"><span>Mes jours et mes horaires de disponibilités</span></div>
{% bootstrap_form_errors dispo_form error_types="all" %}
<p style="padding-bottom: 7px;font-style: italic;margin-top: -8px;font-size: 13px;color: #777777"> Saisissez vos créneaux de disponibilité afin que l’agent puisse organiser des visites en fonction des disponibilités que vous avez indiquées.  </p>
<table class="table table-hover" >
    <!--
        <thead>
            <th>Jour de la semaine</th>
            <th>Début</th>
            <th>Fin</th>
            <th></th>
        </thead>
    -->
    <tbody>
        {% for dispo in disponibilites.all %}
        <tr>
            <td>{{ dispo.get_jour }}</td>
            <td>{{ dispo.debut|time:"H:i" }} </td>
            <td>{{ dispo.fin|time:"H:i" }}</td>
            <td>
                <form method="post" action="{% url 'disponibilites_delete' object.nb_mandat dispo.pk %}">
                    {% csrf_token %}
                    {% if update_info %}
                    <input type="hidden" name="update_info" value="1">
                    {% endif %}
                    <button type="submit" class="close" style="opacity: 1">
                        <img  src="{% static "img/ann.png" %}">
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
        <tr class="hidden-xs"><form method="post">
            {% csrf_token %}
            <input type="hidden" name="add_disponibilite" value="1">
            <div class="row">

            <td >{% bootstrap_field dispo_form.jour label=False %}</td>
            <td>{% bootstrap_field dispo_form.debut label=False %}</td>
            <td>{% bootstrap_field dispo_form.fin label=False %}</td>
          </div>

            <td style="width:100px ">
                <button type="submit" class="sh_b_env btn-xs" style="height: 33.5px">
                    <span class="glyphicon glyphicon-plus"></span>
                    Ajouter
                </button>
            </td>
        </form></tr>
        <div class="row visible-xs">
          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="add_disponibilite" value="1">

            <div class="col-xs-5" style="padding-right: 0px">{% bootstrap_field dispo_form.jour label=False %}</div>
            <div class="col-xs-4" style="padding-right: 0px">{% bootstrap_field dispo_form.debut label=False %}</div>
            <div class="col-xs-3" style="padding-right: 15px">{% bootstrap_field dispo_form.fin label=False %}</div>

            <div class="col-xs-5 col-xs-offset-4" >
                <button type="submit" class="sh_b_env " style="margin-bottom:10px">
                    <span class="glyphicon glyphicon-plus"></span>
                    Ajouter
                </button>
            </div>
        </form></div>
    </tbody>
</table>
{% endif %}

<div class="title_p2" style="margin-top: -2px;font-size:18px;font-weight: bold;padding-bottom: 5px;padding-top: 5px"><span style="margin-left: 15px" > ajouter des photos</span></div>

<div class="row" style="margin-top: -16px">
    {% for photo in photos.all %}
    <div class="col-md-4">

        <form method="post" action="{% url 'photos_delete' object.nb_mandat photo.pk %}">

            {% csrf_token %}
            {% if update_info %}
            <input type="hidden" name="update_info" value="1">
            {% endif %}
            {% buttons %}
            <button type="submit" class="close" style="opacity: 1">
                <img  src="{% static "img/ann.png" %}">
            </button>
            {% endbuttons %}
        </form>
        <div class="img-responsive img-thumbnail ratio-4-3" style="background-image:url('{{ photo.image.url }}')"></div>
    </div>
    {% cycle '' '' '</div><div class="row">' %}
        {% endfor %}

        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="add_photo" value="1">
                {% buttons %}
                <button type="submit" class="close" style="display:none">
                    {% bootstrap_icon "upload" %}
                </button>
                {% endbuttons %}
                <label class="image-upload img-responsive img-thumbnail ratio-4-3" style="margin-top:20px">
                    <input name="image" required="" id="id_image" type="file">

                    <div class="" style="margin-top:55px;">
                    <span class="image-upload-label img-xs-sm-label " style="left:1.5em !important">
                        <img class="img-fluid img-responsive img-xs-sm" style="max-width: 100%" src="{% static "img/default.png" %}">
                        <p></p><p class="text-label-img-xs-sm" style="text-align:center;">
                          {% if photos.all|length == 0 %}Ajouter une photo
                          {% else %}Ajouter une autre photo {% endif %}</p>
                    </span>
                </div>
                </label>
            </form>
        </div>
    </div>
    <form method="post">
    	{% csrf_token %}
    	<div class="row bottom-pad">
        {% buttons %}
    		<div class="col-md-3 col-md-offset-0 col-sm-3 col-sm-offset-0 col-xs-3 ">
    			<button type="button" onclick="history.back();" class=" custom-font-size btn btn-default"
    			name="prev" style="border-radius: 5px">
                {% bootstrap_icon "chevron-left" %}
    			Précédent
    		</button>
    	</div>

      <div class="col-md-3 col-md-offset-0  col-sm-1 col-sm-offset-0 col-xs-3 col-xs-offset-1" style="padding-left: 10px;">
        <button  id="btn_save" style="border-radius: 5px;" class="btn btn-default btn_save  custom-font-size"
        name=""type="button"  >
        Sauvegarder   {{ bien.get_isInModification }}
        <span id="save" class="glyphicon glyphicon-floppy-save"></span>

      </button>
    </div>
      <div class="col-md-3 col-sm-2 col-sm-offset-3 col-xs-4 col-xs-offset-1" >
        {%if update_info%}
        <button class=" btn btn-default" name="next"  type="submit" value="{% url 'validation-modification'  %}" style="border-radius: 5px">
          {%else%}
            <button class=" btn btn-default  custom-font-size" name="next"  type="submit" value="{% url 'validation' %}" style="border-radius: 5px">
            {%endif%}
                Suivant
                {% bootstrap_icon "chevron-right" %}

        </button>
    	</div>
    	{% endbuttons %}
    </div>
    </form>


{% endblock step %}
