{% extends "biens/bien_form.html" %}
{% load biens_extras bootstrap3 static %}

{% block script %}
<script>
$(document).ready(function(){


	var type = "{{ bien.get_type |safe}}";
    if (type == 'Terrain' || type == 'Box' || type =='Parking' || type =='Immeuble'){
	$('.to_hide').hide();
}
});
	function initMap() {
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 15,
			center: {lat: {{ bien.localisation.y }}, lng: {{ bien.localisation.x }}},
			mapTypeId: 'terrain'
		});

		var circle = new google.maps.Circle({
			strokeColor: '#FF0000',
			strokeOpacity: 0.8,
			strokeWeight: 2,
			fillColor: '#FF0000',
			fillOpacity: 0.35,
			map: map,
			center: {lat: {{ bien.localisation.y }}, lng: {{ bien.localisation.x }}},
			radius: 100
		});
	}

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACctgCdD3jv1euVBIYrqdObjvfrmMgGxI&callback=initMap">
</script>

{% endblock script %}

{% block style %}

<style type="text/css">
	{%if update_info %}
	  .progress-bar{
	    width : 100% !important;
	  }
	  {%else%}
	  .progress-bar{
	    width : 75% !important;
	  }
	  {%endif%}
	.carousel .item {
		height: 400px;
	}

	.item img {

		min-height: 400px;
		vertical-align: middle;
	}
	#map {
		min-width: 100%;
		min-height: 400px;
	}
	body{
		background-color: #f6f6f6;
        font-family: 'Roboto', sans-serif;
        padding-bottom: 70px;
	}
	h3{
		text-transform: uppercase;
		font-size:18px;
	}
	.taille_b{
		width: 136px;
		height: 34px;
	}

	@media (min-width: 480px) and (max-width: 767px) {
	  .cs-margin-left{
	    margin-left:60%;
	  }
	}
</style>
{% endblock style %}

{% block progress %}

<div style="width: 100%">
	<span style="width: 33%; float:left;">Informations principales</span>
	<span style="width: 33%; float:left;">Détails</span>
	<span style="width: 34%; float:left;">Validation</span>
</div>
<div class="progress" style="clear: both; height: 15px">
	<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; background-color:#4abac0">
	</div>
</div>

{% endblock progress %}
{% block step %}
<div class="row">

	<div class="col-md-12">
        <div class="title_p1" style="text-align: left;padding-left: 15px;font-size: 18px">{{ bien.get_type }} {{ bien.surface }} m² - <span class="text-muted">{{ bien.ville |title }} {{ bien.code_postal  }}</span></div>
		<div style="margin-top: -7px">
            {% include "biens/includes/carousel.html" with images=bien.photos_a_valider.all %}</div>
	</div>
</div>

<hr>
<div class="row">
	<div class="col-md-8" style="padding-bottom: 7px">
		<div style="margin-top: -10px;font-size: 18px;padding: 5px;padding-top: 10px;padding-bottom: 11px">{{ bien.get_type }} {{ bien.surface }} m² <br><span class="text-muted"> {{ bien.ville |title }} {{ bien.code_postal  }} </span>
		</div>
		<span class="label label-success" style="font-size: 16px;text-align: center">
			{{ bien.surface }} m²
		</span>
		&nbsp;
		<span class="label label-success to_hide" style="font-size: 16px;text-align: center">
        {% if  bien.pieces == 0  %}
			{{ bien.pieces }} pièce
        {% elif  bien.pieces == 1 %}
            {{ bien.pieces }} pièce
        {% else %}
            {{ bien.pieces }} pièces
        {% endif %}

		</span>
		&nbsp;
		<span class="label label-success to_hide" style="font-size: 16px;text-align: center">
        {% if  bien.chambres == 0  %}
			{{ bien.chambres }} chambre
        {% elif   bien.chambres ==  1 %}
            {{ bien.chambres }} chambre
        {% else %}
            {{ bien.chambres }} chambres
        {% endif %}
		</span>
	</div>
	<div class="col-md-4">
		<div class="pull-right" style="font-size: 18px;margin-top: -7px;padding-top: 10px">
			{{ bien.prix|price_format }} €
		</div>
	</div>
</div>
<hr>
<div class="row">

	<h5 class="sh-right_15 tab_10" style="font-weight: bold;font-size: 17px;padding-bottom: 5px;padding-top: 10px">DESCRIPTION</h5>
	<div class="col-md-12 tab_5">
		<p class="text-justify" style="font-size: 15px">
			{{ bien.description }}
		</p>
	</div>
</div>
<hr class="">
<div class="row ">
	<h5 class="sh-right_15 tab_10" style="font-weight: bold;font-size: 17px;padding-bottom: 5px;padding-top: 10px">DÉTAILS DU BIEN</h5>

	<div class="col-xs-6 col-sm-4 detail_sh " >
		Charge de copropriété : {{ bien.charges }}€ par an

	</div>
	<div class="col-xs-6 col-sm-4 detail_sh" >
		Taxe foncière : {{ bien.taxe }}€ par an
	</div>
	<div class="col-xs-6 col-sm-4 detail_sh to_hide" >
		{{ bien.get_energie }}
	</div>
	<div class="col-xs-6 col-sm-4 detail_sh to_hide">
		Exposition {{ bien.get_exposition }}
		<br/>

	</div>
	<div class="col-xs-6 col-sm-4 detail_sh to_hide">
		Chauffage {{ bien.get_chauffage }} {{ bien.get_type_chauffage }}
		<br/>

	</div>
	<div class="col-xs-6 col-sm-4 detail_sh to_hide">
        {% if bien.sdb == 0  %}
            {{ bien.sdb }} salle de bain
        {% elif bien.sdb == 1  %}
            {{ bien.sdb }} salle de bain
        {% else %}
            {{ bien.sdb }} salle{{ bien.sdb|pluralize }} d'eau
        {% endif %}
	</div>
	<div class="col-xs-6 col-sm-4 detail_sh to_hide">
        {% if bien.sde == 0  %}
            {{ bien.sde }} salle d'eau
        {% elif bien.sde == 1  %}
            {{ bien.sde }} salle d'eau
        {% else %}
		  {{ bien.sde }} salle{{ bien.sde|pluralize }} d'eau
        {% endif %}
	</div>
	<div class="col-xs-6 col-sm-4 detail_sh to_hide">
		Construction en {{ bien.construction }}
	</div>
	<div class="col-xs-6 col-sm-4 detail_sh to_hide">
		{{ bien.get_etage }}
	</div>

	{% if bien.surface_terrasse %}
	<div class="col-xs-6 col-sm-4 detail_sh to_hide">
		{{ bien.surface_terrasse }} m² de terrasse
	</div>
	{% endif %}

	{% if bien.surface_balcon %}
	<div class="col-xs-6 col-sm-4 detail_sh to_hide">
		{{ bien.surface_balcon }} m² de balcon
	</div>
	{% endif %}

	{% if bien.surface_jardin %}
	<div class="col-xs-6 col-sm-4 detail_sh to_hide">
		{{ bien.surface_jardin }} m² de jardin
	</div>
	{% endif %}

	{% if bien.cuisine_americaine %}
	<div class="col-xs-6 col-sm-4 detail_sh to_hide">
		Cuisine américaine
	</div>
	{% endif %}
	{% if bien.cuisine_separee %}
	<div class="col-xs-6 col-sm-4 detail_sh to_hide">
		Cuisine séparée
	</div>
	{% endif %}
	{% if bien.cuisine_equipee %}
	<div class="col-xs-6 col-sm-4 detail_sh to_hide">
		Cuisine équipée
	</div>
	{% endif %}

</div>
<hr class="">
<div class="row " >
	<h5 class="sh-right_15 tab_10" style="font-weight: bold;font-size: 17px;padding-bottom: 5px;padding-top: 10px">COMMODITÉS</h5>
	{% if bien.gardien %}
	<div class="col-xs-3 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
		 <p style="margin-top: 10px"><img  src="{% static "img/present.png" %}"></p>
            <div style="text-align: center"> Gardien</div>
	</div>
	{% endif %}

	{% if bien.digicode %}
	<div class="col-xs-3 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
		<p style="margin-top: 10px"><img  src="{% static "img/present.png" %}"></p>
        <div style="text-align: center">Digicode</div>
	</div>
	{% endif %}

	{% if bien.interphone %}
	<div class="col-xs-3 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1" >
		<p style="margin-top: 10px"><img  src="{% static "img/present.png" %}"></p>
        <div style="text-align: center">Digicode</div>
	</div>
	{% endif %}

	{% if bien.cave %}
	<div class="col-xs-3 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
		 <p style="margin-top: 10px"><img  src="{% static "img/present.png" %}"></p>
        <div style="text-align: center"> Cave</div>
	</div>
	{% endif %}

	{% if bien.parking %}
	<div class="col-xs-3 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
		<p style="margin-top: 10px"><img  src="{% static "img/present.png" %}"></p>
        <div style="text-align: center"> Parking</div>
	</div>
	{% endif %}

	{% if bien.refait_a_neuf %}
	<div class="col-xs-3 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
        <div style="margin-left: 20px;margin-top: 10px"><img  src="{% static "img/present.png" %}"></div>
        <div style="text-align: center" style="margin-top: -10px" >Refait à neuf</div>
	</div>
	{% endif %}

	{% if bien.a_renover %}
	<div class="col-xs-3 sh-com sh-left-16-right-4"style=" background-color: #f1f1f1" >
		<p style="margin-top: 10px"><img  src="{% static "img/present.png" %}"></p>
        <div style="text-align: center">À rénover</div>
	</div>
	{% endif %}

	{% if bien.piscine %}
	<div class="col-xs-3 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
		<p style="margin-top: 10px"><img  src="{% static "img/present.png" %}"></p>
        <div style="text-align: center"> Piscine </div>
	</div>
	{% endif %}

	{% if bien.belle_vue %}
	<div class="col-xs-3 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
		<p style="margin-top: 10px"><img  src="{% static "img/present.png" %}"></p>
        <div style="text-align: center"> Belle vue </div>
	</div>
	{% endif %}

	{% if bien.ascenseur %}
	<div class="col-xs-3 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
		<p style="margin-top: 10px"><img  src="{% static "img/present.png" %}"></p>
        <div style="text-align: center"> Ascenseur </div>
	</div>
	{% endif %}

	{% if bien.dernier_etage %}
	<div class="col-xs-3 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
		  <div style="margin-left: 20px;margin-top: 10px"><img  src="{% static "img/present.png" %}"></div>
        <div style="text-align: center;margin-top: -3px">  Dernier étage </div>
	</div>
	{% endif %}

	{% if bien.sans_vis_a_vis %}
	<div class="col-xs-3 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
		<div style="margin-left: 20px; margin-top: 10px"><img  src="{% static "img/present.png" %}"></div>
                    <div style="text-align: center">Sans vis-à-vis</div>
	</div>
	{% endif %}

	{% if bien.alarme %}
	<div class="col-xs-3 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
		<p style="margin-top: 10px"><img  src="{% static "img/present.png" %}"></p>
        <div style="text-align: center">Alarme</div>
	</div>
	{% endif %}

	{% if bien.access_handicape %}
	<div class="col-xs-3 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
		 <div style="margin-left: 20px; margin-top: 10px"><img  src="{% static "img/present.png" %}"></div>
          <div style="text-align: center">Accès handicapé</div>
	</div>
	{% endif %}

	{% if bien.cheminee %}
	<div class="col-xs-3 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
		 <p style="margin-top: 10px"><img  src="{% static "img/present.png" %}"></p>
         <div style="text-align: center">  Cheminée</div>
	</div>
	{% endif %}

	{% if bien.box %}
	<div class="col-xs-3 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
		<p style="margin-top: 10px"><img  src="{% static "img/present.png" %}"></p>
        <div style="text-align: center">Box</div>
	</div>
	{% endif %}

	{% if bien.rangements %}
	<div class="col-xs-3 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
		<p style="margin-top: 10px"><img  src="{% static "img/present.png" %}"></p>
        <div style="text-align: center;margin-left:  -5px">Rangements</div>
	</div>
	{% endif %}

	{% if bien.dressing %}
	<div class="col-xs-3 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
		<p style="margin-top: 10px"><img  src="{% static "img/present.png" %}"></p>
        <div style="text-align: center">Dressing</div>
	</div>
	{% endif %}

	{% if bien.placards %}
	<div class="col-xs-3 sh-com sh-left-16-right-4" style=" background-color: #f1f1f1">
		<p style="margin-top: 10px"><img  src="{% static "img/present.png" %}"></p>
        <div style="text-align: center"> Placards</div>
	</div>
	{% endif %}
</div>
<hr>
<div class="row">
	<h5 class="sh-right_15 tab_10" style="font-weight: bold;font-size: 17px;padding-bottom: 5px;padding-top: 10px">À PROXIMITÉ</h5>
</div>
<div class="row">
	<div class="col-sm-9 col-sm-push-3">
		<div id="map"></div>
	</div>
    <div class="col-sm-3 col-sm-pull-9">
        <div class="row">
            <div class="col-sm-12" style="margin-bottom: 15px;font-size: 15px">
	{% if bien.transports %}
		<img  src="{% static "img/present.png" %}">
		Transport
	{% endif %}

	</div>
            <div class="col-sm-12" style="margin-bottom: 15px;font-size: 15px">
	{% if bien.commerces %}

		<img  src="{% static "img/present.png" %}">
		Commerces

	{% endif %}

                </div>

        <div class="col-sm-12" style="margin-bottom: 15px;font-size: 15px">
	{% if bien.ecoles %}
		<img  src="{% static "img/present.png" %}">
		École
	{% endif %}

        </div>
	<div class="col-sm-12" style="margin-bottom: 15px;font-size: 15px">

	{% if bien.loisirs %}
		<img  src="{% static "img/present.png" %}">
		Loisirs
        {% endif %}
	</div>
            </div>
    </div>

</div>
<br>
<br>
<form method="post" class="form">
		{% csrf_token %}
		<div class="row bottom-pad">

				{% buttons %}
				<div class="col-sm-3 col-sm-offset-0 col-xs-3 ">
    			<button type="button" onclick="history.back();" class=" btn btn-default  btn-block taille_b cs-margin-left"
    			name="prev" style="font-size: 15px;border-radius: 5px">
                {% bootstrap_icon "chevron-left" %}
    			Précédent
    		</button>
    	</div>
			<div class="col-md-3 col-md-offset-6 col-sm-2 col-sm-offset-6 col-xs-4 col-xs-offset-3" >
					<button class="sh_b_env btn-sm taille_b cs-margin-left" name="next"  type="submit" value="{% url 'utilisateurs:mes-annonces' %}" style="border-radius: 5px">
								Terminer
								{% bootstrap_icon "chevron-right" %}
						</button>
				</div>
			{% endbuttons %}
</div>
</form>

{% endblock step %}
