{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
	Speedhousing - Prise de RDV pour une visite
{% endblock title %}

{% block style %}
	<link rel='stylesheet' type='text/css' href="{% static 'fullcalendar/dist/fullcalendar.css' %}" />
{% endblock style %}


{% block script %}
	<script type='text/javascript' src="{% static "moment/moment.js" %}"></script>
	<script type='text/javascript' src="{% static 'fullcalendar/dist/fullcalendar.js' %}"></script>
	<script type='text/javascript' src="{% static 'fullcalendar/dist/locale/fr.js' %}"></script>
	<script type='text/javascript'>
		$(function() {
			$('#calendar').fullCalendar({
				locale: 'fr',
				defaultView: 'agendaWeek',
				{% if client %}
				events: '{% url 'bien-calendrier' object.nb_mandat client.pk %}',
				{% else %}
				events: '{% url 'bien-calendrier' object.nb_mandat %}',
				{% endif %}
				header: {
					right: 'today prev,next',
					center: 'title',
					left: 'agendaDay,agendaWeek,month',
				},
				eventLimit: 6,
				businessHours: {
					dow: [0, 1, 2, 3, 4, 5, 6],
					start: '7:00',
					end: '23:00'
				},
				minTime: '07:00',
				maxTime: '23:00',
				showNonCurrentDates: false,
				aspectRatio: 2,
				allDaySlot: false,
				displayEventTime: false
			});
		});
	</script>
{% endblock script %}


{% block container %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{% if client %}
				<h1>Prise de RDV pour {{ client }}</h1>
				{% else %}
				<h1>Prise de RDV pour la visite</h1>
				{% endif %}
				<hr>
			</div>
			<div class="col-md-12">
				<div id="calendar"></div>
			</div>
		</div>
	</div>
{% endblock container %}
