{% extends "biens/bien_form.html" %}

{% load bootstrap3 %}

{% block script %}

{% endblock script %}

{% block step %}
	<h3>Mes jours et mes horaires de disponibilités</h3>
	<div class="alert alert-warning">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</div>
	{% for dispo in bien.disponibilites.all %}
	<div class="row">
		<div class="col-md-4">
			Tous les {{ dispo.get_jour }}s 
		</div>
		<div class="col-md-4">
			de {{ dispo.debut|time:"H:i" }} à {{ dispo.fin|time:"H:i" }}
		</div>
		<div class="col-md-4">
			<form method="post" action="{% url 'disponibilites_delete' bien.nb_mandat dispo.pk %}">
				{% csrf_token %}
				{% buttons %}
					<button type="submit" class="btn btn-danger">
						{% bootstrap_icon "remove" %}
					</button>
				{% endbuttons %}
			</form>
		</div>
	</div>
	{% endfor %}

	<form method="post" class="form">
	{% csrf_token %}
	<div class="row">
		<div class="col-md-12">
			{% bootstrap_form_errors form error_types="all" %}
		</div>
		<div class="col-md-4 col-sm-12">
			{% bootstrap_field form.jour label=False %}
		</div>
		<div class="col-md-4 col-sm-6">
			{% bootstrap_field form.debut label=False %}
		</div>
		<div class="col-md-4 col-sm-6">
			{% bootstrap_field form.fin label=False %}
		</div>
	</div>

	{% buttons %}
		<button type="submit" class="btn btn-primary pull-left" name="add" value="1">
			{% bootstrap_icon "plus" %}
			Ajouter une disponibilité
		</button>
		<button type="submit" class="btn btn-primary pull-right">
			Suivant
		{% bootstrap_icon "chevron-right" %}
		</button>
	{% endbuttons %}
	</form>
{% endblock step %}