body {
  min-height: 2000px;
  padding-top: 70px;
}


#logo {
	height: 150%;
}

form#dropdown-login {
	padding: 1em 1em 0 1em;
	min-width: 250px;
}

.notifications {
	position: relative;
	height: 400px;
    overflow-y: scroll;
    background: whitesmoke;
    border: 1px solid #4abac0;
}

.notifications li {
	position: relative;
	border: 0 !important;
	border-radius: 0 !important;
    border-bottom: 1px solid #4abac0;
    margin-bottom: 0;
}

.notification-read {
	position: relative;
	font-size: .5em;
}

.notifications li .close {
    position: absolute;
    right: 2px;
    top: 8px;
}