{% extends "email/base_email.html" %}

{% block title %}{{ block.super }} - Confirmation de votre inscription{% endblock %}

{% block content %}
{% autoescape on %}
<p>Bonjour {{fullname}},</p>
<p>Nous avons bien reçu votre demande d'inscription.
Afin de valider votre compte utilisateur, merci de vous rendre sur le lien suivant :</p>
<table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
  <tbody>
    <tr>
      <td align="left">
        <table border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td> <a href="{{url_action}}" target="_blank">Activer mon compte</a> </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<p>Votre compte va être vérifié et validé par notre service client.
Une fois validé, vous recevrez un mail de confirmation et pourrez accéder
à votre espace agent.</p>
{% endautoescape %}
{{ block.super }}
{% endblock %}

