{% extends "email/base_email.html" %}

{% block title %}{{ block.super }} - Validation de votre inscription{% endblock %}

{% block content %}
{% autoescape on %}
<p>Bonjour {{fullname}},</p>
<p>Bienvenue dans le réseau SPEEDHOUSING ! <br>
Nous vous confirmons votre inscription.</p>
<p>Vous pouvez désormais avoir accès à votre espace agent en vous connectant via le lien ci-dessous :</p>
<table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
  <tbody>
    <tr>
      <td align="left">
        <table border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td> <a href="{{ url_action }}" target="_blank">Me connecter</a> </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
{% endautoescape %}
{{ block.super }}
{% endblock %}

