{% load humanize utilisateurs_extras %}

<h4>Historique</h4>
{% if bien.offres|get_past_offers:user %}
<div class="table-responsive">
<table class="table table-hover">
    <thead>
        <th>Date</th>
        <th>Client</th>
        <th>Vendeur</th>
        <th>Offre</th>
        <th>Etat</th>
        <th>Refusé</th>
    </thead>
    {% for offre in bien.offres|get_past_offers:user %}
    <tr>
        <td>{{ offre.created|date:'l d F' }}</td>
        {% if offre.acheteur %}
        <td>{{ offre.acheteur }}</td>	
        {% else %}
        <td>{{ offre.agent_client }}</td>
        {% endif %}
        <td>{{ offre.vendeur }}</td>
        <td title="{{ offre.prix|intcomma }} €">
            {{ offre.prix|intword }} euros
        </td>
        <td style="width: 170px">
            {% if offre.offre %}
            <span class="label label-warning" style="font-size: 12px">Contre-offre</span>
            {% else %}
            <span class="label label-info" style="background-color: #44bac1;font-size: 12px">&nbsp;&nbsp;&nbsp;Nouvelle&nbsp;&nbsp;&nbsp;</span>
            {% endif %}
            {% if offre.acceptee %}
            <span class="label label-success" style="font-size: 12px">Acceptée</span>
            {% endif %}
            {% if offre.refusee %}
            <span class="label label-danger" style="background-color: #e41b74;font-size: 12px">&nbsp;Refusée&nbsp;</span>
            {% endif %}
        </td>
        <td>{{ offre.refusee|naturaltime }}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% else %}
<div class="alert alert-warning" role="alert">
    Aucune précédente offre n'a été faite
</div>
{% endif %}
