  {% load humanize utilisateurs_extras %}

  <h4>{{ bien.get_type }} {{ bien.surface }} m² - <span class="text-muted"> {{ bien.code_postal  }} {{ bien.ville |title }}</span></h4>
  {% if bien.offres|get_waiting_offers:user %}
  <div class="row">
      {% for offre_on_bien in bien.offres|get_waiting_offers:user %}
  {% if offre_on_bien.initiater == True %}
      <div class="col-md-6">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">
                      {% if offre_on_bien.offre %}
                      Contre-offre
                      {% else %}
                      Nouvelle offre
                      {% endif %}
                      <small class="pull-right">
                          {{ offre_on_bien.created|naturaltime }}
                      </small>
                  </h3>
              </div>
              <ul class="list-group">
                  <li class="list-group-item">
                      <div class="media">

                          <div class="media-body">
                             <a href="{% url 'annonce' bien.nb_mandat %}">
                            <p class="media-heading">

                            {{ bien.get_type }} {{ bien.surface }} m² - <span class="text-muted"> {{ bien.ville |title }} {{ bien.code_postal  }} </span>
                            </p>
                          </a>

                            {{ bien.surface }}  m² <span class="color_blue">|</span>
                            {{ bien.pieces }} pieces <span class="color_blue">|</span> {{ bien.chambres }} chambres
                           </div>
                       </div>
                  </li>
                  <li class="list-group-item ">
                      <div class="row row_no_margin">
                        <div class="col-xs-5 col-md-4" style="padding-left: 0px;padding-right: 10px">
                          Acquereur :
                        </div>
                        <div class="col-xs-7 col-md-8" style="padding-right: 0px">
                          <span class="pull-right">
                              {% if offre_on_bien.acheteur %}
                              {{ offre_on_bien.acheteur }}
                              {% else %}
                              {{ offre_on_bien.agent_client }}
                              {% endif %}
                          </span>
                        </div>
                  </li>
                  <li class="list-group-item ">
                    <div class="row row_no_margin">

                  <div class="col-xs-4" style="padding-left: 0px;padding-right: 10px">
                    Vendeur :
                  </div>
                  <div class="col-xs-8" style="padding-right: 0px">
                    <span class="pull-right">
                        {{ offre_on_bien.vendeur }}
                    </span>
                  </div>
                </div>
              </li>

                  <li class="list-group-item">
                      Prix initial :
                      <span class="pull-right" title="{{ offre.prix|intcomma }} €">
                          {{ bien.prix|intword }} euros
                      </span>
                  </li>
                  <li class="list-group-item">
                      Prix :
                      <span class="pull-right" title="{{ offre_on_bien.prix|intcomma }} €">
                          {{ offre_on_bien.prix|intword }} euros
                      </span>
                  </li>
                  <li class=" row row_no_margin list-group-item">
                    <form action="{% url 'utilisateurs:agent-offre' bien.nb_mandat %}?accepter={{ offre_on_bien.pk }}" method="post" class="pull-left">
                      {% csrf_token %}
                      <div class="col-xs-6 fix-acc" >
                          <button type="submit" class="btn btn-default btn-success " style="background-color: #4abac0;border-color: #4abac0">
                            <span class="glyphicon glyphicon-ok"></span>
                            Accepter
                          </button>
                      </div>
                  </form>
                    <form action="{% url 'utilisateurs:agent-offre' bien.nb_mandat %}?refuser={{ offre_on_bien.pk }}" method="post" >
                      {% csrf_token %}
                      <div class="col-xs-6 fix-ref" >
                          <button type="submit" class="btn btn-default btn-danger"  style="background-color: #e41b74; margin-left: 10px; ">
                          Refuser
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>
                      </div>
                  </form>
                  </li>
              </ul>
              {% if not offre_on_bien.contre_offre_acceptee %}
              <div class="row row_no_margin panel-footer paddin_b-10" style="padding: 10px 12px">
                  <form action="{% url 'utilisateurs:agent-offre' bien.nb_mandat %}?contre-offre={{ offre_on_bien.pk }}" method="post" class="form-inline text-right">
                      {% csrf_token %}
                      <div class="col-xs-7  fix-offre">
                        <div class="form-group">
                          <div class="input-group">
                              <input type="number" class="form-control" id="id_prix" name="prix" required="required" placeholder="Contre-offre">
                              <div class="input-group-addon">€
                              </div>
                          </div>
                      </div>
                      </div>
                      <div class="col-xs-4 fix-envoy" >
                      <button type="submit" class="btn btn-default" style="background-color: #d3b050;border-color:#d3b050; ">
                          Envoyer
                          <span class="glyphicon glyphicon-repeat"></span>
                      </button>
                      </div>
                  </form>
                  &nbsp;
              </div>
              {% else %}
              <div class="row row_no_margin panel-footer paddin_b-10" style="padding: 10px 12px">
                Vous devez accepter ou refuser la contre-offre acceptée {{bien.acceptee}}
              </div>
              {% endif %}
          </div>
      </div>
  {% endif %}
      {% endfor %}
  </div>
  {% else %}
  <div class="alert alert-warning" role="alert">
      Vous n'avez aucune offre ou contre-offre en attente
  </div>
  {% endif %}
