{% load static biens_extras %}

<div style="font-size: 20px;padding-top: 10px;padding-bottom: 10px">{% if visited %}Passé ou annulé{% else %}À venir{% endif %}</div>
<div class="table-responsive">
<table class="tab_vis" >
    <thead>
        <th class="center" style="vertical-align: middle;font-size: 16px;font-weight: 500">Bien</th>
        <th class="center" style="vertical-align: middle ;font-size: 16px;font-weight: 500" >Date et heure</th>
        <th class="center" style="vertical-align: middle;font-size: 16px;font-weight: 500">Vendeur</th>
        <th class="center" style="vertical-align: middle;font-size: 16px;font-weight: 500">Acquéreur</th>
        <th class="center" style="vertical-align: middle;font-size: 16px;font-weight: 500">État</th>
        <th class="center" style="vertical-align: middle;font-size: 16px;font-weight: 500">Actions</th>
    </thead>
    <tbody class="searchable">
        {% for rdv in object_list %}
        {% if visited and rdv.deleted or visited and rdv.visite or not visited and not rdv.deleted and not rdv.visite %}
        <tr>
            <td>
                <div class="media">
                    <div class="media-left">
                        <a href="{% url 'annonce' rdv.bien.nb_mandat %}" >
                            <img class="media-object" src="{{ rdv.bien.get_photo_url }}" alt="{{ rdv.bien }}" width="100px">
                        </a>
                    </div>
                    <div class="media-body"  style="vertical-align: middle">
                        <p class="media-heading">
                            
                            <span style="color:#333">{{ rdv.bien.get_type }} {{ rdv.bien.surface }} m² - </span><span class="text-muted"> {{ rdv.bien.ville |title }} {{ rdv.bien.code_postal  }} </span>
                            
                        </p>
                    </div>
                </div>
            </td>

            <td class="center" style="vertical-align: middle">{{ rdv.crenau|date:'d/m/y à H:i' }}</td>
            <td class="center" style="vertical-align: middle">{{ rdv.vendeur }}</td>
            <td class="center" style="vertical-align: middle">{{ rdv.acquereur }}</td>
            <td  class="center" style="vertical-align: middle">
            	{% include "utilisateurs/includes/rdv_statut.html" with rdv=rdv %}

            </td>
            
            
            <td  class="center" style="vertical-align: middle">
                {% if rdv.deleted  %}
	               {% if rdv.agent_client is not None %}
                        <a href="{% url 'bien-calendrier' rdv.bien.nb_mandat rdv.acquereur.pk %}" class="btn btn-default pull-right">
                        Reprendre RDV
                        <span class="glyphicon glyphicon-repeat"></span>
                        </a>
                        {% endif %}
                   {# vous ne pouvez pas reprendre de visite pour un acquereur #}
                {% elif rdv.visite %}
                	{% if rdv.is_sold %}
                		Vendu
                	{% elif rdv.has_offer %}
				        Offre faite
			        {% else %}
					    <form method="post" action="{% url 'utilisateurs:list-visites' %}" class="pull-right">
					        {% csrf_token %}
					        <input type="hidden" name="rdv_pk" value="{{ rdv.pk }}">
					        <input type="number" name="prix" class="form-control">
					        
					        <button type="submit" class="sh_b_env-xs" style="background-color: #d3b050;border-color:#d3b050">
					            Faire une offre
					            <span class="glyphicon glyphicon-repeat"></span>
					        </button>
					    </form>
			        {% endif %}

                {% else %}
                
                	{% if rdv.in_past %}
		            <form method="post" action="{% url 'utilisateurs:list-visites' %}" class="pull-right">
		                {% csrf_token %}
		                <input type="hidden" name="confirmer" value="{{ rdv.pk }}">
		                <button type="submit" class="btn btn-xs  tran" title="Confirmer le rendez-vous" style="margin-right: 13px">
		                    <img  src="{% static "img/conf.png" %}">
		                </button>
		            </form>
		            {% endif %}
		            
		            <form method="post" action="{% url 'annuler-rdv' rdv.pk %}?next={{ request.path }}" class="center">
		                {% csrf_token %}
		                <button type="submit" class="btn tran " title="Annuler le rendez-vous" >
		                    <img  src="{% static "img/ann.png" %}">
		                </button>
		            </form>
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
</div>
{% include "includes/pagination.html" %}
