<!DOCTYPE html>
{% load biens_extras static %}
<html>
<head>
      {% block style %}
	<style>
		span.bold {
			font-weight: bold;
		}
         @page{
            margin-left: 38px;
            margin-right: 38px;
            margin-top: 38px;
            margin-bottom: 0px;
         }
         .taille {
             border: solid 1px #4abac0;
         }
        .place{
        margin-top: -307px;
        margin-left: 390px
    }
        .di1{
            width:330px;
        }
        .di2{
           width:330px;
            float: right;
            margin-top: -19px;
        }
        .di1-1{
            width:380px;
        }
        .bg{
            background-color: #4abac0;
        }
        .center_logo{
        	display: block;
        	margin-left: auto;
        	margin-right: auto;
        	width: 50%;
        	margin-top: -150px;
        	margin-bottom: : -150px;
        }
	</style>
     {% endblock style %}
</head>
<body>
  <img alt="logo" style="-moz-transform:scale(0.3);-webkit-transform:scale(0.3);transform:scale(0.3);" class="center_logo"
  src="{% static "img/logo_pdf.png" %}">

    <div class="pdf-ti" style="font-weight: bold;text-align: center;margin-top:-115px">FACTURE</div>
	<p>
        <div class="taille  pull-left" style="width:  370px;font-weight: bold;font-size: 13px;padding-top: 5px;padding-bottom: 5px">

			SPEEDHOUSING<br><br>
            17 bis rue Emile Augier, 93310 Le Pré-Saint-Gervais <br><br>
			SAS au capital de 15.152 € <br><br>
			SIRET 823 244 512 000 13 <br><br>
			RCS 823 244 512 Bobigny <br><br>
			Code TVA FR58823244512<br><br>
			CPI 93012017000016755000 016 755 - sans perception de fonds. <br><br>
        </div>
            <h2 class="taille" style="width:  370px;line-height: 150%;font-size: 15px;height: 24px">Facture n° {{object.pk |add:"4"}}</h2>

		 <div class="taille  place "  style="width:  330px;font-weight: bold;font-size: 13px;padding-top: 5px;padding-bottom: 5px">
				<span style="text-decoration: underline">Notaire en charge de verser les honoraires:</span><br><br>
                {{object.bien.notaire.get_nom}}<br><br>
                {{ object.bien.notaire.email }} <br><br>
		        {{ object.bien.notaire.telephone }} <br><br>
		        {{ object.bien.notaire.adresse }} <br><br>
                {{ object.bien.notaire.ville }}		 {{ object.bien.notaire.code_postal }}
		</div>


		<div style="margin-top: 140px;padding:5px">
            <p> </p>

            <div class="di1" ><span class="bold">Numéro de Mandat: </span><span>{{object.bien.nb_mandat}}</span></div>
            <div class="di2" ><span class="bold">Désignation: </span><span>Vente du bien situé au {{object.bien.adresse}}, {{object.bien.surface}} m²
              	{% if object.bien.type == "t" or object.bien.type == "i" or object.bien.type == "b" or object.bien.type == "p" %}
							{%else%}, {{object.bien.pieces}} pièce(s), {{object.bien.chambres}} chambre(s) {%endif%}</span><br></div>
         <br><br><br><br>
            <div class="di1"><span class="bold">Acquereur: </span><span>{{object.offre.acquereur}}</span></div>
            <div class="di2"><span class="bold">Vendeur: </span><span>{{object.offre.vendeur}}</span></div>
        <br><br>
            <div class="di1"><span class="bold">Prix vente: </span><span>{{object.offre.prix}} €</span></div>

			<div class="di2"><span class="bold">Montant commission : </span>
                <span>0,4 % du prix de vente</span></div>

        <br><br><br>
            <div class="di1"><span class="bold">Prix en Euro (HT): </span></div>
            <div class="di2" ><span>{{object.offre.get_com_sh_ht}} €</span><br></div>
            <br>

            <div class="di1" ><span class="bold">TVA 20%: </span></div>
            <div class="di2" ><span>{{object.offre.get_com_sh_ttc|substract:object.offre.get_com_sh_ht}} €</span><br></div>
            <br>

			<div class="di1-1 bg" ><span class="bold">Prix en Euro (TTC): </span></div>
            <div class="di2 bg" ><span>{{object.offre.get_com_sh_ttc}} €</span><br></div>

            <div class="di1-1 bg" ><span class="bold">Mode de règlement: </span></div>
            <div class="di2 bg" ><span class="bold">Par virement</span><br></div>

            <div class="di1-1 bg" ><span class="bold">Référence à reporter lors du virement: </span></div><div class="di2 bg" ><span class="bold">M{{object.bien.nb_mandat}}F{{object.pk |add:"4"}} </span><br></div>

            <div class=" bg" style="height: 56px;width: 365px"><span class="bold">Coordonnées bancaires: </span></div>
            <div class="bg" style="margin-top: -56px;float: right;width: 330px"> <span class="bold" style="font-size: 13px">CL LE PRE SAINT GERVAIS (00746) <br> IBAN : FR42 3000 2007 4600 0000 6500 Z43  <br>BIC : CRLYFRPP</span></div>
		</div>
	</p>
	<p style=" margin-top: 15px;text-align:right">
        <span style="margin-right: 3px" >Neda TABAN</span><br>
		<span style="margin-right: 24px" >Présidente</span>
	</p><br>
  <div style="font-size: 10px;text-align: center;margin-top: 10px">
      <span >Conformément aux dispositions du code de la consommation, vous trouverez les coordonnées et le site internet de l'organisme de médiation ci-après : Medicys, 73 boulevard de Clichy, 75009 Paris. Contact@medicys.fr, www.medicys.fr.</span>
  </div>
    <div style="font-size: 10px;text-align: center;margin-top: 10px">
        <span >En cas de retard de paiement, seront exigibles, conformément à l’article L 441-6 du code de commerce, une indemnité calculée sur la base de trois fois le taux de l’intérêt légal en vigueur ainsi qu’une indemnité forfaitaire pour frais de recouvrement de 40 euros.</span>
    </div>
      <div style="font-size: 10px;text-align: center;color: #777777">
        <p>SPEEDHOUSING – 17 Bis rue Emile Augier, 93310 Le Pré-Saint-Gervais - +33 (0)1 76 50 63 63 - <br>contacts@speedhousing.fr - www.speedhousing.fr</p>
    </div>


</body>
</html>
