<!DOCTYPE html>
{% load static %}

<html lang="fr_FR" >
<head>
	<title>Gestion Fianciere</title>
	<style>
	p{
			font-size: 12px;
			text-align: justify;
	}
		table {
			border: 1px solid black;
		}
		td {
			text-align: center;
			padding-top: 2px;
            font-size: 14px;
		}
		td.bg {
			background-color: #D0E4F5
		}
		th {
			padding: 2px;
            font-size: 14px;
		}
		td.header {
			font-weight: bold;
		}
		table.result_list {
			margin-bottom: 15px;
		}
	</style>
</head>

<body>

	<h1 style="text-align:center">Gestion Fianciere</h1>
	<h1 style="text-align:center">SPEEDHOUSING</h1>
	<h3>Date d'export: {{ date|date:'Y/m/d à H:i' }}</h3>
	<!-- Container -->
	<div id="container">
		<div class="results">
			{% if ventes %}
			{% for obj in ventes %}
			<table class="result_list">
				<thead>
					<tr>
						<th>Reference</th>
						<th>Nom du Vendeur</th>
						<th>Adresse du Bien</th>
						<th>Typologie</th>
						<th>Prix mandat</th>
						<th>Prix offre finale vendu</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="bg">{{obj.bien.nb_mandat}}</td>
						<td class="bg">{{obj.offre.vendeur}}</td>
						<td class="bg">{{obj.bien.adresse}}</td>
						<td class="bg">{{obj.bien.get_type_display}}</td>
						<td class="bg">{{obj.bien.prix}}</td>
						<td class="bg">{{obj.offre.prix}}</td>
					</tr>
					<tr>
						<td class="header">Com SH 0.4% TTC</td>
						<td class="header">Com SH 0.4% HT</td>
						<td class="header">Com délégué 2.6% TTC</td>
						<td class="header">Coordonnées Vendeur</td>
						<td class="header">Coordonnées Notaire affilié</td>
						<td class="header">Passé Notaire</td>
					</tr>
					<tr>
						<td class="bg">{{obj.offre.get_com_sh_ttc}}</td>
						<td class="bg">{{obj.offre.get_com_sh_ht}}</td>
						<td class="bg">{{obj.offre.get_com_delegue}}</td>
						<td class="bg">{{obj.bien.vendeur.adresse}}</td>
						<td class="bg">{{obj.bien.notaire.get_coordonees}}</td>
						<td class="bg">{% if obj.passe_notaire is None%}Offre accepte en attente de signature{% elif obj.passe_notaire is False %}Vente Annulé{% else %}Vente à eu lieu{% endif %}</td>
					</tr>
				</tbody>
			</table>
			{% endfor %}
			{% endif %}
		</div>
	</div>
	<!-- END Container -->
</body>
</html>
