<!DOCTYPE html>
{% load biens_extras static %}

<html>
<head>

	<title>{{ title }}</title>
</head>
{% block style %}
<style>
    @page{
            margin-left: 38px;
            margin-right: 38px;
             margin-top: 38px;
            margin-bottom: 0px;
    }
    .taille {

        border: solid 1px #4abac0;
    }
    .place{
        margin-top: -191px;
        margin-left: 390px
    }

    li{
        text-align: justify;
    }
    .center_logo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      margin-top: -150px;
      margin-bottom: : -150px;
    }

</style>
{% endblock style %}

<body>
	<img alt="logo" style="-moz-transform:scale(0.3);-webkit-transform:scale(0.3);transform:scale(0.3);" class="center_logo"
	src="{% static "img/logo_pdf.png" %}">



	<div class="pdf-ti" style="font-weight: bold;text-align: center ;margin-top:-100px">OFFRE D'ACHAT ACCEPTÉE</div><br><br>


<div class="row">
   <div class=" col-md-6 pull-left" style="width:  370px;font-weight: bold;font-size: 12px">
       <div class="taille " style="padding-bottom: 5px;padding-top: 5px">N° DE MANDAT : {{ offre.bien.nb_mandat }}</div>
		<div class="taille" style="margin-top: 12px;padding-top: 5px;padding-bottom: 5px">SPEEDHOUSING <br><br>
		17 bis rue Emile Augier, 93310 Le Pré-Saint-Gervais <br><br>
		SAS au capital de 15.152€, RCS 823 244 512 Bobigny <br><br>
        TVA Intracommunautaire : FR58823244512<br><br>
		CPI : 9301 2017 000 016 755 - sans perception de fonds. <br></div>
   </div>
       <div class="taille col-md-6 place "  style="width:  330px;font-weight: bold;font-size: 12px; padding-top: 5px;padding-bottom: 5px">
         Notaire en charge de la vente: <br><br>
		{% with offre.bien.notaire as notaire %}
		Me {{ notaire.get_nom }} <br>
		{{ notaire.email }} <br>
		{{ notaire.telephone }} <br>
		{{ notaire.adresse }} <br>
		{{ notaire.code_postal }} {{ notaire.ville }}
		{% endwith %}
           </div>

    </div>
		<br><br>
		<br><br><br>

	<p style="font-size: 12px">
		Le, {{ offre.acceptee|date:"  d F Y" }}
		<br>
		<ol>
			<li style="font-size: 12px">
				{{ offre.agent }} agrément N° {{ offre.agent.carte }}, ci-après l’«Agent », agissant en tant que délégué SPEEDHOUSING a effectué :<br><br>
				<ul>
					<li>une offre d’achat, au nom et pour le compte de son client; l’acquéreur {{ offre.acquereur }}.</li><br>
					<li>sur le bien "{{ offre.bien }}",</li><br>
					<li>au prix de {{ offre.prix }} € ({{ offre.prix|in_words }} euros)</li><br>
					<li>du vendeur {{ offre.vendeur }} qui a accepté expréssément cette offre par l’intermédiation du service  SPEEDHOUSING, sur le site <a href="http://www.speedhousing.fr">www.speedhousing.fr</a>
					</li><br>
				</ul>
			</li>
			<li style="font-size: 12px">
				Lors de la mise en ligne de son annonce, le vendeur a désigné le notaire en charge de la signature de la promesse de vente et de l’acte authentique désigné ci-après: Me {{ offre.bien.notaire.get_nom }}, {{ offre.bien.notaire.get_adresse }}, {{ offre.bien.notaire.email }}, {{ offre.bien.notaire.telephone }}.
			</li><br>
			<li style="font-size: 12px">
				L’acquéreur a la possibilité de se faire représenter également par son notaire. Le cas échéant,  l’agent est en charge de notifier le notaire de l’acquéreur ainsi que le notaire du vendeur (désigné ci-dessus au point 2) afin qu’ils puissent se mettre en relation.
			</li><br>

			<li style="font-size: 12px">
				En vertu de l’article 8 du mandat de vente N° {{ offre.bien.nb_mandat }}, le prix pris en compte est celui  de la dernière offre acceptée et non pas systématiquement le prix figugrant sur le mandat. L’acceptation de la présente offre entraine l’accord ferme du vendeur du prix proposé par l’acquéreur.
			</li><br>
			<li style="font-size: 12px">
				En vertu de l’article 9 du mandat de vente N° {{ offre.bien.nb_mandat }}, La rémunération totale pour la réalisation de cette vente est une commission fixée à hauteur de 3 % du prix de la vente des biens qui est de {{ offre.commission }} € ({{ offre.commission|in_words }} euros). Cette commission comprend la rémunération du mandataire et du délégué.  La rémunération est à la charge de l’acquéreur. Dès la signature de l’acte authentique, le Notaire (désigné au point 2) a l’obligation de verser sans délai et directement,
				<ul><br>
					<li style="font-size: 12px">
						0,4 % du montant du prix de la vente sur le compte bancaire de SPEEDHOUSING ;
					</li>
					<li style="font-size: 12px">
						et 2,6 % du montant du prix de la vente sur le compte bancaire du professionnel délégué ayant vendu le bien : {{ offre.agent }} agrément N° {{ offre.agent.carte }}. Ce dernier s’engage à transmettre au notaire désigné le jour de la signature de l’acte authentique ses coordonnées bancaires afin d’être rémunéré.
					</li>
                </ul>
			</li>
		</ol>
	</p>
	<p style=" margin-top: 15px;text-align:right;font-size: 12px">
        <span style="margin-right: 3px" >Neda TABAN</span><br>
		<span style="margin-right: 18px" >Présidente</span>
	</p><br>
 <div style="font-size: 10px;text-align: center;color: #777777">
        <p>SPEEDHOUSING – 17 Bis rue Emile Augier, 93310 Le Pré-Saint-Gervais - +33 (0)1 76 50 63 63 - <br>contacts@speedhousing.fr - www.speedhousing.fr</p>
    </div>
</body>
</html>
