<!DOCTYPE html>
{% load static %}

<html lang="fr_FR" >
<head>
	<title>REGISTRE DES MANDATS (transactions sur immeubles et fonds de commerce)</title>
	<style>
		table {
			border: 1px solid black;
		}
		p{
				font-size: 11.99px;
				text-align: justify;
		}
        tr{
           font-size: 10px;
        }
		td {
			text-align: center;
			padding-top: 2px;
            font-size: 10px;
		}
		td.bg {
			background-color: #D0E4F5
		}
		th {
			padding: 2px
		}
	</style>
</head>

<body>
	<h1 style="text-align:center">REGISTRE DES MANDATS (transactions sur immeubles et fonds de commerce)</h1>
	<p>
		TITULAIRE DU REGISTRE : SPEEDHOUSING, société par actions simplifiée, au capital de 15 000 euros,
		immatriculée au registre du commerce et des sociétés de Bobigny sous le numéro 823 244 512,
		dont le siège social est situé au 17 bis rue Emile Augier 93310 Le Pré-Saint-Gervais,
		représenté par Madame Neda TABAN, en qualité de présidente.
	</p>
	<p>
		TITULAIRE DE LA CARTE PROFESSIONNELLE « transactions sur immeubles et fonds de commerce » N° : CPI 9301 2017 000 016 755 - sans perception de fonds, délivrée le 17/02/2017 par la CCI Paris Ile-de-France - le vice-président Gérard LISSORGUES, valable jusqu’au 16/02/2020.
	</p>
	<!-- Container -->
	<div id="container">
		<div class="results">
			<table id="result_list">
				<thead>
					<tr>
						<th>Numéro du Mandat</th>
						<th>Date du Mandat</th>
						<th>Nom du Mandant</th>
						<th>Adresse du Mandant</th>
						<th>Objet du Mandant</th>
						<th>Adresse des Biens à vendre</th>
						<th>Nature des biens</th>
						<th>Situations des biens</th>
					</tr>
				</thead>
				<tbody>
					{% if biens %}
					{% for bien in biens %}
					<tr>
						<td {% if forloop.counter0|divisibleby:2 %}class="bg"{% endif %}>{{ bien.nb_mandat }}</td>
						<td {% if forloop.counter0|divisibleby:2 %}class="bg"{% endif %}>{{ bien.creation|date:"Y-m-d" }}</td>
						<td {% if forloop.counter0|divisibleby:2 %}class="bg"{% endif %}>{{ bien.vendeur }}</td>
						<td {% if forloop.counter0|divisibleby:2 %}class="bg"{% endif %}>{{ bien.vendeur.adresse }}</td>
						<td {% if forloop.counter0|divisibleby:2 %}class="bg"{% endif %}>publicité, intermédiation, délégation, négociation</td>
						<td {% if forloop.counter0|divisibleby:2 %}class="bg"{% endif %}>{{ bien.adresse }}</td>
						<td {% if forloop.counter0|divisibleby:2 %}class="bg"{% endif %}>{{ bien.get_type_display }}</td>
						<td {% if forloop.counter0|divisibleby:2 %}class="bg"{% endif %}>{{ bien.get_type_display }}, {{ bien.surface }}m²
							{% if bien.type == "t" or bien.type == "i" or bien.type == "b" or bien.type == "p" %}
							{%else%}
							, {{ bien.pieces }} Pièce(s), {{ bien.chambres }} Chambres(s)
							{%endif%}
						</td>
					</tr>
					{% endfor %}
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
	<!-- END Container -->
</body>
</html>
