<!DOCTYPE html>
{% load biens_extras static %}

<html>
<head>
	<title>{{ title }}</title>
</head>
    {% block style %}
    <style>
         @page{
            margin-left: 38px;
            margin-right: 38px;
             margin-top: 38px;
            margin-bottom: 0px;
    }
    .h_pdf{
   			font-size: 14px;
        margin-left: 15px;
				font-weight: bold;

        }
    p{
        font-size: 11.99px;
        text-align: justify;
    }
    li{
        font-size: 12px;
        text-align: justify;
        }
    .taille {
        font-weight: bold;
        border: solid 1px #4abac0;
        width:  265px;
    }

.center_logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-top: -150px;
	margin-bottom: : -150px;
}
     </style>
    {% endblock style %}
<body>

<div class="pdf-ti" style="font-weight: bold;text-align: center">MANDAT SIMPLE DE VENTE
    </div><br><br>

<div class="taille " style="padding-bottom: 5px;padding-top: 5px;padding-left: 5px; font-size: 12px">
    N° au registre des mandats : {{ bien.nb_mandat }}
</div><br><br>


<p class="h_pdf">1.&nbsp; MANDATAIRE</p>
<p>
SPEEDHOUSING, ci-après le « mandataire », société par actions simplifiée, au capital de 15 152 euros, immatriculée au registre du commerce et des sociétés de Bobigny sous le numéro 823 244 512, dont le siège social est situé au 17 bis rue Emile Augier 93310 Le Pré-Saint-Gervais, représenté par Madame Neda TABAN, en qualité de présidente.
</p>
<p>
Activité : transactions immobilières, apporteur d’affaires, publicité web.<br>
TVA Intracommunautaire : FR58 823244512<br>
Carte professionnelle : CPI 9301 2017 000 016 755 - sans perception de fonds.
</p><br>

<p class="h_pdf">2.&nbsp; MANDANT</p>
    <p>
<span style="color: red;">
Le mandant atteste sur l’honneur avoir le pouvoir de donner mandat.
</span>
</p>
<p>
Coordonnées du mandant : {{ bien.vendeur }} ci-après le « mandant », domicilié(e) {{ bien.vendeur.adresse }}.
</p>

<p>
    <span style="font-weight: bold;font-size:12px">LE MANDANT ET LE MANDATAIRE ONT CONVENU ET ARRÊTÉ CE QUI SUIT</span> : par les présentes, le mandant, pouvant pleinement concourir au présent mandat, charge le mandataire de vendre les biens désignés ci-après dont il est propriétaire, par le biais du site<a href="#"> www.speedhousing.fr</a>, qui permet aux professionnels adhérents au réseau SPEEDHOUSING de proposer les biens à son portefeuille de clients dans le but de les vendre, et le mandataire accepte cette mission.
</p><br>


<p class="h_pdf">3.&nbsp; DESIGNATION ET SITUATION DES BIENS A VENDRE </p>
<p>Nature du bien : {{ bien.get_type }} </p>
<p>Lot de copropriété : {{ bien.lot }} </p>
<p>Adresse : {{ bien.get_adresse }}
<p>Désignation : {{ bien }}</p><br>


<p class="h_pdf">4.&nbsp; REGLEMENTATIONS RELAVITES A L’IMMEUBLE </p>

<p>Pour se conformer aux différentes obligations en vigueur, le mandant s’engage à fournir tous les documents nécessaires à la vente du bien. Il s’agit notamment des documents suivants : </p>
<ul>
 <li>Acte de propriété </li>
  <li>Surface Carrez (si le bien est en copropriété) </li>
  <li>Éléments constitutifs du dossier de diagnostic technique (article L. 271-4 du code de la construction et de l’habitation) </li>
  <li>Carnet d'entretien de l'immeuble </li>
  <li>Documents relatifs à l'organisation de l'immeuble et à sa situation financière </li>
</ul>
<p>
Le mandant s’engage à télécharger les documents nécessaires dans son espace personnel dès la mise en ligne de son annonce.<br>
Le mandant autorise le partage de ces documents avec les professionnels ayant fait visiter son bien ainsi que le ou les notaires en charge de la signature de la vente.<br>
Dans tous les cas, la situation exacte et complète devra être connue au plus tard au moment de la signature de l'avant-contrat de vente (promesse de vente).<br>
Les frais générés lors de l’obtention des documents sont à la charge du mandant.<br>

Sauf convention contraire des parties, les documents y afférents appartiennent au mandant.
</p><br>


<p class="h_pdf">5.&nbsp; OBLIGATIONS ET POUVOIRS DU MANDATAIRE </p>
    <p><span style="font-weight: bold;text-decoration: underline">Le mandataire devra :</span></p>
<ol>
    <li> Entreprendre, d’une façon générale, toutes les démarches nécessaires pour mener à bien la mission qui lui est confiée : par la publication d’une annonce sur le site www.speedhousing.fr le mandant confie un mandat simple de vente à SPEEDHOUSING, qui fait une délégation de mandat à tous les professionnels adhérents au réseau SPEEDHOUSING, qui proposeront les biens à leurs clients potentiellement intéressés, dans le but de vendre le bien le plus rapidement possible.</li><br>

    <li> Informer le mandant de tous les éléments nouveaux pouvant modifier les conditions de vente, notamment en matière de prix ou de législation.</li><br>

    <li> Informer le mandant de l’accomplissement du présent mandat ; le mandant est tenu informé par l’intermédiaire des notifications par mail et/ou sur son espace personnel, des offres effectuées, acceptées ou refusées des clients des délégués.</li><br>
    <li>Le mandataire ne détient pas de fonds, l’avant-contrat de vente sera conclu exclusivement chez le notaire que le mandant aura désigné lors de la mise en ligne de son annonce. Aucun avant-contrat de vente ne sera signé sous seing privé.</li>
</ol>

    <p><span style="font-weight: bold;text-decoration: underline">Afin que le mandataire puisse accomplir sa mission, le mandant lui donne les pouvoirs suivants :</span></p>
    <ol>
        <li> Proposer, présenter, visiter et faire visiter les biens à toute personne qu'il jugera utile.</li>

        <li> Faire toute publicité qu’il jugera utile ; la publicité s’effectuera exclusivement sur le site www.speedhousing.fr. </li>

        <li> Communiquer le dossier de l’opération à tout professionnel qu’il jugera susceptible de concourir à la vente. </li>

        <li> Réclamer les pièces, actes et certificats nécessaires au dossier auprès de toutes personnes privées ou publiques. </li>
        <li> Les démarches administratives (division, urbanisme, déclaration d’intention d’aliéner exigée par la loi foncière, ect), seront effectués par le notaire du mandant, désigné lors de la mise en ligne de son annonce sur le site www.speedhousing.fr, les frais administratifs exposés restant à la charge du mandant.</li>
    </ol>
    <br>

    <p class="h_pdf">6.&nbsp; OBLIGATIONS ET POUVOIRS DU MANDANT </p>
    <p><span style="font-weight: bold;text-decoration: underline">De son côté le mandant devra :</span></p>
    <ol>
        <li> Répondre, le cas échéant, à toute demande de tiers relative à l’étendue du pouvoir du mandataire tel que prévu à l’article 1158 du code civil.</li><br>

        <li>Assurer au mandataire les moyens de visiter et de faire visiter les biens mis en ligne sur le site www.speedhousing.fr pendant le cours du présent mandat. Les prises de rendez-vous de visites des biens s’effectuent via l’agenda commun sur le site wwww.speedhousing.fr. Le mandant sélectionne en ligne les créneaux de visites pour lesquels il peut se rendre disponible afin que les délégués ou le mandataire lui-même puissent prendre rendez-vous sur les créneaux qu’il a sélectionné. Le mandant s’engage à ne pas confier les clés des biens aux délégués et à être présent pendant les visites. Si le mandant ne respecte pas cet engagement, les risques de vols, de squatte, ainsi que des fraudes civiles et pénales restent entièrement à sa charge et relèvent de sa responsabilité.</li> <br>

        <li>Fournir au mandataire toutes justifications de propriété des biens à vendre ainsi que tous documents nécessaires au dossier. </li><br>

        <li> Signaler immédiatement au mandataire toutes modifications juridiques ou matérielles pouvant modifier ledit dossier via son espace personnel. </li><br>

        <li> Signaler la vente de ses biens via son espace personnel sur le site wwww.speedhousing.fr lorsqu’il accepte une offre, afin que son annonce soit suspendue, et que les formalités soient envoyées au notaire qu’il aura désigné lors de la mise en ligne de son annonce. </li><br>

<li> Clause pénale :<br>
    De convention expresse et à titre de condition essentielle sans laquelle le mandataire n’aurait pas accepté la présente mission :

    <br>
<ol style="list-style-type: lower-alpha">
    <br>
    <li > Le mandant s’engage à signer au prix, charges et conditions convenus, tout avant-contrat de vente (promesse de vente) éventuellement assorti d’une demande de prêt immobilier, avec tout acquéreur présenté par le mandataire et ses délégués. Néanmoins, il s’interdit de signer tout avant-contrat de vente (promesse de vente) sous seing privé avec le mandataire ou ses délégués. L’avant-contrat de vente (promesse de vente) est obligatoirement signé chez le notaire désigné par le mandant lors de la mise en ligne de son annonce sur wwww.speedhousing.fr. L’acquéreur pourra également se faire représenter par son propre notaire.</li>
<br>
    <li> Le mandant garde toute liberté de procéder lui-même à la recherche d'un acquéreur. Toutefois, pendant la durée du mandat, en cas de vente réalisée par lui-même ou par un autre cabinet sans l’intermédiaire de SPEEDHOUSING, il s’engage à en informer immédiatement le mandataire en lui notifiant via son espace personnel sur le site wwww.speedhousing.fr. Cette notification mettra fin au mandat. Elle évitera au mandataire d’engager la vente avec un autre acquéreur et épargnera au mandant les poursuites pouvant être éventuellement exercées par cet acquéreur.</li>
<br>
    <li> Le mandant s'interdit, pendant la durée du mandat et pendant une période de 12 mois suivant son expiration, de traiter directement ou indirectement avec un acquéreur ayant été présenté par le mandataire et/ou ses délégués ayant visité les biens en sa présence.
    Le mandant s’interdit également de signer un mandat en direct avec les délégués et leurs cabinets lui étant présenté par l’intermédiaire de SPEEDHOUSING.</li>
    </ol>
        </li>
    </ol>

<p>En cas de non-respect des obligations énoncées ci-avant, le mandant s’engage expressément à verser au mandataire, en vertu de l’article 1231-5 du code civil, une indemnité compensatrice forfaitaire égale au montant de la rémunération.</p> <br>

    <p class="h_pdf">7.&nbsp; DELEGATION DE MANDAT </p>
<p>Afin que le mandataire puisse accomplir sa mission, le mandant autorise le mandataire de déléguer sa mission au tiers professionnel, un « délégué » ; les pouvoirs et obligations des délégués ne peuvent excéder ceux conférés au mandataire (définis au paragraphe « obligations et pouvoirs du mandataire »).<br>
    <span style="text-decoration: underline;font-weight: bold">Obligations et pouvoirs du délégué :</span></p>
    <ul>
        <li>proposer, présenter les biens référencés sur le site www.speedhousing.fr à son portefeuille de clients ;</li>
<br>
        <li>faire visiter les biens référencés en fixant obligatoirement les rendez-vous de visite via l’agenda commun et outils de communications disponibles sur www.speedhousing.fr ;  toute action entreprise en dehors du cadre établi par le site du mandataire www.speedhousing.fr, prive le délégué  de sa commission et l’expose aux poursuites judiciaires de la part de SPEEDHOUSING ;</li>
<br>
        <li>déclarer et faire déclarer par le propriétaire, les offres, les contre-offres d’achat des biens, ainsi que l’offre définitive acceptée à la suite des visites, sur le site www.speedhousing.fr; </li>
<br>
        <li>déclarer la vente du bien sur le site www.speedhousing.fr ; </li>

        <li>se rendre chez le notaire le jour de la signature de l’avant-contrat de vente ainsi que de l’acte authentique ; </li>
<br>
        <li>le délégué ayant réalisé la vente s’engage à transmettre sa facture au notaire désigné par le particulier vendeur lors de la mise en ligne de son annonce, le jour de sa présence à la signature de l’acte authentique, afin de se faire rémunérer 2,6 % du prix de la vente des biens ; </li>
<br>
        <li>le délégué s’interdit d’effectuer toute publicité sur d’autres sites que www.speedhousing.fr ou tout autre support;</li>
<br>
        <li>le délégué s’interdit de signer l’avant-contrat de vente (promesse de vente) sous seing privé ainsi que de détenir les fonds des dépôts de garantie des ventes réalisées. La signature de l’avant-contrat de vente (promesse de vente) s’effectue obligatoirement chez le notaire désigné par le mandant lors de la mise en ligne de son annonce ; </li>
<br>
        <li>le délégué ne peut conclure directement un mandat avec le vendeur d’un bien référencé qu’il a connu par l’intermédiaire de SPEEDHOUSING et effectuer éventuellement une vente sans passer par l’intermédiaire de SPEEDHOUSING. Toute action entreprise en dehors du cadre établi par le site du mandataire www.speedhousing.fr, prive le délégué de sa commission et l’expose aux poursuites judiciaires de la part de SPEEDHOUSING;</li>
<br>
<li>le délégué remplit l’objet du sous-mandat en toute indépendance via sa carte professionnelle et/ou  attestation de collaborateur, son assurance responsabilité civile et est adhérent à son propre organisme de médiation dans le cadre de la relation entre le consommateur et le professionnel. Le professionnel s’engage à tenir ces documents à jour.</li>
    </ul>

    <p>En cas d’erreur professionnelle, le délégué engage sa responsabilité à l’égard du mandant.</p><br>


<p class="h_pdf">8.&nbsp; PRIX DE VENTE </p>
<p>
Les biens devront être présentés, rémunération du mandataire à la charge de l'acquéreur comprise, au prix de :<br>
    <span style="font-weight: bold;">{{ bien.prix|in_words }} euros ({{ bien.prix }} €)</span></p>

<p>
Ce prix peut être diminué par le mandant dans son espace personnel sur le site www.speedhousing.fr ou lors des soumissions d’offre et d’acceptation d’offre, et ce, seulement sur le site www.speedhousing.fr.
</p>
    <p>
Le prix pris en compte sera celui de la dernière offre acceptée.
</p><br>

<p class="h_pdf">9.&nbsp; REMUNERATION</p>
<p>
La rémunération totale pour la réalisation de la vente est une commission fixée à hauteur de de 3 % du prix de la vente des biens. La valeur de 3% comprend la rémunération du mandataire et du délégué.  La rémunération est à la charge de l’acquéreur. <br><br>
La rémunération de SPEEDHOUSING, qualifié de mandataire, sera, TVA incluse, de 0,4 % du montant de la vente, à la charge de l’acquéreur.<br><br>
La rémunération du délégué ayant vendu le bien sera, TVA incluse, de 2,6 % du montant de la vente, à la charge de l’acquéreur.<br>
La rémunération du mandataire et du délégué, dont le montant et le mode de calcul sont indiqués ci-avant, deviendra exigible à la date à laquelle l'opération est effectivement conclue et constatée dans un seul acte écrit signé par l'acquéreur et le vendeur (l’avant-contrat de vente signé chez le notaire désigné par le particulier vendeur lors de sa mise en ligne).
Le mandataire et le délégué ayant réalisé la vente, perçoivent sans délai leurs honoraires dès lors que l’acte authentique de vente a été signé.<br>
Le Notaire désigné lors de la mise en ligne de l’annonce par le particulier vendeur à l’obligation de verser directement 0,4 % du montant du prix de la vente sur le compte bancaire de SPEEDHOUSING et 2,6 % du montant du prix de la vente sur le compte bancaire du Délégué ayant vendu le bien.<br>
En cas d'exercice éventuel d'un droit de préemption, le préempteur sera subrogé dans tous les droits et obligations de l'acquéreur. En conséquence, toute rémunération incombant éventuellement à l'acquéreur sera à la charge du préempteur. La présente condition est impérative.</p><br>

    <p class="h_pdf">10.&nbsp; SEQUESTRE </p>
<p>En vue de garantir la bonne exécution des présentes, l'acquéreur doit, à l'appui de tout avant-contrat de vente (promesse de vente), effectuer un versement d'un montant maximum de 10 % du prix total de la vente, à l'ordre du séquestre du notaire désigné par le particulier vendeur lors de la mise en ligne de son annonce sur le site www.speedhousing.fr.<br>
Le séquestre du notaire désigné par le particulier vendeur dispose de sa propre garantie, SPEEDHOUSING ne détient pas de fond.</p><br>

    <p class="h_pdf">11.&nbsp; ACTE AUTHENTIQUE – JOUISSANCE </p>
    <p>
Dans l’hypothèse où le bien est sous un contrat de location, le mandant déclare que le bien à vendre sera, le jour de la signature de l'acte de vente, loué suivant l'état locatif qu’il doit transmettre au délégué qui le transmettra au notaire désigné, soit le transmettre directement à son notaire. <br>
Dans tous les cas, un bien qui n’est pas libre, peut être vendu qu’à la condition que le notaire ainsi que le ou les acquéreurs aient préalablement pris connaissance de l’état locatif de ce dernier. </p><br>

    <p class="h_pdf">12.&nbsp; PUBLICITE </p>
    <p>
Pour diffuser les annonces relatives aux biens référencés auprès du public, le mandataire et son réseau emploieront exclusivement le moyen suivant : le site internet www.speedhousing.fr.</p><br>

    <p class="h_pdf">13.&nbsp; MEDIATION DES LITIGES DE LA CONSOMMATION </p>
    <p>
Le mandataire informe le mandant qu'il peut avoir recours à un dispositif de médiation, conformément aux dispositions du code de la consommation, auprès du médiateur dont les coordonnées et le site internet sont précisés ci-après : Medicys, 73 boulevard de Clichy, 75009 Paris. Contact@medicys.fr, www.medicys.fr.</p><br>

    <p class="h_pdf">14.&nbsp; INFORMATIONS DES PARTIES </p>
    <p>
Chaque partie communique à l’autre partie toute information déterminant son consentement. Le mandataire et les délégués devront notamment disposer de toutes les informations connues par le mandant pour répondre aux obligations de l’article 1112-1 du code civil auprès des tiers.</p><br>

    <p class="h_pdf">15.&nbsp; DUREE DU MANDAT </p>
    <p>
Le mandat est consenti sans exclusivité pour une période de douze mois à compter de la date de mise en ligne de l’annonce. Chacun des parties pourra résilier le mandat, à tout moment, en supprimant l’annonce sur le site www.speedhousing.fr. La résiliation prendra effet sous quinzaine. </p><br>

    <p class="h_pdf">16.&nbsp; DROIT DE RETRACTATION </p>
    <p>
Le mandant dispose d’un délai de réflexion de 14 jours pendant lequel il peut renoncer au présent mandat (art. L.221-18 du code de la consommation). Pendant 7 jours, aucun paiement ne peut lui être demandé.<br>
Le contrat ayant été conclu à distance ou hors établissement avec un professionnel, le mandant bénéficie d’un droit de rétractation pendant un délai de 14 jours. Le droit de rétractation commence à compter de la date de signature du présent mandat. Le présent mandat est signé électroniquement par le mandant via le site www.speedhousing.fr. Si le mandant souhaite exercer son droit de rétractation, il peut simplement, via son espace personnel supprimer son annonce pour que le mandat soit annulé.</p><br>


    <p class="h_pdf">17.&nbsp; ATTRIBUTION DE COMPETENCE </p>
    <p>
En cas de litige, seule la juridiction du lieu de situation de l’immeuble est compétente.</p><br>


   <p> <span style="font-weight: bold;">LE MANDANT RECONNAÎT AVOIR PRIS CONNAISSANCE DES CONDITIONS FIGURANT AUX PRÉSENTES ET CONSERVE UN EXEMPLAIRE.</span></p><br>

<p>Le MANDANT reconnaît être informé qu’il peut se rétracter via son espace personnel en supprimant son annonce pour que le mandat soit annulé selon les modalités de rétractation ci-dessus.</p><br>


<p>Fait par signature électronique sur le site www.speedhousing.fr<br>
Le : {{ bien.creation|date:"  d F Y"  }}
    </p>

</body>
</html>
