{% extends "admin/base.html" %}
{% load static %}

{% load i18n static bootstrap3 %}

{% block pretitle %}
	{% if show_counters %}
	<div class="module">
		<table style="width:100%">
			{% if cpt_sum == 0 %}
			<caption>
				<span class="section">Aucune validation en attente</span>
			</caption>
			{% else %}
			<caption>
				<span class="section">{{cpt_sum}} Validations en attente</span>
			</caption>
			<tbody style="text-align:center">
				<tr>
					<td>
						<a href="{% url 'admin:biens_bienavalider_changelist' %}?is_new=1">
							<h1>{{ cpt_biens_ajoutes }}</h1>
							annonces initiales
						</a>
					</td>
					<td>
						<a href="{% url 'admin:biens_bienavalider_changelist' %}?is_new=0">
							<h1>{{ cpt_biens_modifies }}</h1>
							annonces modifiées
						</a>
					</td>
					<td>
						<a href="{% url 'admin:utilisateurs_agentavalider_changelist' %}">
							<h1>{{ cpt_agents_ajoutes }}</h1>
							inscriptions agent
						</a>
					</td>
					<td>
						<a href="{% url 'admin:utilisateurs_agentavalider_changelist' %}?is_new=0">
							<h1>{{ cpt_agents_modifies }}</h1>
							modifications agent
						</a>
					</td>
					<td>
						<a href="{% url 'admin:biens_offre_changelist' %}">
							<h1>{{ cpt_offre }}</h1>
							Offre actuelle
						</a>
					</td>
					<td>
						<a href="{% url 'admin:agenda_rdv_changelist' %}">
							<h1>{{ cpt_rdv }}</h1>
							Rendez-vous
						</a>
					</td>
				</tr>
			</tbody>
			{% endif %}
		</table>
	</div>

	{% endif %}

	{{ pretitle }}


{% endblock %}
