{% load pagination_extras %}
<style>
     .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
        background-color: #4abac0;
        border-color: #4abac0;
        color: #fff;
    }
</style>
{% if is_paginated %}
    <div style="text-align: center;margin-top: 50px;">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li><a href="{{ request|get_page:page_obj.previous_page_number }}" style="color: #4abac0">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a href="{{ request|get_page:i }}" style="color: #4abac0">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li><a href="{{ request|get_page:page_obj.next_page_number }}" style="color: #4abac0">&raquo;</a></li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    </div>
{% endif %}