{% if request.user.client %}
<a href="{% url 'new' %}" type="button" class="sh_b_blue navbar-btn pull-left"  style="font-size: 14px;border-radius: 4px;margin-top: 24px">
	<span class="glyphicon glyphicon-download-alt" aria-hidden="true">
	</span>
	&nbsp;Déposer une annonce
</a>
{% endif %}
<div class="hidden-lg">
<br><br>
</div>


{% if request.user %}
<li class="dropdown" style="margin-top: 15px;">
	{% if request.user.client %}
	<a href="{% url 'utilisateurs:espace-client' %}" style="text-transform: none;font-weight: normal">{{ user.client.prenom }}  {{ user.client.nom }}</a>
	{% elif request.user.agent %}
	<a href="{% url 'utilisateurs:espace-agent' %}" style="text-transform: none;font-weight: normal">
    {{ user.agent.prenom }}  {{ user.agent.nom }}   </a>
	{% elif request.user.agent_a_valider %}
	<a href="#">Agent en Attente de Validation</a>
	{% else %}
	<a href="{% url 'admin:index' %}">Admin</a>
	{% endif %}
</li>
{% endif %}

<li class="dropdown" style="margin-top: 15px;">

	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		<span class="glyphicon glyphicon-cog" aria-hidden="true" style="color: #777"></span>
		<span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		{% if request.user and request.user.client or request.user and request.user.agent or request.user and request.user.agent_a_valider %}
		<li>
			<a href="{% if request.user.agent_a_valider or request.user.agent %}{% url 'utilisateurs:modification-agent' %}
					{% elif request.user.client %}{% url 'utilisateurs:modification-client' %}
					{% else %}#{% endif %}">
				<span class="glyphicon glyphicon-user" aria-hidden="true">
				</span>
				Modifier mon profil
			</a>
		</li>
		{% endif %}
		<li>
			<a href="{% url 'password_change' %}">
				<span class="glyphicon glyphicon-edit" aria-hidden="true">
				</span>
				Modifier mon mot de passe
			</a>
		</li>
		<li>
			<a href="{% url 'logout' %}">
				<span class="glyphicon glyphicon-log-out" aria-hidden="true">
				</span>
				Se deconnecter
			</a>
		</li>
	</ul>
</li>
