<a href="{% url 'utilisateurs:inscription-client' %}" type="button" class="btn btn-primary pull-left" style="margin-top:7px;border-radius: 5px;background-color: #4abac0; border-color: #4abac0;padding-top, padding-bottom: 6px;margin-top: 22px">
  Inscription

</a>
<div class="hidden-lg">
<br><br>
</div>

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="text-transform: none;font-weight: normal; color:#777;margin-top: 15px"> Connexion <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <form method="post" action="{% url 'login' %}" id="dropdown-login">
      {% csrf_token %}
      <div class="form-group">
        <label class="control-label" for="id_username"><!--Adresse mail--></label>
        <input name="username" required="" id="id_username" maxlength="254" placeholder="Adresse mail" class="form-control" type="text" style="margin-bottom: -10px;margin-top: -20px;">
      </div>
      <div class="form-group" >
        <label class="control-label" for="id_password" ><!--Mot de passe--></label>
        <input name="password" required="" id="id_password" placeholder="Mot de passe" class="form-control" type="password" style=";margin-top: -10px;" >
      </div>
      <div class="form-group">

        <button type="submit" class="sh_b_blue btn-block" >

          Se connecter
        </button>
      </div>
    </form>
    <li role="separator" class="divider"></li>
    <li class="dropdown-header">Mot de passe oublié ?</li>
    <li><a href="{% url 'password_reset' %}" style="font-size: 12px">Réinitialiser le mot de passe</a></li>
  </ul>
</li>
<p class="navbar-text navbar-right" style="margin-top: 27px">
  <a href="{% url 'utilisateurs:inscription-agent' %}" class="navbar-link" style="font-size: 14px;font-weight: 550">Je suis agent</a>
</p>