@white_one: #ffffff;//modif navabar active background
@black_one: #333333;
@blue_one:  #4abac0;
@jumbotron-bg-sh: @blue_one; //darken(@white_one, 6.5%);
@or_one: #d3b050;
@red_one: #e41b74;
@gray_one: #dadada;
@gray_two: #eaeaea;


.body{
    color: @black_one;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    padding-bottom: 70px;
}

.container{
    font-family: 'Roboto', sans-serif;
}

.form-control{
    color: #333333;

}

.navbar-sh-ac{
    .navbar;
    .navbar-default;
    .navbar-fixed-top;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color:black;
    background-color: @white_one;
    border-color: darken(@white_one, 6.5%);
    height: 104px;
    text-transform: uppercase;
    .navbar-nav {
        > li > a {
            color: @black_one;

            &:hover,
            &:focus {
                color: @blue_one;
                background-color: transparent;

            }
        }
        > .active > a {
            &,
            &:hover,
            &:focus {
                color:@blue_one;
                background-color: #ffffff;
                text-decoration: underline;
            }
        }
        > .disabled > a {
            &,
            &:hover,
            &:focus {
                color: @navbar-default-link-disabled-color;
                background-color:  transparent;
            }
        }
    }

}
.navbar-agent{
    .navbar-nav;
    color:@black_one;

    > li > a {
        color: @black_one;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        text-transform: uppercase;
        &:hover,
        &:focus {
            color: @black_one;
            background-color: transparent;
        }
    }
}
.navbar-sh-footer{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    .navbar;
    .navbar-default;
    .navbar-fixed-bottom;
    color:black;
    border-color:  @white_one;
    background-color: darken(@white_one, 6.5%);
    text-align: center;
    overflow:hidden;
}

/*button sh-header----------------------------------*/
.button-sh-header{
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    .btn;
    .btn-primary;
    .navbar-btn;
    // margin: 15px 5px ;

    //background-color: @blue_one;
    //border-color: @blue_one;
    color: @white_one;
    /*.button-sh-header:active
    background-color:@blue_one;*/

}

/*.button-sh-header:hover{
background-color: @blue_one;
border-color: @blue_one;
}
.button-sh-header:focus{
background-color: @blue_one;
border-color: @blue_one;
}
*/

//btn btn-success navbar-btn
.top{
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    background-color: darken(@white_one, 6.5%);
    overflow:hidden;
    p{
        text-align: center;
    }
}
.midlle{
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    color: @white_one;
    text-transform: uppercase;
    text-align: center;
    background-color: @blue_one;
    overflow:hidden;

    p{
        margin-top: 53px;
    }
    .pincipale{
        font-size: 35px;
        Font-Weight: Bold;
    }
    .row{
        padding-top: 10px; p
        padding-bottom: 10px;
    }
    .min{
        font-size: 20px;
        margin-top: -10px;
        Font-Weight: Bold;
    }
    col{
        //  margin: auto;
        // text-align: justify;
    }
    padding-bottom: 30px;
}
.bottom{
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    margin-top: 23px;
    margin-bottom: 100px;
    text-transform: uppercase;
    background-color:  @white_one;
    overflow:auto;
    text-align: center;
    p{

        padding-top: 10px;
        padding-bottom: 10px;
    }
}


.navbar-sh-header-text{
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    .navbar-text;
    text-transform: capitalize;
    color: @black_one;
}

.intitule{
    color:#4abac0;
    background-color:#ffffff;
    margin-top: 10px;
    font-size: 24px;
    max-width:756px;
}
//-------button-sh-main------------------
.button-sh-main{
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    .btn;
    .btn-primary;
    .btn-xs;
    background-color: @blue_one;
    border-color: @blue_one;
    border-style: solid;
    border-radius: 0px;

}
.button-sh-main:active{
    background-color: @blue_one;
    border-color: @blue_one;
}
.button-sh-main:hover{
    background-color: @blue_one;
    border-color: @blue_one;
}
.button-sh-main:focus{
    background-color: @blue_one;
    border-color: @blue_one;
}

//---------.button-central---------------
.button-central{
    .button-sh-main;
    .btn-sm;
    text-align: center;
    border-radius: 5px;
    //margin-left: 240px;
    //margin-bottom: 15px;
    margin-top: -45px;
    background-color:#4abac0;
    border-color: #4abac0;
    font-size: 15.5px;
    white-space: normal;
}

.button-central:active{
    background-color: @blue_one;
    border-color: @blue_one;
}
.button-central:hover{
    background-color: @blue_one;
    border-color: @blue_one;
}

.button-central:focus{
    background-color: @blue_one;
    border-color: @blue_one;
}
.button-sh{
    //margin-top: 50px;
    //margin-right: 500px;
    text-align: center;
}
.form-sh{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: @white_one;
    padding: 10px;
    text-align: center;
    ::placeholder{
        color: @black_one;
    }
    input{
        height: 30px;
        //!-- width: 90px;-->
        width:100%;
        padding: 4px;
        background-color: darken(@white_one, 6.5%);
        //vertical-align: middle;
        // display:inline;
    }
    #first{
        width: 310px;
        background-color: darken(@white_one, 6.5%);
    }
    .btn{
        background-color: @white_one;
        &:active,
        &.active {
            outline: 0;
            background-image: none;
            color:  @black_one;
            .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
        }
        &:hover,
        &:focus{
            color: @black_one;
        }
    }
    select{
        background-color: darken(@white_one, 6.5%);
        height: 30px;
        width: 100%;

    }
    input[type=number] {
        -moz-appearance: textfield;
        border-radius: 15px;

    }
    /*  input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin:0;
}*/

}

.navbar-nav {
    > li > a {
        text-transform: none;
        color: @navbar-default-link-color;

        &:hover,
        &:focus {
            color: @blue_one;
            background-color: transparent;
        }
    }
    > .active > a {
        &,
        &:hover,
        &:focus {
            color: @blue_one;
            background-color: transparent;
            text-decoration: underline;
        }
    }
    > .disabled > a {
        &,
        &:hover,
        &:focus {
            color: @navbar-default-link-disabled-color;
            background-color: @navbar-default-link-disabled-bg;
        }
    }
}
//jumbotron top
.jumbotron {
    h1{
        font-style: italic;
    }
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: @white_one;
    background-color: @blue_one; //darken(@white_one, 6.5%);
    .btn-primary{
        background-color: #e12976;
    }
}

.lien-sh{
    color: @black_one;
    &:hover,
    &:focus {
        color: @black_one;
    }
}

.text-sh{
    color: black;
    text-align: center;
}


.btn-primary{
    background-color: @blue_one;
    font-family: 'Roboto', sans-serif;
    border-color: @blue_one;
}
.button-form{
    .btn;
    .btn-primary;
    .pull-right;
    background-color: @blue_one;
    font-family: 'Roboto', sans-serif;
    border-color: @blue_one;
    &:hover,
    &:focus{
        background-color: @blue_one;
        border-color: @blue_one;
    }
}

.has-success{
    .form-control{
        border-color: @black_one;
    }
    .control-label{
        color: @blue_one;
        border-color: @black_one;
    }
}
.form-control:focus{
    border-color: @blue_one;
    ::placeholder{
        color: @black_one;
    }
}
.control-label{
    color: @blue_one;
}

.form-group{
    color: @black_one;
    .form-control:focus{
        border-color: @blue_one;
    }

    ::placeholder{

        color: @black_one;
    }
}

.fieldWrapper{

    :focus{
        border-color: @blue_one;
    }
    ::placeholder{
        color: @black_one;
    }
}


//--------side_navbar--------
.nav-title{
    text-align: center;
    color: @white_one;
    background-color: @blue_one;
    font-family: 'Roboto', sans-serif;
    font-size: 22.5px;
}
.nav-title2{
    text-align: center;
    color: @black_one;
    background-color: #dadada;
    font-family: 'Roboto', sans-serif;
    font-size: 22.5px;
}
.panel-primary{
    border-color: @blue_one;
    .panel-heading{
        text-align: center;
        background-color: @blue_one;
        border-color: @blue_one;
    }
    .panel-body{
        .ul,li{
            background-color:white;
            color: @black_one;
        }
    }
}
.color_b{
    background-color: @blue_one;
    border-color: @blue_one;
    &:hover,
    &:active,
    &:focus{
        background-color: @blue_one;
        border-color: @blue_one;
    }
}
.tran{
    background-color: transparent;
}
.color_blue{
    color: @blue_one;
}
.color_b1{
    color:@blue_one;
    padding-right: 5px;
}
.color_or{
    color: @or_one;
}
.color_red{
    color: @red_one;
}
.color_text1{
    font-family: 'Roboto', sans-serif;
    color:@black_one;
    &:active,
    &:valid{
        color: @blue_one;
    }
}

.color_text2{
    font-family: 'Roboto', sans-serif;
    color:@white_one;
}
.color_text3{
    font-family: 'Roboto', sans-serif;
    color:@black_one;
    &:focus,
    &:link,{
        color: @blue_one;
    }
}
.title_p{
    font-family: 'Roboto', sans-serif;
    background-color: #dadada;
    font-size: 22.5px;
    text-align: center;
    margin-bottom: 10px;
}
.title_p1{
    font-family: 'Roboto', sans-serif;
    background-color: #dadada;
    font-size: 22.5px;
    text-align: center;
    margin-bottom: 20px;

}

.title_p2{
    font-family: 'Roboto', sans-serif;
    background-color: @gray_two;
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.label-success{
    background-color: @blue_one;
    color: @white_one;
}
.label-warning{
    background-color: @or_one;
    color: @white_one;
}
.sh_b_blue{
    .btn;
    .btn-primary;
    background-color: @blue_one;
    border-color: @blue_one;
    .button-variant(@btn-primary-color;  @blue_one;  @blue_one);
    &:hover,
    &:focus{
        background-color: @blue_one;
        border-color: @blue_one;
    }
}
.sh_b_blue_sm{
    .btn;
    .btn-primary;
    .btn-sm ;
    background-color: @blue_one;
    border-color: @blue_one;
    .button-variant(@btn-primary-color;  @blue_one;  @blue_one);
    &:hover,
    &:focus{
        background-color: @blue_one;
        border-color: @blue_one;
    }
}
.sh_b_blue_lg{
    .btn;
    .btn-primary;
    .btn-lg;
    background-color: @blue_one;
    border-color: @blue_one;
    .button-variant(@btn-primary-color;  @blue_one;  @blue_one);
    &:hover,
    &:focus{
        background-color: @blue_one;
        border-color: @blue_one;
    }
}
.sh_b_blue_xs{
    .btn;
    .btn-primary;
    .btn-xs ;
    background-color: @blue_one;
    border-color: @blue_one;
    .button-variant(@btn-primary-color;  @blue_one;  @blue_one);
    &:hover,
    &:focus{
        background-color: @blue_one;
        border-color: @blue_one;
    }
}
.sh_b_or_xs{
    .btn;
    .btn-primary;
    .btn-xs;
    background-color: @or_one;
    border-color:@or_one;
    .button-variant(@btn-primary-color; @or_one; @or_one);
    &:hover,
    &:focus{
        background-color: @or_one;
        border-color: @or_one;
    }
}
.sh_b_del{
    .btn;
    .btn-danger;
    .btn-block;
    .btn-xs;
    background-color: @red_one;
    border-color:@red_one;
    .button-variant(@btn-primary-color; @red_one; @red_one);
    &:hover,
    &:focus{
        background-color: @red_one;
        border-color: @red_one;
    }
}
.sh_b_del_sm{
    .btn;
    .btn-danger;
    .btn-xs;
    background-color: @red_one;
    border-color:@red_one;
    .button-variant(@btn-danger-color; @red_one; @red_one);
    &:hover,
    &:focus{
        background-color: @red_one;
        border-color: @red_one;
    }
}
.sh_poubell{
    .btn;
    .btn-danger;
    .btn-lg;
    margin-top: -10px;
    color: @red_one;
    background-color: @white_one;
    border-color:@white_one;
    .button-variant(@red_one; @white_one ; @white_one);
    &:hover,
    &:focus{
        background-color:@white_one;
        border-color: @white_one;
    }
}
.sh_b_env{
    .btn ;
    .btn-primary;
    .btn-block;
    background-color: @blue_one;
    border-color:@blue_one;
    .button-variant(@btn-primary-color; @blue_one; @blue_one);
    &:hover,
    &:focus{
        background-color: @blue_one;
        border-color: @blue_one;
    }
}
.upper{
    text-transform:uppercase;
}
.sh_b_env-xs{
    .btn ;
    .btn-primary;
    .btn-block;
    .btn-xs;
    background-color: @blue_one;
    border-color:@blue_one;
    .button-variant(@btn-primary-color; @blue_one; @blue_one);
    &:hover,
    &:focus{
        background-color: @blue_one;
        border-color: @blue_one;
    }

}
.sh_b_env-lg{
    .btn ;
    .btn-primary;
    .btn-block;
    .btn-lg;
    background-color: @blue_one;
    border-color:@blue_one;
    .button-variant(@btn-primary-color; @blue_one; @blue_one);
    &:hover,
    &:focus{
        background-color: @blue_one;
        border-color: @blue_one;
    }

}
.tab_vis{
    .table;
    .table-hover;
    border-top:  medium solid  darken(@white_one, 6.5%);
    td,th{
        border: medium solid  darken(@white_one, 6.5%);
    }
}
.t_img{
    height: 132px;
    width: 200px;
}

.ratio-4-3{
    width:100%;
    position:relative;
    background:url() 50% 50% no-repeat;
    background-size:cover;
    background-clip:content-box;
}
.ratio-4-3:before{
    display:block;
    content:"";
    padding-top:75%;
}

.cell{
    background-color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.in_size{
    height: 28px;
    font-size: 14px;
    width: 259px;
}
.ac_b{
    margin-top: -8px;
    margin-right: -8px;
}

.but_bot{
    margin-top: 30px;
    background-color: transparent
}

.border{
    border-radius: 5px;
    text-transform: none;
}
/*----------------------------------margin------------------------------*/
/*----------top---------*/

.top_space{
    margin-top: 10px;
}
.top-15{
    margin-top: 15px;
}

.top_space-30{
    margin-top: 30px;
}

.top-l-t{
    margin-top: 160px;
}

.tab_5{
    margin-top: -5px;
}
.top-8{
    margin-top: -8px;
}
.tab_10{
    margin-top: -10px;
}
.ac_prix{
    margin-top: -12px;
}

.sh-top-inv-25{
    margin-top: -25px;
}
/*--------left--------*/
.left_5{
    margin-left: -10px;
}
.sh-right_15{
    margin-left: 15px;
}
.sh-left-5{
    margin-left: 5px;
}
.sh-left-190{
    margin-left: 190px;
}
.sh-left-500{
    margin-left: 500px;
}

.sh-left-20{
    margin-left: -20px;
}


/*--------right-------*/
.sh_right_69{
    margin-right: 69px;
}
.sh-right-20{
    margin-right: -20px;
    float: right;
}

/*--------bottom-------*/
.but_bottom{
    margin-top: 60px;
}

.sh-padding-bot-60{
    padding-bottom: 60px;
}
/*----------------------------------margin------------------------------*/
.sh_bas{
    margin-top: 20px;
    text-transform: none;
}
.sh-btn-default{
    .btn;
    .btn-default;
    background-color: @blue_one;
    border-color:@blue_one;
    .button-variant(@btn-default-color; @blue_one; @blue_one);
    &:hover,
    &:active,
    &:focus{
        background-color: @blue_one;
        border-color: @blue_one;
    }

}
.sh-btn-default:focus{
    background-color: @blue_one;
    border-color: @blue_one;
}

.sh-vendu{
    margin-top: 20px;
    color: @blue_one;
    font-size: 20px;
    padding-bottom: 10px;
}
.media-heading{
    text-decoration: underline;
}
.sh_h4{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
}
.panel-primary{
    .active {
        color :@blue_one;
    }
}
.label-annule{
    .label;
    .label-warning;
    color: @white_one;
    background-color: @red_one;
}
.center{
    text-align: center;
}
.paddin_b-10{
    height: 60px;
}

.top_p{
    padding-top: 15px;
}
.top_min{
    margin-top: 1px;
}
.crit-sh{
    .btn;
    width: 100px;
    color: @black_one;
    text-decoration: none;
    text-transform:none;
    :hover{
        color :@black_one;
        text-decoration: none;
    }
}
.sh-com{
    margin: 10px;
    background-color: #f1f1f1;
    width: 96px;
    height: 70px;
    font-size: 15px;
    p{
        text-align: center;
    }
}
.box-sh{
    margin-top: -0.5px;
}

.bottom-pad{
    margin-top: 30px;
    padding-bottom: 20px;
}
.pad-inv{
    padding: 0px 0px 0px 0px;
    margin-bottom: -5px;
}
.nav-recherche{
    background-color: @blue_one;
    color: @white_one;
}
.nav-titre{
    .panel-heading;
    text-align: left;
    background-color: @white_one;
    color: @black_one;
}

.check_sh{
    height: 50px;
    width: 50px;
}
.detail_sh{
    height: 40px;
    font-size: 15px;
    padding-bottom: 50px;
}
.annonce_recher{
    margin-top: 50px;
    margin-bottom: -40px;
}
.sh-left-16-right-4{
    margin-right: 4px;
    margin-left: 16px;
    margin-top: 3px;
}
.sh-top-inv-11{
    margin-top: -11px;
}
.sh-top-inv-8{
    margin-top: -8px;
}
.sh-bg-transparent{
     background-color: transparent;
}

.backgroung-red_but-lg{
    .btn;
    .btn-danger;
    .btn-lg;
    color: @white_one;
    background-color: @red_one;
    border-color:@red_one;
    .button-variant(@white_one; @red_one; @red_one);
    &:hover,
    &:focus{
        background-color:@red_one;
        border-color: @red_one;
    }
}

.backgroung-red_but{
    .btn;
    .btn-danger;
    color: @white_one;
    background-color: @red_one;
    border-color:@red_one;
    .button-variant(@white_one; @red_one; @red_one);
    &:hover,
    &:focus{
        background-color:@red_one;
        border-color: @red_one;
    }
}

.sh-pad-bot-10{
    padding-bottom: 10px;
}
.sh-text-none{
 text-transform: none;
}
.clas{
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
        color:@blue_one;
    }
    a:hover, a:focus{
            color:@blue_one;
    }

}
.styleinput{
    border: none;
    background:#f6f6f6;
    margin-bottom: 5px;
}

.pdf-ti{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
#jumbotron-home{
    height: 200px;
    margin-bottom: 18px;
}

.h2-home{
    font-size: 50px;
    margin-top: -10px;
}
/*-------------------------home---------------------*/
.home-logo{
    .navbar-brand;
    margin-left: -20px;
    margin-top: -10px;
}

.home_bouton_rose{
    background-color: #e12976;
    margin-top: 10px;
    white-space: normal;
}
.home-menu{
    margin-right: -43px;
}
.home-nav-text{
    font-size: 15px;
    font-weight: bold;
}


.home-om2{
    margin-left: 32px;
}

/*------------------------------------------------*/

.centreVerticalement {
 display: inline-block;
 vertical-align: middle;
 float: none;
}

.chercher_bien{
    margin-top: 140px;
    padding-left: 10px;
    padding-right: 15px;
}

.input_type_bien{
    padding-right: 0px;
}

.input_budget_max{
    padding-right: 0px;
    padding-left:4px;
}

.input_surface_min{
    padding-left:4px;
}

.row_no_margin{
    margin-left: 0px;
    margin-right: 0px;
}

.col-small-padding-right{
    padding-right: 2px;
}

.col-small-padding-left{
    padding-left: 2px;
}

.fix-bug-logo{

}


.cell-add-margin-and-padding-bottom{
    margin-bottom: 10px;
    padding-bottom: 20px;
}
.cell-add-margin-and-padding-left{
    margin-left: 10px;
    padding-left: 20px;
}
.title-detail-sh{
    font-weight:bold;
    font-size: 17px;
    padding-left:15px;
    padding-bottom: 15px;
}
.fix-bug-agent{
        margin-left: -20px;
    }
.fix-log-bug{
    height:  85px;
    margin-top: 5px;
    margin-left: 5px
}
.fix-sp-bug{
    height:  22px;
    margin-top: -65px;
    margin-left: 95px;
}
.fix-text-bug{
    width: 180px;
    margin-left: 105px;
    margin-top: 5px;
}
.fix-vis-agent{

}
.fix-act{
    margin-top: -19px;
    margin-left: -55px;
}
.fix-tall{}
.fix-offre{
    padding-right: 0px;
}
.fix-envoy{
    padding-left: 4px;
}
.fix-acc{
    padding-right: 0px;
    padding-left: 0px;
}
.fix-ref{
    padding-left: 0px;
}
.fix-ann{
    padding-left: 0px;
}
.fix-depot{
    width: 1000px;
    padding-bottom: 30px
}
.fix-im{
    width: 75%;
}

.fix-vi{
    margin-top: -30px;
    margin-right: -15px;
}
.fix-contact{
    width: 750px;
    float: left;
}
/*------------------------------------------------*/
/*-----------------MEDIA QUERIES------------------*/
/*------------------------------------------------*/

@media  screen and (max-width: 1200px)
{
    #navbar{
        width: auto;
        background-color: #fff;
    }
    .fix-depot{
        width: auto;
    }
}

@media  screen and (max-width: 992px)
{
    #jumbotron-home{
        .h2-home{
            font-size: 40px;
        }
        .tab_10{
            font-size: 21px;
        }
        }

    .chercher_bien{
        margin-top: 30px;
        padding-left: 15px;
        margin-bottom: 30px;
        //margin-left: 25%;
    }

    .input_type_bien{
    padding-right: 15px;
    }

    .input_budget_max{
        padding-right: 15px;
        padding-left: 15px;
    }

    .input_surface_min{
        padding-left: 15px;
    }

    .col-small-padding-right{
    padding-right: 15px;
    }

    .col-small-padding-left{
    padding-left: 15px;
    padding-top: 5px;
    }

}
@media  screen and (max-width: 991px)
{
    .home-om2{
        margin-left: 0px;
    }

    .sh-right-20{
        float: none;
        margin-right: 0 px;
    }
}

@media  screen and (max-width: 768px)
{
    #jumbotron-home{
        .h2-home{
            font-size: 35px;
        }
        .tab_10{
            font-size: 18px;
        }
        .fix-contact{
            width: auto;
        }
    }

}

@media  screen and (max-width: 480px)
{
    .home_bouton_rose{
        font-size: 10px;
    }

        #jumbotron-home{
        .h2-home{
            font-size: 30px;
            }
        .tab_10{
            font-size: 14px;
            }
        }
     .navbar-sh-footer{
         #footer-mention{
             font-size: 15px;
         }
    }




    /*-------video-------*/
    .intitule{
        width: 100%;
        font-size: 15px;
    }

    .home-bouton-pub{
        width: auto;
        margin-left: auto;
        font-size: 10px;
        text-align: center;
    }
    #home-video{

    }
     /*-------video-------*/
}
@media  screen and (max-width: 420px) {
    .fix-vis-agent{
        margin-right: -25px;
    }
}
@media  screen and (max-width: 392px) {
     .fix-log-bug{
        height:  80px;
        margin-top: 10px;
    }
    .fix-sp-bug{
        height:  20px;
        margin-top: -60px;
        margin-left: 95px;
    }
    .fix-text-bug{
        width: 150px;
        margin-left: 115px;
    }
}

@media  screen and (max-width: 360px)
{
        .fix-bug-logo{
         margin-top: -60px;
         margin-left: -16px;
         }
    .fix-bug-agent{
        margin-left: 50px;
    }

    .fix-log-bug{
        height:  70px;
        margin-top: 60px;
    }
    .fix-sp-bug{
        height:  20px;
        margin-top: -50px;
        margin-left: 85px;
    }
    .fix-text-bug{
        width: 150px;
        margin-left: 100px;
    }

}
@media  screen and (max-width: 342px) {
    .fix-log-bug{
        height:  70px;
        margin-top: 60px;
    }
    .fix-sp-bug{
        height:  18px;
        margin-top: -50px;
        margin-left: 80px;
    }
    .fix-text-bug{
        width: 140px;
        margin-left: 90px;
    }

    .home_bouton_rose{
        font-size: 9px;
    }
    .fix-vis-agent{
        margin-right: -27px;
    }
    .detail_sh{
        padding-bottom: 70px;
    }
    .fix-tall{
        font-size: 13px;
    }
    .fix-offre{
        padding-right: 0px;
        padding-left: 0px;
        margin-left: -10px;
        width: 135px;
    }
    .fix-envoy{
    padding-left: 4px;

    }
    .fix-im{
        width: auto;
    }
    .fix-vi{
    margin-top: -5px;
    margin-right: -15px;
}
    .fix-contact{
            width: 290px;
        }

}

@media  screen and (max-width: 320px) {

}

.test{}
.carousel-control.right {
background-image: none;
}
.carousel-control.left {
background-image: none;
}
