{% extends "base.html" %}
{% load static %}
{% block container %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3 style="font-size: 22.5px">À PROPOS</h3>

            <hr>
			<p style="text-align: justify">

                SPEEDHOUSING est un concept innovant créé par une professionnelle de l’immobilier et deux juristes.<br> <br>

                C’est la CEO (Chief Executive Officer), Neda Taban, qui en a eu l’idée. Grâce à son parcours professionnel, elle a pu analyser le marché durant de nombreuses années, à la fois en tant que négociatrice et responsable commerciale. <br> <br>

                Sur le terrain, elle a rapidement constaté qu’il existait un frein important. C’est un fait indéniable, les transactions mettent trop de temps à se finaliser et l’offre et la demande passent souvent l’une à côté de l’autre. Dans bien des cas, les biens qui correspondaient parfaitement à ses clients se trouvaient dans des agences à proximité, mais dépourvue de mandat, elle ne pouvait pas les leur proposer. <br><br>

                Elle décide alors de créer un Multiple listing service adapté au marché français, ce même système qui fait fureur outre-Atlantique. <br>   <br>

                Le marché Français ayant sa particularité, elle a très vite compris que l’adaptation se ferait en mettant en place un écosystème répondant aux besoins des différents acteurs du marché de la transaction immobilière.<br><br>


                Que voulons-nous faire au marché ? Optimiser la chaine transactionnelle.<br><br>

                Ainsi, SPEEDHOUSING se veut être la plateforme 2.0 de l’immobilier transactionnel, faisant matcher offre et demande. C’est un processus rapide et efficace qui apporte un nouveau souffle sur le marché de la transaction immobilière.<br><br>

                Alors gagnez du temps, avec SPEEDHOUSING, vendre ou acquérir un bien n’aura jamais été aussi simple. C’est gratuit, essayez ! <br><br>

                <span style="font-weight: bold">Découvrez SPEEDHOUSING dans une vidéo de 2 minutes :</span> <br><br>
                </p>

                 <div >
                     <iframe  width="754" height="424" style="max-width:100%; " src="https://www.youtube.com/embed/SbXcm3kN-Qk?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <!--<img class="img-fluid" style="max-width: 100%" src="{% static "img/vid.png" %}"> -->
                </div>

		</div>
	</div>
</div>
{% endblock container %}
