<!DOCTYPE html>
{% load urls biens_extras static %}

{% load static %}

<html lang="fr">
{% block head %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="qoGVwQBstaLn6BwwcOOez2WgLVIWwdXV8ge9NoIKzPI" />
    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static "css/ie10-viewport-bug-workaround.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/speedhousing.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <title>Speedhousing - Déposer une annonce</title>

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% block style %}
    <style>
        body { padding-bottom: 70px; }
        :focus {
                outline-color: #4abac0;
        }
        input::-webkit-inner-spin-button,
        input::-webkit-outer-spin-button {
	       -webkit-appearance: none;
	       margin:0;
        }

        .tag{
          float : left;

          position:absolute;
          z-index: 10;
          top: 87%;
          left: 48%;
        }

        .cs-font-size-xs{
          font-size: 12px;
        }

    </style>
    {% endblock style %}
</head>
{% endblock head %}

<body>

    {% block header %}
    <!-- Fixed navbar -->

    <nav class="navbar-sh-ac">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="home-logo fix-bug-logo" href="{% url 'home' %}">
                  <img class="fix-log-bug" src="{% static "img/ro.png" %}">
                    <img class="fix-sp-bug" src="{% static "img/sp.png" %}">
                    <img class="fix-text-bug" src="{% static "img/text-1.png" %}">


                </a>

            </div>
            {% if request.user.agent or request.user.client %}
            <div id="navbar" class="navbar-collapse collapse navbar-right home-menu">
                <ul class="nav navbar-agent top-15" >
                    <li  {% if '/' == request.get_full_path %}class="active "{% endif %}><a href="{% url 'home' %}" class="home-nav-text">HOME</a></li>

                    <li  {% if '/support/faq/' == request.get_full_path %}class="active "{% endif %}><a href="{% url 'support:faq' %}" class="home-nav-text">FAQ</a></li>
                    <li  {% if '/a-propos/' == request.get_full_path %}class="active "{% endif %}><a href="{% url 'about' %}" class="home-nav-text">À PROPOS</a></li>
                    <li  {% if '/actualite/actualites/' == request.get_full_path %}class="active "{% endif %}><a href="{% url 'actualite:actualiteList' %}" class="home-nav-text">ACTUALITÉS</a></li>

                    <li  {% if '/support/contact/' == request.get_full_path %}class="active "{% endif %}><a href="{% url 'support:contact' %}" class="home-nav-text">CONTACT</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-agent" style="margin-right:15px">
                    {% if request.user.is_authenticated %}
                    {% include "includes/utilisateur-connecte.html" %}
                    {% else %}
                    {% include "includes/utilisateur-non-connecte.html" %}
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
            {% else %}
            <div id="navbar" class="navbar-collapse collapse navbar-right " >
                <ul class="nav navbar-nav" style="margin-top: 15px">
                    <li  {% if '/' == request.get_full_path %}class="active "{% endif %}><a href="{% url 'home' %}"class="home-nav-text" >HOME</a></li>

                    <li  {% if '/support/faq/' == request.get_full_path %}class="active "{% endif %}><a class="home-nav-text" href="{% url 'support:faq' %}" class="home-nav-text">FAQ</a></li>
                    <li  {% if '/a-propos/' == request.get_full_path %}class="active "{% endif %}><a href="{% url 'about' %}" class="home-nav-text">À PROPOS</a></li>
                   <li  {% if '/actualite/actualites/' == request.get_full_path %}class="active "{% endif %}><a href="{% url 'actualite:actualiteList' %}"class="home-nav-text" >ACTUALITÉS</a></li>

                    <li  {% if '/support/contact/' == request.get_full_path %}class="active "{% endif %}><a href="{% url 'support:contact' %}" class="home-nav-text">CONTACT</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right navbar-agent" style="margin-right:15px">
                    {% if request.user.is_authenticated %}
                    {% include "includes/utilisateur-connecte.html" %}
                    {% else %}
                    {% include "includes/utilisateur-non-connecte.html" %}
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
            {% endif %}
        </div>
    </nav>
    {% endblock header %}

    <div class="container" style="padding-top: 50px">
        {% if messages %}
        {% for m in messages %}
        <div class="messages alert alert-{{ m.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ m }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    {% block container %}
    <div class="container">
        <div class="row row_no_margin">
            <div id="jumbotron-home" class="jumbotron text-center" >
                <div class = "container">
                    <div class="row">
                    <h2 class="h2-home">Vendez votre bien rapidement</h2>
                    <p class="lead tab_10" >
                        Déposez dès maintenant votre annonce immobilière gratuitement
                    </p>
                    </div>
                    <div class="row">
                    <p>
                        <a class="btn btn-lg btn-primary home_bouton_rose" href="{% url 'new' %}"  role="button" style=" background-color: #e12976;">Déposer une annonce Gratuitement !</a>
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Main component for a primary marketing message or call to action -->
    <!-- /container -->
    <div class="top">
        <div class="container">
            <div class="row" style="padding-left: 15px;">
                <div class="col-md-8 col-xs-12 col-sm-12" id="home-video">
                    <div class="row" style="padding-right: 15px;">
                        <div class="intitule">
                            <p>DECOUVREZ SPEEDHOUSING EN 2 MIN CHRONO</p>
                        </div>
                    </div>
                    <div class="row " style="padding-right: 15px;">
                        <!--<img  class="img-fluid" style="max-width: 100%" src="{% static "img/vid.png" %}">-->
                        <iframe  width="754" height="424"   style="max-width:100%; " src="https://www.youtube.com/embed/SbXcm3kN-Qk?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                    </div>

                    <div class="row" style="padding-right: 15px;">
                        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                            <a  href="{% url 'new' %}" role="button" class="button-central" style="background-color:#4abac0; border-color: #4abac0;">PUBLIER UNE ANNONCE GRATUITEMENT
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 chercher_bien">
                  {% block chercher_bien%}

                    <div class="row">
                        <div class="col-md-4" style="padding-left: 0px">
                            <div class="button-sh">
                                <form method="get" action="{% url 'annonce-list' %}">
                                    <button type="submit" class="sh_b_blue_sm "> <span style="font-size: 15.5px">chercher un bien</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-sh cell" >
                            <form method="get" action="{% url 'annonce-list' %}">
                                <div class="row">
                                    <div class="col-md-12">
                                        <input class="styleinput fix-tall" type="text" id="id_loc" name="localisation"  placeholder="Saisissez une ville, un quartier, un code postal">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 input_type_bien">
                                        <select class="styleinput" id="id_type" name="type">
                                        {% for value, type in TYPES_BIENS %}
                                        <option value="{{ value }}">{{ type }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-3 col-xs-12 input_budget_max">
                                        <input  class="styleinput " ame="max_prix" min="0" id="id_prix" placeholder="Budget max €">
                                    </div>
                                    <div class="col-md-4 col-xs-12 input_surface_min">
                                        <input class ="styleinput "  name="min_surface" min="0" id="id_surface" placeholder="Surface min m²"   type="number" >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1">
                                        <a href="{% url 'recherche-plus-annonce' %}">
                                            <button type="button" class="btn" style="text-transform:none;padding-left: 0px;">
                                                <span class="glyphicon glyphicon-plus" style="color:#4abac0;font-size: 140%;"></span>
                                                <span style="color:#333333;font-size: 14px;"> Plus de  critères
                                                </span>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-offset-4 col-md-4">
                                         <button class=" sh_b_blue_sm"  type="submit" style="font-size: 15.5px;margin-top:35px;margin-bottom: 5px" > RECHERCHEZ &nbsp<span class="glyphicon glyphicon-search" aria-hidden="true"></span> </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% endblock chercher_bien%}

                </div>
            </div>
        </div>
    </div>



        <div class="midlle">
            <div class="container">
                <div class="row">
                    <p class="pincipale">VENDRE EN UN TEMPS RECORD</p>
                    <p class="min"> C'EST SIMPLE AVEC SPEEDHOUSING</p>
                    <div class="col-md-2" style="margin-top: 35px">
                        <img  src="{% static "img/home-1.png" %}">
                    </div>
                    <div class="col-md-2" style="margin-top: 30px">
                        <img  src="{% static "img/home-2.png" %}">
                    </div>
                    <div class="col-md-2" style="margin-top: 5px" >
                        <img  src="{% static "img/home-3.png" %}">
                    </div>
                    <div class="col-md-2" style="margin-top: 23px; padding-left: 10px">
                        <img  src="{% static "img/home-4.png" %}">
                    </div>
                    <div class="col-md-2" style="margin-top: 45px; margin-right:20px; margin-left: -25px">
                        <img  src="{% static "img/home-5.1.png" %}">
                    </div>
                    <div class="col-md-2" style="margin-top: 22px; padding-right: 15px">
                        <img  src="{% static "img/home-6.png" %}">
                    </div>
                </div>
                <div class="row">
                    <p class="pincipale">ACHETER UN BIEN</p>
                    <p class="min"> SPEEDHOUSING VOUS FACILITE LA VIE</p>
                    <div class="col-md-2"  >
                        <img  src="{% static "img/hom1.png" %}" >
                    </div>
                     <div class="col-md-2 home-om2" style="margin-top: 18px">
                        <img  src="{% static "img/home_2.png" %}">
                    </div>
                    <div class="col-md-2" style="margin-top: 15px;margin-left: -20px">
                        <img  src="{% static "img/home_3.png" %}">
                    </div>
                    <div class="col-md-2" style="margin-left: -8px;margin-top: 20px;" >
                        <img  src="{% static "img/home_4.1.png" %}">
                    </div>
                    <div class="col-md-2" style="margin-top: 9px;margin-left: 4px;">
                        <img  src="{% static "img/home_5.png" %}">
                    </div>
                    <div class="col-md-2" style="margin-top: 5px;margin-left: -9px">
                        <img  src="{% static "img/home_6.png" %}">
                    </div>
                </div>
            </div>
        </div>
       <div class="bottom" >
            <div class ="container no_annonce_hide">
                <p style="font-size: 23px"> Nos dernières annonces</p>
                <div class="row" style="text-transform:none !important">
                  {% for bien in biens_all %}
                    <div class="col-md-4" style="margin-bottom:19px; padding-right : 6px;">
                      <a href="biens/annonces/{{bien.nb_mandat}}" >
                        <div class="img-responsive img ratio-4-3" style="position: relative;background-image:url('{{ bien.get_photo_url }}')">
                          <div class="tag">
                            {% if request.user.client %}
                                            {% include 'biens/includes/favori_client_form.html' with bien=bien %}
                            {% elif request.user.agent %}
                                    {% include 'biens/includes/favori_agent_form.html' with bien=bien %}
                                            {% else %}
                                             <div style="float: left;margin-top: 18px;margin-right: 5px">
                                                <a href="{% url 'new' %}" >
                                                    <img style="background:white;border-radius:50%" src="{% static "img/vide.png" %}" title="Ajouter dans mes favoris"  ></a>
                                                </div>
                                          {% endif %}
                        </div></div>


                      </a>
                      <a href="biens/annonces/{{bien.nb_mandat}}" style="text-decoration:none;color:black">

                        <div class="cell" style="background-color: #eeeeee;margin-right: 0px !important;margin-left: 0px !important;padding-bottom:0px !important; text-transform:normal !important" >
                            <div class="row row-no-margin" style="margin-left:0px">
                                <div class="col-md-9 col-md-offset-0"  style="padding-left: 0px !important; padding-right: 0px !important;">
                                    <div style="font-size: 15px; text-align:left !important" >{{ bien.get_type }} {{ bien.surface }} m² </div>

                                    <div  class="text-muted" style="font-size: 15px;padding-bottom: 2px;margin-top: -1px; text-align:left !important;text-transform:normal !important">
                                      {{ bien.code_postal}} {{ bien.ville |title }}
                                    </div>
                                </div>
                                <div class="col-md-3 col-md-offset-0 col-sm-offset-9 col-xs-offset-8 " style="padding-right:0px!important">

                                {% if bien.type == "t" or bien.type == "i" or bien.type == "b" or bien.type == "p" %}
                                <div style="font-size: 15px;margin-left:-0px;display:inline;">
                                         {{ bien.prix|price_format  }} €
                                   </div>
                                {%else%}
                                <div style="font-size: 15px;margin-left:-0px;display:inline;">
                                        {{ bien.prix|price_format  }} €
                                  </div>
                                  {% endif %}
                                </div>

                                <div class="col-md-12">
                                    <div class="hidden-xs row">
                                      {% if bien.type == "t" or bien.type == "i" or bien.type == "b" or bien.type == "p" %}
                                      <div class="col-md-2 col-sm-1 label label-success" style="font-size: 12px; margin-right: 2px !important ;margin-left : 0px !important; border-radius: 0px !important;margin-bottom: 12px;">
                                          {{ bien.surface }} m²
                                      </div>

                                      {%else%}
                                      <div class="col-md-2 col-sm-1 label label-success" style="font-size: 12px; margin-right: 2px !important ;margin-left : 0px !important; border-radius: 0px !important">
                                            {{ bien.surface }} m²
                                        </div>
                                        &nbsp;
                                        {% endif %}
                                        {% if bien.type == "t" or bien.type == "i" or bien.type == "b" or bien.type == "p" %}


                                        {%else%}

                                        <div class="col-md-2 col-sm-2 label label-success to_hide" style="font-size: 12px;margin-right: 2px !important; text-align: center;border-radius: 0px !important">
                                            {% if  bien.pieces == 0  %}

                                                {{ bien.pieces }} pièce
                                            {% elif  bien.pieces == 1 %}
                                                {{ bien.pieces }} pièce
                                            {% else %}
                                                {{ bien.pieces }} pièces
                                            {% endif %}
                                        </div>
                                        &nbsp;
                                           {% if  bien.chambres == 0  %}
                                           <div class="col-md-2 col-sm-2 label label-success to_hide" style="font-size: 12px;margin-right: 2px !important; text-align: center; border-radius: 0px !important">

                                                {{ bien.chambres }} chbre
                                            {% elif   bien.chambres ==  1 %}
                                            <div class="col-md-2 col-sm-2 label label-success to_hide " style="font-size: 12px;margin-right: 2px !important; text-align: center; border-radius: 0px !important">

                                                {{ bien.chambres }} chbre
                                            {% else %}
                                            <div class="col-md-2 col-sm-2 label label-success to_hide" style="font-size: 12px;padding-right: 0px;padding-left: 0px;margin-right: 2px !important; text-align: center; border-radius: 0px !important">

                                                {{ bien.chambres }} chbres
                                            {% endif %}
                                        </div>
                                        {% endif %}

                                    </div>
                                    <div class="visible-xs">
                                      <div class="row" style="margin-bottom:10px">

                                        <div class="col-xs-3 label label-success" style="margin-right:5px" >
                                                <span class="cs-font-size-xs" style="font-size: 12px;text-align: center; ">
                                                    {{ bien.surface }} m²
                                                </span>
                                            </div>
                                            {% if bien.type == "t" or bien.type == "i" or bien.type == "b" or bien.type == "p" %}
                                            {%else%}
                                            <div class="col-xs-3 col-xs-offset-0 label label-success" style="margin-bottom:10px; margin-right:5px">

                                                <span class="cs-font-size-xs" style="font-size: 12px;text-align: center; width :100%">
                                                    {% if  bien.pieces == 0  %}
                                                        {{ bien.pieces }} pièce
                                                    {% elif  bien.pieces == 1 %}
                                                        {{ bien.pieces }} pièce
                                                    {% else %}
                                                        {{ bien.pieces }} pièces
                                                    {% endif %}
                                                </span>
                                            </div>
                                            <div class="col-xs-3  label label-success" style="margin-bottom:10px;">
                                                <span class="cs-font-size-xs" style="font-size: 12px;text-align: center">
                                                   {% if  bien.chambres == 0  %}
                                                        {{ bien.chambres }} chbre
                                                    {% elif   bien.chambres ==  1 %}
                                                        {{ bien.chambres }} chbre
                                                    {% else %}
                                                        {{ bien.chambres }} chbres
                                                    {% endif %}
                                                </span>
                                            </div>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>


                            </div>


                    </div>

                    {% endfor %}
                  </a>

                </div>

            </div>
        </div>

        {% endblock container %}
        {% block footer %}
        <nav class="navbar-sh-footer" style="height: 80px">
            <div class="container top_space" >
               <div class="row">
                   <div class="col-md-12 col-sm-12 col-xs-12">
                       <div style="text-align: center">
                         <a  style="text-align: center"href="https://www.facebook.com/Speedhousing-237448830149169/" target="_blank" ><img  src="{% static "img/fc.png" %}"> </a>
                         <a  style="text-align: center"href="https://www.youtube.com/channel/UCtWRdirb8Ge4MfLLYxfVjXw/featured?disable_polymer=1" style ="margin-left: -22px" target="_blank" ><img style=" height: 27px;" src="{% static "img/youtube.png" %}"></a>
                           <a  style="text-align: center" href="https://www.linkedin.com/company/speedhousing/" style ="margin-left: -22px" target="_blank" > <img  src="{% static "img/in.png" %}"> </a></div>

                </div>
                </div>
                <div class="row">

                    <div class="col-md-12 col-sm-12 col-xs-12" id="footer-mention" >
                        <p><a href="{% url 'legal' %}" style="color: #4abac0">MENTIONS LEGALES - CGU - CGV</a> - <a href="{% url 'support:contact' %}" style="color: #4abac0">NOUS CONTACTER</a></p>

                    </div>
                </div>
            </div>
        </nav>
        <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128113231-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-128113231-1');
      </script>


        {% endblock footer %}




        <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
            <script src="{% static "js/bootstrap.min.js" %}"></script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>

            {% block script %}
            <script>


            int i = 0;
            {% for bien in biens_all %}
            i++;
            {%endfor%}
            if(i>0){
              $(".no_annonce_hide").hide();
            }else{
              $(".no_annonce_hide").show();

            }

                      $(".notifications li .close").on('click', function(){
                          var elem = this;
                          $.ajax({
                              url : "{% url 'utilisateurs:notification-read' %}" + $(this).attr('data-id') + "/read/",
                              success : function(code_html, statut){
                                  $(elem).parent().remove();
                              }
                          });
                      });


            </script>
            {% endblock script %}

            {% if messages %}
            <script>
                $(function(){
                    window.setTimeout(function(){
                        $('.messages').fadeTo(500, 0).slideUp(500, function(){
                            $(this).remove();
                        });
                    }, 10000);
                });
            </script>

            {% endif %}
</body>
</html>
