{% extends "base.html" %}
{% load static %}
{% block container %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p style="text-align: justify" >
                <span style="font-weight: bold; ">MENTIONS LEGALES</span><br>

<p style="text-align: justify">Les Services de www.speedhousing.fr sont exploités par la société SPEEDHOUSING SAS au capital de quinze mille cent cinquante deux euros (15 152) euros, immatriculée au registre du commerce et des sociétés de Bobigny sous le numéro 823 244 512, dont le siège social est situé au 17 bis rue Emile Augier, 93310 Le Pré-Saint-Gervais.</p> <br>

TVA Intracommunautaire : FR58823244512<br><br>

Directrice de la publication : Madame Neda TABAN, Présidente. <br><br>
Contact : contacts@speedhousing.fr ou 01 76 50 63 63.<br><br>
Hébergeur des Services : (OVH), SAS au capital de 10 069 020 Euros dont le siège social est situé au 2 rue Kellermann, 59100 Roubaix, immatriculée sous le numéro 424 761 419 00045 R.C.S Lille Métropole.
<br><br><br>
                <span style="font-weight: bold">CONDITIONS GENERALES D’UTILISATION ET DE VENTE</span> <br><br><br>

                <span style="font-weight: bold">DEFINITIONS :</span> <br><br>
<ul>
    <li style="text-align: justify">Conditions générales d’utilisation : ensemble de règles d’utilisation auxquelles tout utilisateur du site internet www.speedhousing.fr est soumis (« les CGU »).</li><br>
    <li style="text-align: justify">Conditions générales de vente : ensemble de règles de vente auxquelles tout utilisateur du site internet www.speedhousing.fr est soumis (« les CGV »).</li> <br>
    <li style="text-align: justify">« Utilisateur » : toute personne utilisant le site internet www.speedhousing.fr et/ou ayant un compte personnel ou Professionnel.</li><br>
    <li style="text-align: justify">« Mandataire » : Speedhousing SAS est mandataire de toutes les annonces publiées sur le site www.speedhousing.fr.</li><br>
    <li style="text-align: justify">« Délégué » ou « Professionnel » : Professionnel de l’immobilier indépendant étant en réseau avec Speedhousing disposant d’un compte Professionnel sur le Site www.speedhousing.fr. Les délégués sont des agents immobiliers indépendants de Speedhousing. Ils disposent tous de leur propre carte professionnelle ou attestation de collaborateur leur permettant d’exercer et disposent de leur propre assurance responsabilité civile professionnelle.</li><br>
    <li style="text-align: justify">« Particulier Vendeur » : toute personne ayant un compte personnel sur le Site www.speedhousing.fr dans le but de publier une annonce immobilière afin de le vendre.</li><br>
    <li style="text-align: justify">« Particulier Acquéreur » : toute personne ayant un compte personnel sur le Site www.speedhousing.fr ou toute personne n’ayant pas de compte personnel sur le Site www.speedhousing.fr et étant en contact avec un professionnel en réseau avec Speedhousing dans le but d’acquérir un bien par les services de Speedhousing.</li ><br>
    <li style="text-align: justify">« Mandant » : Lorsque le Particulier Vendeur publie une annonce sur le Site www.speedhousing.fr il sera qualifié de mandant en nous confiant un mandat simple.</li><br>
            </ul>
<br><br>





            <span style="font-weight: bold">CONDITIONS GENERALES D’UTILISATION</span> <br><br><br>

            <span style="font-weight: bold">1. APPLICATION</span><br><br>

<p style="text-align: justify">En se rendant sur le Site internet www.speedhousing.fr, l’Utilisateur accepte d’être lié par les CGU et CGV. </p>
<p style="text-align: justify">Les visiteurs et Utilisateurs qui procèdent sur le site www.speedhousing.fr sont tous tenus par les présentes CGU et CGV.</p>
<p style="text-align: justify">Speedhousing se réserve le droit de modifier en tout temps le site internet, les services Speedhousing, les CGU et CGV.</p>
            <p style="text-align: justify">Speedhousing informe les Utilisateurs de toute modification des CGU et CGV.</p> <br><br>

            <span style="font-weight: bold">2. DECLARATION D’EXACTITUDE D’INFORMATIONS</span><br><br>

<p style="text-align: justify">Les Utilisateurs déclarent et garantissent que toutes les informations fournies lors de leurs inscriptions, de la mise en ligne d’une annonce ou de l’utilisation de leur espace personnel ou professionnel sont exactes et à jour.</p>
<p style="text-align: justify">Les Utilisateurs doivent en tout temps s’assurer que les données personnelles et/ou professionnelles (prénoms, noms, adresses, raison sociale, numéro de téléphone, adresse mail, numéros de carte professionnelle et/ou numéro d’attestation de collaborateur, coordonnées de l’assurance responsabilité civile professionnelle, les informations d’une annonce à la vente, les données de leurs espaces personnels (Particulier Vendeur/ Particulier Acheteur) ou professionnels sont exactes et à jour.</p>
<p style="text-align: justify">En cas de changement des informations personnelles et/ou professionnelles, les informations d’une annonce à la vente, les données de leurs espaces personnels (Particulier Vendeur/Particulier Acheteur) ou Professionnels, les Utilisateurs s’engagent à en informer Speedhousing et de les modifier sans délai. <br>
Lors de la mise à jour d’une information, Speedhousing, peut conserver une copie de leurs informations initiales.</p>  <br><br>

            <span style="font-weight: bold">3. CAPACITE D’EXERCICE DE DROIT CIVIL</span> <br><br>


<p>Afin d’utiliser les services Speedhousing vous devez requérir la majorité légale, ainsi que la capacité de discernement et d’exercice des droits civils.</p>
            <p>Un Utilisateur peut représenter : </p>
&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;Un mineur <br>
&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;Une personne privée ayant la capacité de discernement <br>
&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;Une personne privée en l’exercice des droits civils <br>
&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;L’Utilisateur est responsable des actions, des écrits, et de l’utilisation faite de son compte par son représentant.<br><br>

Le représentant peut également être tenu pour responsable en cas d’utilisation anormale du site internet ou d’une exploitation illicite des données.<br><br><br>

<span style="font-weight: bold">4. COLLECTE DE DONNEES</span> <br><br>

            <p>Numéro de déclaration CNIL : 2165529 v 0</p>
<p style="text-align: justify">Toutes les informations à caractère personnel susceptibles d’être recueillies via le Site ont pour objet d’être utilisées par l’Editeur dans le cadre de la gestion des relations avec vous et le traitement de vos commandes de prestations. </p>
<p style="text-align: justify">Soucieux du respect de la vie privée, www.speedhousing.fr, en sa qualité de Site au sein de laquelle transitent des données à caractère personnel, respecte la vie privée des Utilisateurs du Site et se conforme aux dispositions de la Loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, dans sa version en vigueur, ainsi qu’aux recommandations émises par la Commission nationale de l’informatique et des libertés (CNIL).</p> <br>

<p style="text-align: justify">Vous disposez d'un droit d'accès, d'interrogation, de rectification, de modification, de suppression ou d’opposition aux informations qui vous concernent. Cette faculté est exerçable à n’importe quel moment auprès de l’Editeur, accompagnée d’une copie d’un titre d’identité signée, via l’onglet « Formulaire de contact » figurant sur le Site ou directement par courrier à l’adresse suivante : 17 bis rue Emile Augier, 93310 Le Pré-Saint-Gervais, ou par courriel (contacts@speedhousing.fr).</p>
<p>La suppression du compte utilisateur n’a pas d’effet sur :</p>
&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;Les éventuelles offres de vente<br>
&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;Les offres de ventes <br>
&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;Les ventes en cours <br><br>


<p style="text-align: justify">En cas de suppression de son compte, l’Utilisateur continuera néanmoins de recevoir les communications liées au service Speedhousing par email concernant les suivis des dossiers.</p>
<p style="text-align: justify">L’Editeur répondra à votre demande dans un délai maximal de deux (2) mois à compter de sa réception, sous réserve qu’elle soit suffisamment précise et comporte tous les éléments nécessaires pour répondre à votre demande, faute de quoi l’Editeur vous invitera à la compléter.</p>
<p style="text-align: justify">Les informations recueillies pourront faire l’objet d’une communication à des tiers liés contractuellement à l'Editeur dans le cadre de la sous-traitance de l'exécution de tâches nécessaires à la gestion des comptes des Utilisateurs du Site et sans qu’une autorisation préalable de la part de l’Utilisateur soit requise. Vous pouvez faire opposition à ce transfert en adressant votre demande auprès du contact du Site mentionné ci-dessus.</p> <br><br>

<span style="font-weight: bold">5. INFORMATION TECHNIQUE</span> <br><br>


<p style="text-align: justify">Il vous est rappelé que le secret des correspondances n’est pas garanti sur le réseau Internet. Il vous appartient donc de prendre toutes les mesures adéquates en vue de sécuriser et de protéger au maximum vos logiciels et/ou données afin de vous prémunir contre tout risque de contamination par d’éventuels virus.</p><br><br>

<span style="font-weight: bold">6. COOKIES</span> <br><br>

<p style="text-align: justify">Les cookies sont des fichiers textes, souvent cryptés, stockés dans votre navigateur. Ils sont créés lorsque le navigateur d’un utilisateur charge un site internet donné : le site envoie des informations au navigateur, qui créé alors un fichier texte. Chaque fois que l’utilisateur revient sur le même site, le navigateur récupère ce fichier et l’envoie au serveur du site internet. Il est possible de distinguer deux types de cookies, qui n’ont pas les mêmes finalités : les cookies techniques et les cookies publicitaires.</p>

<p style="text-align: justify">Les cookies techniques sont utilisés tout au long de votre navigation, afin de la faciliter et d’exécuter certaines fonctions. Un cookie technique peut par exemple être utilisé pour mémoriser les réponses renseignées dans un formulaire ou encore les préférences de l’utilisateur s’agissant de la langue ou de la présentation d’un site internet, lorsque de telles options sont disponibles.</p>

<p style="text-align: justify" >Les cookies publicitaires peuvent être créés non seulement par le site internet sur lequel l’utilisateur navigue, mais également par d’autres sites internet diffusant des publicités, annonces, widgets ou autres éléments sur la page affichée. Ces cookies peuvent notamment être utilisés pour effectuer de la publicité ciblée, c’est-à-dire de la publicité déterminée en fonction de la navigation de l’Utilisateur.</p>

<p style="text-align: justify" >Speedhousing utilise des cookies techniques. Ceux-ci sont stockés dans votre navigateur pour une période qui ne peut excéder six mois.</p>

<p style="text-align: justify">Speedhousing n’utilise pas de cookies publicitaires. Toutefois, si Speedhousing devait en utiliser, il vous en informerait au préalable et l’Utilisateur aurait la possibilité le cas échéant de désactiver ces cookies.</p>

<p style="text-align: justify">Speedhousing utilise ou pourra utiliser Google Analytics qui est un outil statistique d’analyse d’audience qui génère un cookie permettant de mesurer le nombre de visites sur le site www.speedhousing.fr, le nombre de pages vues et l’activité des visiteurs. L’adresse IP de l’Utilisateur peut également être collectée pour déterminer la ville depuis laquelle il se connecte.</p>

<p style="text-align: justify">Speedhousing rappelle à toutes fins utiles que l’Utilisateur peut s’opposer au dépôt de cookies en configurant son navigateur. Un tel refus pourrait toutefois empêcher le bon fonctionnement du site.</p><br><br>


<span style="font-weight: bold">7. LIENS HYPERTEXTES</span> <br><br>

<p style="text-align: justify">Le Site internet www.speedhousing.fr peut contenir des liens hypertextes vers d’autres sites présents sur le réseau internet. Les liens vers ces autres ressources font quitter l’Utilisateur du Site internet www.speedhousing.fr.</p>
<p style="text-align: justify">Toute création de liens hypertextes vers le Site www.speedhousing.fr est soumise à l’accord expresse et préalable de la Directrice de la publication. Toute création de liens hypertextes à partir du Site www.speedhousing.fr et à destination d’autres sites ne sauraient engager la responsabilité de l’Editeur.</p>
<p style="text-align: justify">Speedhousing ne pourra en aucun cas être tenu pour responsable de la disponibilité technique de sites internet ou d’applications mobiles exploités par des tiers (y compris ses éventuels partenaires) auxquels l’Utilisateur accéderait par l'intermédiaire du site.</p>

<p style="text-align: justify">Speedhousing n'endosse aucune responsabilité au titre des contenus, publicités, produits et/ou services disponibles sur de tels sites et applications mobiles tiers dont il est rappelé qu’ils sont régis par leurs propres conditions d’utilisation.</p>

<p style="text-align: justify">Speedhousing n'est pas non plus responsable des transactions intervenues entre l’Utilisateur et un quelconque annonceur, professionnel ou commerçant (y compris ses éventuels partenaires) vers lequel l’Utilisateur serait orienté par l'intermédiaire du Site et ne saurait en aucun cas être partie à quelques litiges éventuels que ce soit avec ces tiers concernant notamment la livraison de produits et/ou services, les garanties, déclarations et autres obligations quelconques auxquelles ces tiers sont tenus.</p><br><br>


            <span style="font-weight: bold">8. DROITS D’AUTEURS</span><br><br>

<p style="text-align: justify">La représentation ou la reproduction, par quelque support ou procédé que ce soit, de manière intégrale ou partielle, de tout élément constitutif du Site www.speedhousing.fr (la structure générale du site internet, les pages, les données, les textes, graphiques, logos, slogans, images, sons et vidéos etc..) est prohibé et constitue une contrefaçon dès lors que Speedhousing n’a pas donné son consentement express et préalable.</p>
<p style="text-align: justify">Tous les droits de propriété intellectuelle portant sur tous programmes informatiques, ainsi que toutes les mises à jour, nouvelles versions et copies desdits programmes mis à disposition des Utilisateurs au travers du Site sont et resteront la propriété de Speedhousing, aucun titre de propriété y afférent n’est transféré aux Utilisateurs.</p><br> <br>

<span style="font-weight: bold">9. NOTIFICATIONS </span><br><br>


<p style="text-align: justify">En s’inscrivant sur le site www.speedhousing.fr, l’Utilisateur a la possibilité d’accepter ou de refuser la réception de communications provenant de Speedhousing et de ses Délégués via les notifications dans son espace utilisateur et/ou par les biais suivants : emails, SMS, courriers, facebook, ect. L’Utilisateur peut modifier ses choix en activant ou désactivant ces notifications, partiellement ou totalement.</p>
            <p>En utilisant les services Speedhousing, l’Utilisateur reçoit deux sortes de communications :</p>
&nbsp;&nbsp;&nbsp;&nbsp;1)&nbsp;&nbsp;&nbsp;&nbsp;Les notifications liées à la vente et l'achat de biens<br>
&nbsp;&nbsp;&nbsp;&nbsp;2)&nbsp;&nbsp;&nbsp;&nbsp;Les notifications liées à l’actualité.<br><br>

            <p style="text-align: justify">La transaction immobilière est le cœur de métier du site Speedhousing. La désactivation des notifications liées à la vente et/ou à l’achat de biens empêche le bon fonctionnement du site et la réalisation de la prestation du service Speedhousing.  C’est pourquoi l’Utilisateur ne peut s’inscrire sans l’acceptation de la réception des notifications indispensables aux différentes fonctionnalités du site. </p>
            <p style="text-align: justify">La désactivation des notifications liées à la prestation de Speedhousing entraine la désactivation du compte Utilisateur. </p>
<p style="text-align: justify">Le refus ou la désactivation des notifications publicitaires liées à l’actualité ne provoque pas de dysfonctionnement et n’empêche pas la réalisation de la prestation Speedhousing.</p><br><br>

            <span style="font-weight: bold">10. COMPTE UTILISATEUR</span> (Particulier Vendeur/Particulier Acheteur/Professionnel)<br><br>

<p style="text-align: justify">L’Utilisateur est responsable des activités menées depuis son compte, de la confidentialité des informations d’accès à son compte et s’engage à informer Speedhousing sans délai s’il soupçonne que son compte pourrait avoir été compromis.</p>
<p style="text-align: justify">L’Utilisateur s’engage à utiliser le Site Speedhousing avec une bonne intention et à respecter les conditions générales d’utilisations et de ventes.</p>
            <p style="text-align: justify">Toute activité et/ou agissement qui ne respecte pas les règles et vont à l’encontre des valeurs de Speedhousing sont prohibés.</p>
<p style="text-align: justify">Speedhousing, se réserve le droit, sans préavis, de limiter, de refuser l’accès à un compte, de fermer un compte, de retirer ou d’éditer du contenu si l’utilisateur enfreint nos règles, les lois applicables, les conditions d’utilisation et de vente, ou tous autres termes, conditions, lignes directives, politique ou valeur de Speedhousing.</p> <br><br>


<span style="font-weight: bold">CONDITIONS GENERALES DE VENTE </span> <br><br><br>

<span style="font-weight: bold">1. OBJET </span> <br><br>

            <p style="text-align: justify">Le Site internet www.speedhousing.fr a pour but l’intermédiation en matière de vente de biens immobiliers. </p>
<p style="text-align: justify">Speedhousing est un Site innovant, qui propose aux particuliers de vendre et/ou d’acquérir un bien dans un délai record grâce à la mise en place d’un multiple listing service adapté au marché français.</p><br> <br>

<span style="font-weight: bold">2. PARTICULIER VENDEUR </span> <br><br>

            <p>2.1 Fonctionnement du service pour le Particulier Vendeur</p>
<p style="text-align: justify">En publiant une annonce sur le Site www.speedhousing.fr, vous garantissez que les renseignements fournis sont exacts et ne sont entachés d'aucune erreur ou omission à caractère trompeur ou fallacieux.  Si les renseignements portés dans l'annonce se révèlent inexacts, Speedhousing ne peut être tenu responsable.</p>
<p style="text-align: justify">En cas de changement de vos coordonnées ou des éléments concernant la vente de vos biens, vous vous engagez à en informer Speedhousing sans délai, en modifiant les éléments dans votre espace personnel.</p>
            <p><span style="font-weight: bold;text-decoration: underline">Si vous joignez des photos à votre annonce, nous vous informons que nous ne sommes pas en mesure de publier</span> <span style="font-weight: bold">:</span></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;Les photos de qualité insuffisante<br>
&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;Les photos présentant des personnes<br>
&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;Les photos-montage (plusieurs photos en une)<br>
&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;Les dessins<br>
&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;Les photos provenant d'un magazine, d'une plaquette touristique ou commerciale, d'une carte postale</p>

<p style="text-align: justify">Le prix recommandé lors de votre mise en ligne d’annonce est fondé sur les éléments que vous avez vous-même fournis (adresse, superficie, emplacement, descriptif, plans, photos, documents d'urbanisme, etc..), qui en aucun cas ne peut se substituer à une expertise avec déplacement d'un expert sur les lieux. C’est pourquoi, vous restez libre de fixer le prix de vos biens.</p>
<p style="text-align: justify">Lorsque le Particulier Vendeur publie une annonce sur le Site www.speedhousing.fr, dès l’acceptation de la mise en ligne de l’annonce, tous les Professionnels de cette zone adhérents au réseau Speedhousing sont alertés automatiquement.</p>
<p style="text-align: justify">Ces Professionnels pourront alors présenter et faire visiter les biens chacun respectivement à leurs clients potentiellement intéressés par ces biens.</p>
<p>Ce système innovant a pour objectif d’accélérer les processus de vente et d’achat d’un bien immobilier. </p>
<p style="text-align: justify">Par cette mise en place Speedhousing fait de son possible afin que vous puissiez vendre et/ou acquérir un bien immobilier le plus rapidement possible.</p>
<p style="text-align: justify">La transaction immobilière étant un métier règlementé, Speedhousing est tenu de respecter la loi Hoguet. En publiant une annonce sur le site www.speedhousing.fr le Particulier Vendeur, qualifié de « Mandant » est conscient qu’il confie « un mandat simple » par signature électronique à Speedhousing qui sera qualifié de « Mandataire » et qu’il autorise une délégation de mandat générale à tous les Professionnels adhérant au réseau Speedhousing qui sont qualifiés de « Délégués ». </p><br>

            <p>2.2. Durée du mandat : </p>
<p style="text-align: justify">Le mandat est consenti sans exclusivité pour une période de douze mois (12 mois) à compter de la date de mise en ligne de l’annonce. Chacun des parties pourra résilier le mandat, à tout moment, en supprimant l’annonce sur le site www.speedhousing.fr, la résiliation prendra effet sous quinzaine.</p><br>

<p>2.3. Droit de rétractation :</p>
<p style="text-align: justify">Le Particulier Vendeur qualifié de « Mandant » dispose d’un délai de réflexion de 14 jours pendant lequel il peut renoncer au mandat (art. L.221-18 du code de la consommation). Ce droit de rétractation commence à compter de la date de signature du mandat qui est signé électroniquement par le mandant via le site www.speedhousing.fr. </p>
<p>Pour annuler le mandat, le Particulier Vendeur peut simplement supprimer son annonce dans son espace Utilisateur durant cette période. </p><br>

<p>2.4. Obligations du Mandant :</p>
            <ul>
              <li style="text-align: justify">Le mandant doit s’assurer de disposer de l’autorisation de donner mandat. En cas de non-respect de cette obligation, la responsabilité de Speedhousing ne peut être retenue.</li> <br>

                <li style="text-align: justify">Répondre, le cas échéant, à toute demande de tiers relatif à l’étendue du pouvoir du Mandataire tel que prévu à l’article 1158 du code civil.</li><br>

   <li style="text-align: justify">Assurer au mandataire les moyens de visiter et de faire visiter les biens mis en ligne sur le site www.speedhousing.fr pendant le cours du mandat. Les prises de rendez-vous devisites des biens s’effectuent via l’agenda commun sur le site wwww.speedhousing.fr. Le mandant sélectionne en ligne les créneaux de visites pour lesquels il peut se rendre disponible afin que les délégués ou le mandataire lui-même puissent prendre rendez-vous sur les créneaux qu’il a sélectionné. Le mandant s’engage à ne pas confier les clés des biens aux délégués et à être présent pendant les visites. Si le mandant ne respecte pas cet engagement, les risques de vols, de squatte, ainsi que des fraudes civiles et pénale restent entièrement à sa charge et relèvent de sa responsabilité.</li> <br>

<li>Fournir au Mandataire toutes justifications de propriété des biens à vendre ainsi que tous documents nécessaires au dossier.</li><br>

<li>Signaler immédiatement au Mandataire toutes modifications juridiques ou matérielles pouvant modifier le dossier de vente via son espace personnel.</li><br>

                <li style="text-align: justify">Signaler la vente de ses biens via son espace personnel sur le site wwww.speedhousing.fr lorsqu’il accepte une offre, afin que son annonce soit suspendue, et que les formalités soient envoyées au notaire qu’il aura désigné lors de la mise en ligne de son annonce.</li>
            </ul><br>

            <p>2.5. Clause pénale relative aux obligations du Mandant :</p>
            <ul>
                <li style="text-align: justify">Le Particulier Vendeur s’engage à signer au prix, charges et conditions convenus, tout avant-contrat de vente (promesse de vente) éventuellement assorti d’une demande de prêt immobilier, avec tout acquéreur présenté par le Mandataire et ses Délégués. Néanmoins, il s’interdit de signer tout avant-contrat de vente (promesse de vente), sous seing privé avec le Mandataire ou ses Délégués. L’avant-contrat de vente (promesse de vente) est obligatoirement signé chez le notaire qu’il aura désigné lors de la mise en ligne de son annonce sur wwww.speedhousing.fr, le Particulier Acquéreur pourra également se faire représenter par son propre notaire. </li><br>

<li style="text-align: justify">Le Mandant garde toute liberté de procéder lui-même à la recherche d'un acquéreur.<br>
    Toutefois, pendant la durée du mandat, en cas de vente réalisée par lui-même ou par un autre cabinet sans l’intermédiaire de Speedhousing, il s’engage à en informer immédiatement le Mandataire en lui notifiant via son espace personnel sur wwww.speedhousing.fr. Cette notification mettra fin au mandat. Elle évitera au Mandataire et aux Délégués d’engager la vente avec un autre acquéreur et épargnera au Mandant les poursuites pouvant être éventuellement exercées par cet acquéreur.</li><br>

                <li style="text-align: justify">Le Mandant s'interdit, pendant la durée du mandat et pendant une période de 12 mois suivant son expiration de traiter directement ou indirectement avec un acquéreur ayant été présenté par le Mandataire et/ou ses Délégués ayant visité les biens en sa présence.</li><br>

                <li>Le Mandant s’interdit également de signer un mandat en direct avec les Délégués et leurs cabinets lui étant présenté par l’intermédiaire de Speedhousing.</li><br>
</ul>
<p style="text-align: justify">En cas de non-respect des obligations énoncées ci-avant dans le paragraphe, le Mandant s’engage expressément à verser au Mandataire, en vertu de l’article 1231-5 du code civil, une indemnité compensatrice forfaitaire égale au montant de la rémunération.</p>
                <p style="text-align: justify"><span style="font-weight: bold;text-decoration: underline">Pour rappel, vous êtes tenu par la première offre d'achat au prix de l'annonce :</span> en refusant cette première offre au prix, vous vous exposez à des poursuites du candidat acquéreur évincé, conformément à l'article 1583 du code civil. </p>
<p>Speedhousing se réserve le droit de refuser et/ou de supprimer toute annonce qui ne respecte pas les valeurs du Site.</p> <br><br>

            <span style="font-weight: bold">3. PARTICULIER ACQUEREUR</span><br><br>

<p>3.1. Fonctionnement du service pour le Particulier Acquéreur :</p>
<p style="text-align: justify">Le Particulier Acquéreur, peut regarder les biens directement sur le Site www.speedhousing.fr et effectuer « une demande de visite » qui sera transmise au Professionnel « Délégué » le plus proche du bien, qui se chargera de lui faire visiter le bien.</p>
<p style="text-align: justify">Lors de votre inscription sur le Site www.speedhousing.fr vous vous engagez à fournir les informations exactes concernant votre identité, vous vous engagez également à tenir informé Speedhousing, sans délai de tout changement en modifiant les éléments dans votre espace personnel.</p>
<p style="text-align: justify">Speedhousing n’étant pas un site de particulier à particulier, vous ne pouvez pas visiter les biens directement avec les propriétaires des biens.</p>
<p style="text-align: justify">Néanmoins, Speedhousing permet aux Professionnels d’avoir un portefeuille commun qui est beaucoup plus dense. Ils pourront grâce à ce système, élargir leur travail de service, vous réalisez un travail de recherche afin de vous sélectionner d’autres biens sur le Site www.speedhousing.fr dans le but de vous les proposer, de vous les faire visiter, et de négocier pour vous. </p>
<ul>
<li>Le Particulier Acquéreur s’engage à déclarer l’achat des biens par l’intermédiaire de Speedhousing dans son espace personnel sur le site www.speedhousing.fr. </li><br>

<li style="text-align: justify">Le Particulier Acquéreur s’interdit de signer l’avant-contrat de vente (promesse de vente), sous seing privé avec Speedhousing et/ou un Professionnel « Délégué ». La signature de l’avant-contrat de vente (promesse de vente) se fait obligatoirement chez le notaire désigné par le Particulier Vendeur lors de la mise en ligne de son annonce sur www.speedhousing.fr. Le Particulier Acquéreur peut néanmoins, être représenté par son notaire le jour de la signature de l’avant-contrat de vente (Promesse de vente) et de la signature de l’acte authentique. </li><br>

<li style="text-align: justify">Le Particulier Acquéreur s'interdit, pendant la durée du mandat et pendant la période de 12 mois suivant son expiration de traiter directement ou indirectement avec un Particulier Vendeur ayant été présenté par le mandataire et/ou ses délégués ayant visité les biens avec lui afin d’acquérir les biens.</li><br>

<li>Le Particulier Acquéreur s’interdit également d’acquérir les biens en direct avec les délégués et leurs cabinets lui étant présenté par l’intermédiaire de Speedhousing.</li><br>
            </ul>

<p>En cas de non-respect des obligations énoncées ci-avant, le Particulier Acquéreur s’engage à verser une indemnité compensatrice forfaitaire égale au montant de la rémunération. <p></p> <br>

            <p>3.2. Dépôt de garantie :</p>

<p style="text-align: justify">En vue de garantir la bonne exécution des ventes, l'acquéreur devra, à l'appui de tout avant-contrat de vente (promesse de vente), effectuer un versement d'un montant maximum de 10 % du prix total de la vente, à l'ordre du séquestre du notaire désigné par le Particulier Vendeur lors de la mise en ligne de son annonce sur le site www.speedhousing.fr .</p>

<p>Les séquestres des notaires désignés par le Particulier Vendeur dispose de leur propre garantie, Speedhousing ne détient pas de fonds.</p> <br>

            <p>3.3. Droit de rétractation :</p>
<p style="text-align: justify">Le Particulier Acquéreur lors de l’achat d’un bien dispose d’un délai de réflexion de 10 jours, ce droit de rétractation commence à compter du lendemain de la signature de l’avant-contrat de vente chez le notaire.</p><br> <br>

  <span style="font-weight: bold">4. PROFESSIONNELS DELEGUES ET SPEEDHOUSING</span><br><br>

            <p>4.1. Obligation des Professionnels</p>
<p style="text-align: justify">Les Professionnels agissant en qualité de « Délégué » sont des organismes propres et ne dépendent pas de Speedhousing par un contrat de travail, ils agissent en tant que partenaires du réseau Speedhousing, ils disposent et travaillent via leur propre carte professionnelle et/ou attestation de collaborateur, de leur propre assurance responsabilité civile professionnelle et sont adhérent à leur propre organisme de médiation dans le cadre de la relation entre le consommateur et le professionnel. </p>
<p style="text-align: justify">En s’inscrivant sur le site www.speedhousing.fr le professionnel exerçant avec une carte professionnelle et/ou une attestation de collaborateur atteste sur l’honneur avoir le droit et l’autorisation d’exercer et/ou de passer par l’intermédiaire de Speedhousing.</p>
            <p>Durant sa mission le Professionnel « Délégué » a le pouvoir et l’obligation de :</p>
            <ul>
<li>proposer et présenter les biens référencés sur le site www.speedhousing.fr à leur portefeuille de clients ; </li><br>

<li style="text-align: justify">faire visiter les biens référencés en fixant obligatoirement les rendez-vous de visite via l’agenda commun et outils de communications disponibles sur www.speedhousing.fr ; toute action entreprise en dehors du cadre établi par le Site du mandataire www.speedhousing.fr, prive le délégué de sa commission et l’expose aux poursuites judiciaires de la part de Speedhousing ; </li><br>

<li style="text-align: justify">déclarer et faire déclarer par le propriétaire (Particulier Vendeur), les offres, les contre-offres d’achat des biens, ainsi que l’offre définitive acceptée à la suite des visites, sur le site www.speedhousing.fr ; </li><br>

<li>déclarer la vente du bien sur le site www.speedhousing.fr ; </li><br>

<li>se rendre chez le notaire le jour de la signature de l’avant-contrat de vente ainsi que de l’acte authentique ; </li><br>

                <li style="text-align: justify">le Délégué ayant réalisé la vente s’engage à transmettre sa facture avec ses coordonnées bancaires au notaire désigné par le particulier vendeur lors de la mise en ligne de son annonce, le jour de sa présence à la signature de l’acte authentique, afin de se faire rémunérer 2,6 % du prix de la vente des biens ; </li><br>

<li style="text-align: justify">Le Délégué remplit l’objet de sous-mandat en toute indépendance, il travaille via sa carte professionnelle et/ou attestation de collaborateur et son assurance responsabilité civile professionnelle et non-pas celles de Speedhousing. Si une erreur professionnelle est réalisée durant sa mission, cela n’engage pas l’assurance responsabilité civile professionnelle de Speedhousing. En intégrant le réseau Speedhousing, le Professionnel « Délégué » s’engage à avoir souscrit à une assurance responsabilité civile professionnelle et à avoir sa carte professionnelle et/ou son attestation de collaborateur à jour avec l’autorisation d’exercice. Le professionnel s'engage également à être adhérant auprès d'un organisme de médiation dans le cadre de la relation entre consommateur et le professionnel. </li><br>

<li>En cas d’erreur professionnelle, le Délégué engage sa responsabilité à l’égard du Mandant.  </li><br>
            </ul>



<p>Le non-respect de ces conditions par le Délégué engage sa responsabilité et ne peut en aucun cas engager la responsabilité de Speedhousing.</p>

            <ul>
<li>Concernant les annonces Speedhousing, le Délégué s’interdit d’effectuer toute publicité sur d’autres sites que www.speedhousing.fr ou tout autre support.  </li><br>

<li style="text-align: justify">Le Délégué s’interdit de signer l’avant-contrat de vente (promesse de vente) sous seing privé ainsi que de détenir les fonds des dépôts de garantie sur les ventes réalisées. La signature de l’avant-contrat de vente (promesse de vente) s’effectue obligatoirement chez le notaire désigné par le Mandant lors de la mise en ligne de son annonce.</li><br>

<li style="text-align: justify">Le Délégué ne peut conclure directement un mandat avec le vendeur d’un bien référencé qu’il a connu par l’intermédiaire de Speedhousing et effectuer éventuellement une vente sans passer par l’intermédiaire de Speedhousing. Toute action entreprise en dehors du cadre établi par le Site du mandataire www.speedhousing.fr, prive le Délégué de sa commission et l’expose aux poursuites judiciaires de la part de Speedhousing ;</li><br>
            </ul>

<p>Dans tous les cas les pouvoirs et obligations des Délégués ne peuvent excéder ceux conférés au mandataire qui est Speedhousing, définis dans les mandats. </p>
<p>Le Professionnel « Délégué » est tenu de fournir à Speedhousing les informations exactes concernant son identité ainsi que les éléments relatifs à son activité.</p>
<p>Le Professionnel « Délégué » s’engage à tenir informé Speedhousing, sans délai de tout changement pouvant provenir de l’exercice de son activité à savoir :</p>
&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;Mettre à jour ses coordonnées <br>
&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;Mettre à jour son numéro de carte professionnelle et/ou attestation de collaborateur<br>
&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;Mettre à jour son assurance responsabilité civile professionnelle <br><br>

            <p>Lors d’un changement, il doit modifier les informations sur son espace Professionnel.</p><br>

            <p>4.2. Obligation de Speedhousing</p>
<p>Speedhousing a pour mission de faciliter les transactions immobilières, en mettant en relations les différents acteurs via le Site www.speedhousing.fr. </p>
<p style="text-align: justify">Seule une obligation de moyen pèse dès lors sur Speedhousing afin de proposer le meilleur environnement possible en vue de la réalisation de la transaction. Il ne pourra pas dès lors être demandé à Speedhousing une obligation de résultat dans l’exercice de sa mission.</p><br> <br>

            <span style="font-weight: bold">5. PROCEDURE DE SOUMMISSION D’OFFRE ET D’ACCEPTATION D’OFFRE</span><br><br>

<p>Les offres et contre-offres s’effectuent obligatoirement directement sur l’espace Utilisateur du Professionnel et du Particulier Vendeur sur le site www.speedhousing.fr. </p>
            <p>Le processus se fait de la manière suivante :</p>
            <ul>
                <li>Le Professionnel soumet l’offre de son client (qui est le Particulier Acquéreur) ;</li><br>
                <li>Le Particulier Vendeur a la possibilité de soit accepter l’offre, soit de la refuser et/ou de soumettre à son tour une contre-offre ;</li><br>
                <li>Le processus peut être reconduit jusqu’à ce que le Particulier vendeur ou le Professionnel accepte ou refuse l’offre.</li><br>
            </ul>

<br>

 <span style="font-weight: bold">6. CONDITIONS SUSPENSIVES D’OBTENTION DE CREDIT</span><br><br>


<p>Dans le cas d’un achat passant par l’obtention d’un crédit, une clause de condition suspensive est inscrite obligatoirement dans l’avant-contrat de vente.</p>
    <p>Si le Particulier Acquéreur obtient son crédit la vente se réalise.</p>
<p style="text-align: justify">Speedhousing ou ses Délégués peuvent présenter le Particulier Acquéreur auprès d’un organisme de crédit. En cas de mise en relation Speedhousing ou ses Délégués déclinent toute responsabilité dans la suite des échanges entre l’organisme de crédit et le Particulier Acquéreur.</p>
<p>Dans le cas où le Particulier Acquéreur se voit refuser son crédit, la vente s’annule et ce dernier récupère l’intégralité de son dépôt de garantie.</p><br> <br>

<span style="font-weight: bold">7. PRIX DU SERVICE ET MODALITES DE PAIEMENT</span><br><br>

            <p>7.1. Prix du service Speedhousing </p>
            <p>La mise en ligne d’annonce est gratuite pour le Particulier Vendeur.</p>
            <p>L’utilisation du Site www.speedhousing.fr est gratuite pour les Professionnels.</p>
<p style="text-align: justify">Speedhousing se fait rémunérer en commission lors de la réalisation d’une vente. Le prix de vente affiché dans les annonces inclut la commission.</p>
<p style="text-align: justify">La rémunération totale pour la réalisation de la vente est une commission fixée à hauteur de 3 % du prix de la vente des biens. La valeur de 3% comprend la rémunération du Mandataire et du Délégué.  La rémunération est à la charge de l’acquéreur (Particulier Acquéreur).</p>
<p style="text-align: justify">La rémunération de Speedhousing qualifié de « Mandataire » sera, TVA incluse, de 0,4 % du montant de la vente, à la charge de l’acquéreur.</p>
<p style="text-align: justify">La rémunération du Professionnel ayant vendu le bien qualifié de « Délégué » sera, TVA incluse, de 2,6 % du montant de la vente, à la charge de l’acquéreur.</p><br>

            <p>7.2. Modalités de paiement</p>
<p style="text-align: justify">La rémunération du Mandataire et du Délégué, dont le montant et le mode de calcul sont indiqués ci-avant, deviendra exigible à la date à laquelle l'opération est effectivement conclue et constatée dans un seul acte écrit signé par l'acquéreur et le vendeur (l’avant-contrat de vente signé chez le notaire désigné par le Particulier Vendeur lors de sa mise en ligne).</p>

<p>Le Mandataire et le Délégué ayant réalisé la vente, perçoivent sans délai leurs honoraires dès lors que l’acte authentique de vente a été signé.</p>

<p style="text-align: justify">Le notaire désigné lors de la mise en ligne de l’annonce par le Particulier Vendeur a l’obligation de verser directement 0,4 % du montant du prix de la vente sur le compte bancaire de Speedhousing et 2,6 % du montant du prix de la vente sur le compte bancaire du Délégué ayant vendu le bien. </p>

<p style="text-align: justify">En cas d'exercice éventuel d'un droit de préemption, le préempteur sera subrogé dans tous les droits et obligations de l'acquéreur. En conséquence, toute rémunération incombant éventuellement à l'acquéreur sera à la charge du préempteur. La présente condition est impérative.</p><br><br>

<span style="font-weight: bold">8. DROIT DE CONTACT </span><br><br>


<p style="text-align: justify">Speedhousing se réserve le droit de contacter les différents acteurs ; à savoir le Particulier Vendeur, le Particulier Acquéreur, les Professionnels, pour obtenir les informations complémentaires qu’il jugera nécessaires à l’accomplissement de sa mission.</p> <br><br>

<span style="font-weight: bold">9. MEDIATION DES LITIGES DE LA CONSOMMATION </span><br><br>

<p style="text-align: justify">SPEEDHOUSING informe le particulier qu'il peut avoir recours à un dispositif de médiation, conformément aux dispositions du code de la consommation, auprès du médiateur dont les coordonnées et le site internet sont précisés ci-après : Medicys, 73 boulevard de Clichy, 75009 Paris. Contact@medicys.fr, www.medicys.fr.</p> <br><br>

<span style="font-weight: bold">10. LANGUE</span><br><br>

<p style="text-align: justify">Dans l’hypothèse d’une traduction des présentes conditions générales dans une ou plusieurs langues, la langue d’interprétation sera la langue française en cas de contradiction ou de contestation sur la signification d’un terme ou d’une disposition.</p><br><br>

<span style="font-weight: bold">11. LOI APPLICABLE ET JURIDICTION</span><br><br>

<p style="text-align: justify">En cas de contestation sur la validité, l’interprétation et/ou l’exécution des présentes conditions générales, les parties conviennent que les tribunaux de Bobigny (93000) seront exclusivement compétents pour en juger, sauf règles de procédure impératives contraires.</p><br><br>

<span style="font-weight: bold">12. ENTREE EN VIGUEUR</span><br><br>

            <p>Les présentes conditions générales sont entrées en vigueur le 4 janvier 2018.</p><br><br><br><br><br><br>

    </div>
	</div>
</div>
{% endblock container %}
