{% extends "email/base_email.html" %}

{% block title %}{{ block.super }} - Vérification de votre annonce{% endblock %}

{% block content %}
{% autoescape on %}
<p>Bonjour {{fullname}},</p>
<p>Nous avons bien reçu votre mise en ligne d’annonce :  {{ annonce }}.</p>

<p>Votre annonce va être vérifiée et validée par notre service client. Une fois validé, vous recevrez un mail de confirmation. </p>
{% endautoescape %}
{{ block.super }}
{% endblock %}

