{% extends "email/base_email.html" %}

{% block title %}{{ block.super }} - Validation de vos modifications{% endblock %}

{% block content %}
{% autoescape on %}
<p>Bonjour {{fullname}},</p>
<p>Nous vous confirmons la validation de la modification de votre annonce :  {{ annonce }}.</p>

<p>Pensez bien à mettre à jour, sur votre espace utilisateur, vos disponibilités.
Les agents prennent rendez-vous sur vos créneaux  pour faire visiter votre bien à des acheteurs.</p>

<p><b>Astuce :</b>indisponible quelques jours ?  
indiquez le dans votre espace via l'onglet « mes indisponibilités ».
Vos crénaux de disponibilité restent inchangés.</p>
{% endautoescape %}
{{ block.super }}
{% endblock %}

