{% extends "admin/change_form.html" %}
{% load i18n static utilisateurs_extras %}




{% block submit_buttons_bottom %}
{% if original %}

<form class="pull-left" method="post" style="float:right">
    <button type="submit" class="button btn-default btn-success" style="display: none"></button>
</form>
<div class="paddin_b-10" style="padding: 10px 12px">
    <form action="{% url 'utilisateurs:delete-aav' original.pk %}?action=accepter" method="post" style="float:right">
        <button type="submit" class="button btn-default btn-success" style="background-color: #4abac0;border-color: #4abac0;color: white">
            <span class="glyphicon glyphicon-ok"></span>
            Valider le profil
        </button>
    </form>
    <form action="{% url 'utilisateurs:delete-aav' original.pk %}?action=refuser" method="post">
      {% csrf_token %}

        <button type="submit" class="button btn-default btn-danger"  style="background-color: #e41b74;color: white">
            Refuser le profil
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </form>

    {% else %}

    {{block.super}}
    {% endif %}
    {% endblock %}


    <br>
</div>
{% block admin_change_form_document_ready %}
{{ block.super }}
<style>
    .has_changed {
        border: solid 1px red;
        padding: 2px;
        border-radius: 5px;
    }
</style>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript">
console.log('pk : '  + "{{original.id}}" );
console.log('pk : ' +'{{ cl.result_list.0.id }}' );

    {% if not original.source %}
    $('#content-main').prepend("<h2 style='display:block;text-align:center;'>Nouvel Agent</h2>")
    {% else %}
    $('#content-main').prepend("<h2 style='display:block;text-align:center;'>Modification de l'Agent {{original.source}}</h2>")
    var changes_list = {{original|get_changes|safe}};
    var i;
    for (i = 0; i < changes_list.length; i++) {
        $('#id_' + changes_list[i]).parent().addClass("has_changed");
    }
    {% endif %}
</script>
{% endblock %}
