{% extends "email/base_email.html" %}

{% block title %}{{ block.super }} - Prise de contact{% endblock %}

{% block content %}
{% autoescape on %}
<p>Bonjour {{first_name}} {{last_name}},</p>
<p>Vous avez souhaité adresser le message suivant à l'équipe Speedhousing :</p>
<table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
  <tbody>
    <tr>
      <td align="left">
        <table border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>{{ message }}</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<p>Nos équipes vous recontacteront dès que possible.</p>
<p>Votre email : {{ sender }}</p>
<p>Votre téléphone : {{ phone }}</p>
{% endautoescape %}
{{ block.super }}
{% endblock %}

