{% extends "base.html" %}


{% load bootstrap3 %}
{% block style %}
{{ block.super }}
<style>
    .form-control{
        font-size: 15px;
        
    }
    
</style>
{% endblock style %}
{% block container %}
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-md-offset-2">
				<div style="font-size: 22.5px">NOUS CONTACTER</div>
				<hr class="fix-contact">
			</div>
			<div class="col-md-8 col-md-offset-2">
				<form method="post">
					{% csrf_token %}
					
					{% bootstrap_form form show_label=False %}
                    
	                {% buttons %}
					<button type="submit" class="sh_b_blue_sm pull-right" style="font-size: 14px">
						Envoyer 
						<span class="glyphicon glyphicon-send"></span>
					</button>
					{% endbuttons %}
				</form>
			</div>
		</div>
	</div>
{% endblock container %}
