{% extends "base.html" %}

{% block container %}
	<div class="container">
		<div class="col-md-12 clas" style="padding-bottom: 65px">
			<h3 style="font-size: 22.5px">FOIRE AUX QUESTIONS</h3>
			{% if request.GET.q %}
				<ul  class="nav nav-tabs" >
					{% for t, type in types %}
						<li role="presentation" {% if request.GET.q == t %}class="active"{% endif %}>
							<a href="{% url 'support:faq' %}?q={{ t }}" class="color_text1">
								{{ type }}
							</a>
						</li>
					{% endfor %}
				</ul>
				{% for f in object_list %}
					<a name="question{{ f.pk }}"></a>
					<h5 style="font-Weight: bold">{{ f.question|capfirst }}</h5>
					<p class="text-justify">{{ f.response }}</p>
					<hr>
				{% endfor %}
			{% else %}
				<hr>
				<div class="list-group">
					{% for t, type in types %}
						<a href="{% url 'support:faq' %}?q={{ t }}" class="list-group-item">
							Je suis un {{ type|lower }}
						</a>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>
{% endblock container %}